</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>
  <div class="footer-line"><?= date('Y-m-d'); ?></div></td>
</tr>
</table>
</div>
<script>
$('.list tr').mouseout(
    function () {
        $(this).css('backgroundColor', '');
    }
);

$('.list tr').mouseover(
    function () {
        $(this).css('backgroundColor', '#a8bfd7');
    }
);
</script>

</body>
</html>