<?= $this->filter->render($this) ?>
<table class="grid">
    <? foreach ($this->fields as $field) : ?>
    <th><?= $this->escape($field->getTitle()) ?></th>
    <? endforeach; ?>
    <th width="1%" nowrap="nowrap"></th>
    <? foreach($this->paginator as $item) : ?>
        <? $class = array(
            $this->cycle(array('even', 'odd'))->next()
        );
        $this->grid->onRowClass($item, $class); ?>
        <tr class="<?= implode(' ', $class) ?>">
            <? foreach ($this->fields as $field) : ?>
            <?= $field->render($item) ?>
            <? endforeach; ?>
            <td class="actions">
               <? foreach ($this->grid->getActions($item) as $action) : ?>
                <? if (is_string($action)) : ?>
                <a href="./<?= $action ?>?id=<?= $item->{$this->pk} ?>&b=<?= urlencode($_SERVER['REQUEST_URI'])?>"><img src="/public/img/admin/<?= $action ?>.png" /></a>
                <? else : ?>
                <?= call_user_func($action, $item, $_SERVER['REQUEST_URI']) ?>  
                <? endif; ?>
               <? endforeach; ?>
            </td>
        </tr>
        <?= $this->grid->renderAfterRow($item, count($this->fields)+1) ?>
    <? endforeach; ?>	
</table>
<? if ($this->canCreate) : ?>
<div class="add">
    <a href="./new/?<?= http_build_query($_GET + array('b' => $_SERVER['REQUEST_URI']))?>">Добавить</a>
</div>
<? endif; ?>
<?= $this->paginationControl($this->paginator,
                                    'Sliding',
                                    '_pagination.phtml'); ?>
<?= $this->grid->renderStatic() ?>