/* MEDIA 1024 */
@media (max-width: 1279px) {
	.resolution-large {
		display:block;
	}
	.tile-list {
		> li {
			width:25%;
		}
	}
	.right-fixed-links {
		&.bottom {
			&.absolute {
				.fixed-edit-link {
					bottom:167px;
				}
				.fixed-totop-link {
					bottom:90px;
				}
			}
		}
	}
	.fixed-star-link {
		right:39px;
	}
	.list-page {
		.fixed-edit-link {
			right:39px;
			bottom:143px;
		}
		.fixed-totop-link {
			right:39px;
			bottom:66px;
		}
	}
	.tile-item-content {
		padding:26px 28px;
		.author-holder {
			left:32px;
			bottom:27px;
		}
	}
	.unique-view {
		padding:40px 40px 43px;
	}
	.mypublications-section {
		margin-left:-20px;
		> article {
			width:33.33%;
			padding-left:20px;
		}
	}
	.subscribe {
		padding:57px 0 62px;
		.title {
			padding:0 0 24px;
		}
	}
	.faq-page {
		.publication-info-content {
			padding-right:0;
		}
	}
	.publication-page {
		.publication-info-content {
			padding-right:0;
		}
	}
	.publications-section {
		margin-left:-15px;
		> article {
			width:25%;
			padding-left:15px;
			&:nth-child(n+5){
				display:none;
			}
		}
	}
	.publication-banner {
		&.size2 {
			width:50%;
		}
	}
	.user-statistics {
		padding:28px 20px 30px;
	}
	.user-statistics-list {
		font-size:18px;
		li {
			margin:0 11px;
		}
	}
	.user-page {
		.publications:not(.bottom){
			.publications-section {
				> article {
					&:nth-child(n+5){
						display:inline-block;
					}
					&:nth-child(n+8){
						display:none;
					}
				}
			}
		}
	}
	.main-page,
	.category-page {
		.publications:not(.bottom){
			.publications-section {
				> article {
					&:nth-child(n+5){
						display:inline-block;
					}
					&:nth-child(n+12){
						display:none;
					}
				}
			}
		}
	}
	.vopros-actions {
		font-size:12px;
	}
	.experts-list {
		margin-left:-17px;
		> li {
			padding-left:17px;
			width:25%;
			&:nth-child(n+13) {
				display:none;
			}
		}
	}
	.podcasts-section {
		> article {
			width:33.33%;
			&:nth-child(n+10){
				display:none;
			}
		}
	}
	.popup-search-results-section {
		> article {
			width:33.33%;
			&:nth-child(n+7){
				display:none;
			}
		}
	}
	.popup-search {
		.popup {
			max-width:695px;
		}
	}
	.popup-close-holder {
		max-width:944px;
	}
	.sliderkit-go-prev {
		left:61px;
	}
	.sliderkit-go-next {
		right:49px;
	}
	.publication-article-image {
		figcaption {
			bottom:68px;
		}
	}
	.users-list {
		> li {
			width:16.66%;
			&:nth-child(n+7){
				display:none;
			}
		}
	}
	.short-articles-list {
		> li {
			width:20%;
			&:nth-child(n+6){
				display:none;
			}
		}
	}
}
/* MEDIA 1024 END */