/* MEDIA 640 */
@media (max-width: 767px) {
	.resolution-small {
		display:block;
	}
	h2,.h2 {
		font-size:16px;
	}
	h3,.h3 {
		font-size:14px;
	}
	.right-fixed-links {
		&.bottom {
			&.absolute {
				.fixed-edit-link {
					bottom:152px;
				}
				.fixed-totop-link {
					bottom:75px;
				}
			}
		}
	}
	.fixed-star-link {
		top:42px;
		right:42px;
	}
	.list-page {
		.fixed-totop-link,
		.fixed-edit-link {
			right:39px;
		}
	}
	.author-content {
		display:block;
		width:auto;
		padding:3px 0 0;
		height:auto;
		em {
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			display:block;
		}
	}
	.tile-item-content {
		padding:22px 28px;
		.author-holder {
			bottom:23px;
			left:29px;
			right:15px;
		}
	}
	.tile-item-content {
		.letter {
			font-size:120px;
			top:-23px;
		}
	}
	.news-item {
		padding:33px 30px 36px;
		&.blue {
			padding:33px 27px 36px;
			.news-item-right {
				padding:4px 0 0;
			}
			.news-item-meta-list {
				font-size:14px;
				li {
					&:after {
						margin:0 7px 0 12px;
					}
				}
			}
		}
	}
	.news-item-right {
		padding:9px 0 0;
	}
	.news-item-meta-list {
		font-size:13px;
		padding:0 0 4px 2px;
	}
	.publications-add-desc {
		padding:31px 56px 25px;
		strong {
			font-size:14px;
			line-height:1.57;
			br {
				display:none;
			}
		}
	}
	.reservation {
		padding:35px 24px 35px 25px;
		h2 {
			font-size:14px;
		}
	}
	.questions-section {
		.news-item-right {
			padding:10px 0 0;
		}
	}
	.content-top {
		h1 {
			font-size:48px;
		}
	}
	.content-top-main {
		padding-top:230px;
		.user-statistics-list {
			font-size:14px;
			padding:0 0 37px;
			li {
				margin:0 7px;
			}
		}
	}
	.unique-views-page {
		.content-top {
			h1 {
				padding:0 0 22px;
				span {
					display:block;
					font-size:48px;
				}
			}
		}
		.content-top-main {
			padding:228px 20px 22px;
			.user-holder {
				margin:0 0 14px;
			}
		}
		.publications-add-desc {
			padding:43px 46px 25px;
			strong {
				padding:0 0 21px;
				line-height:1.2;
			}
		}
	}
	.unique-view-left {
		margin:22px 26px 0 0;
	}
	.unique-view {
		padding:40px 26px 44px 27px;
		h2 {
			font-size:13px;
		}
	}
	.unique-view-right {
		margin:9px 0 0 25px;
	}
	.article-page {
		.content-top-main {
			padding-top:249px;
		}
		.content-top {
			h1 {
				font-size:30px;
				padding:0 0 65px;
				span {
					font-size:48px;
				}
			}
		}
	}
	.face-photo {
		width:93px;
		height:93px;
	}
	.face-info-status {
		width:93px;
		[class^="item-status-"]{
			margin:25px auto;
		}
	}
	.face-info-content {
		padding:38px 24px;
		min-height:95px;
	}
	.face-info-content-list {
		font-size:13px;
		li {
			&.user-icon {
				&:before {
					position:relative;
					top:2px;
				}
			}
			&:after {
				margin:0 5px;
			}
			&.yellow {
				display:none;
			}
			&:nth-last-child(2){
				&:after {
					display:none;
				}
			}
		}
	}
	.article-page-desc {
		font-size:16px;
		padding:63px 50px 60px;
	}
	.article-wrap {
		padding:87px 56px 88px;
	}
	.letter {
		left:44px;
	}
	.article {
		h2 {
			margin:37px 0 26px;
		}
	}
	.copyright {
		width:390px;
		span {
			display:none;
		}
	}
	.footer {
		padding:50px 28px 50px 23px;
	}
	.agelimit {
		margin:-11px 0 0;
	}
	.faces-photos-list {
		li {
			&:nth-child(n+9){
				display:none;
			}
		}
	}
	.mypublications {
		padding:0;
	}
	.mypublications-section {
		margin:-36px -3px 0 -29px;
		> article {
			padding-left:27px;
		}
	}
	.mypublication {
		h2 {
			font-size:18px;
		}
	}
	.mypublication-image {
		.delete-link {
			right:23px;
		}
		.author-holder {
			left:22px;
			right:22px;
		}
		[class^="item-status-"] {
			right:25px;
		}
		img {
			max-width:none;
			width:auto;
		}
		.edit-link {
			right:24px;
		}
	}
	.mypublication-image-holder {
		overflow:hidden;
	}
	.mypublication-content {
		padding:29px 23px 55px;
		.letter {
			left:11px;
		}
		.meta-list {
			left:24px;
		}
	}
	.mypublications-buttons {
		padding:0 0 32px;
		&.bottom {
			padding:19px 0 0;
		}
	}
	.publication-info-top {
		padding:40px 40px 63px;
	}
	.publication-info-add-image {
		width:239px;
		height:206px;
		margin:0 25px 0 0;
	}
	.publication-info-category {
		font-size:13px;
	}
	.publication-info-title {
		min-height:82px;
	}
	.publication-info-title {
		textarea {
			font-size:16px;
		}
	}
	.publication-info-content {
		padding:64px 0 0;
		.fav-holder {
			top:0;
		}
	}
	.publication-info-text {
		textarea {
			padding:85px 69px;
		}
	}
	.publication-info-buttons {
		padding:30px 30px 45px;
	}
	.refresh-slider-top {
		h3 {
			font-size:18px;
		}
	}
	.users-list {
		> li {
			width:33.33%;
			&:nth-child(n+4){
				display:none;
			}
		}
	}
	.message {
		padding:31px 40px 14px 27px;
	}
	.popular-articles-page {
		.content-top {
			h1 {
				font-size:36px;
				padding:0 0 18px;
			}
		}
		.content-top-main {
			padding-top:251px;
		}
		.mypublications-section {
			margin-top:-35px;
		}
	}
	.content-top-desc {
		padding:0 0 30px;
		max-width:480px;
	}
	.refresh-slider-title {
		strong {
			font-size:120px;
			height:109px;
			letter-spacing:0.03em;
		}
		span {
			left:166px;
		}
	}
	.short-article {
		h3 {
			font-size:13px;
			left:43px;
			right:43px;
			top:41px;
			bottom:36px;
		}
		&:after {
			left:17px;
			right:16px;
			top:16px;
			bottom:18px;
		}
	}
	.subscribe {
		padding:58px 0 61px;
		max-width:405px;
		.title {
			font-size:24px;
			padding:0 0 21px;
		}
	}
	.social-list {
		> li {
			width:50%;
			&:nth-child(n+3){
				display:none;
			}
		}
	}
	[class^="social-item-"] {
		padding:22px 85px 20px 73px;
		&:before {
			right:64px;
		}
	}
	.popular-articles-page {
		.content-top-main {
			padding-top:257px;
		}
		.content-top-desc {
			padding:0 0 24px;
		}
	}
	.faq-page {
		.publication-info-top {
			padding:41px 63px 72px 70px;
		}
		.publication-info-content {
			padding:63px 0 0;
		}
		.publication-info-title {
			min-height:78px;
		}
		.news {
			padding:0 0 4px;
		}
	}
	.publication-page {
		.content-top-main {
			padding-bottom:64px;
			.user-holder {
				margin:0 0 16px;
			}
		}
	}
	.publication-page {
		.publication-info-top {
			padding:42px 40px 59px;
		}
		.publication-info-image {
			width:240px;
			height:208px;
			margin:0 26px 0 0;
		}
		.publication-info-content {
			padding:62px 0 0 0;
		}
		.message {
			padding:31px 29px 17px;
		}
	}
	.publications {
		padding:0 0 10px;
	}
	.publication-article-image {
		figcaption {
			font-size:16px;
			left:58px;
			right:58px;
			bottom:58px;
		}
	}
	.publication-article-wrap {
		padding:96px 65px 60px 55px;
		.letter {
			left:40px;
			top:5px;
		}
	}
	.publication-article {
		h2 {
			line-height:1;
			margin:-5px 0 23px;
		}
	}
	.publications-section {
		margin:-23px 0 0 -26px;
		> article {
			width:50%;
			padding:29px 0 0 26px;
			&:nth-child(n+3){
				display:none;
			}
		}
	}
	.publication-image {
		.caption {
			padding:29px 30px 20px;
			left:23px;
			right:25px;
			top:24px;
			bottom:21px;
		}
	}
	.publication-content {
		padding:19px 23px;
	}
	.publications-buttons {
		padding:26px 0 0;
	}
	.full-subscribe {
		left:55px;
		right:55px;
		bottom:54px;
		h2 {
			line-height:1;
			padding:0 60px 50px;
		}
	}
	.full-subscribe-list {
		margin:-39px 0 23px -31px;
		> li {
			padding:39px 0 0 31px;
		}
	}
	.full-subscribe-desc {
		font-size:13px;
		margin-bottom:15px;
	}
	.user-page {
		.content-top-desc {
			max-width:400px;
		}
		.content-top-main {
			padding:228px 20px 17px;
		}
		.publications:not(.bottom) {
			.publications-section {
				> article {
					&:nth-child(n+3) {
						display:inline-block;
					}
					&:nth-child(n+5) {
						display:none;
					}
				}
			}
		}
		.publications {
			padding:0 0 6px;
		}
		.refresh-slider-wrap {
			margin-bottom:25px;
		}
	}
	.user-statistics {
		padding:34px 10px 31px;
	}
	.user-statistics-list {
		font-size:12px;
		li {
			margin:0 5px;
		}
	}
	.award {
		font-size:10px;
		padding:17px 5px 10px;
		height:170px;
		&:before {
			@include transform(scale(0.7));
			margin-bottom:-2px;
		}
	}
	.publication-banner {
		&.size2 {
			width:50%;
		}
	}
	.main-page {
		.content-top-main {
			padding:238px 20px 60px;
		}
		.content-top {
			h1 {
				font-size:24px;
				line-height:1.09;
				padding:0 0 34px;
			}
		}
		.banner {
			margin-bottom:22px;
		}
		.publications:not(.bottom) {
			.publications-section {
				> article {
					&:nth-child(n+3),
					&:nth-child(n+5) {
						display:inline-block;
					}
					&:nth-child(n+7) {
						display:none;
					}
				}
			}
		}
		.publications-buttons {
			padding:29px 0 0;
		}
	}
	.publications-slider-wrap {
		margin:-25px -3px 11px -2px;
		&.questions-slider-wrap {
			margin-bottom:27px;
		}
	}
	.category-page {
		.content-top {
			h1 {
				font-size:36px;
			}
		}
		.content-top-main {
			padding:247px 20px 60px;
		}
		.content-top-desc {
			padding:0px 0 35px;
		}
	}
	.category-page {
		.banner {
			margin:0 -30px 23px;
		}
		.publications:not(.bottom) {
			.publications-section {
				> article {
					&:nth-child(n+3),
					&:nth-child(n+5) {
						display:inline-block;
					}
					&:nth-child(n+7) {
						display:none;
					}
				}
			}
		}
		.publications-buttons {
			padding:29px 0 0;
		}
	}
	.vopros-page {
		.content-top-main {
			padding:249px 20px 60px;
		}
		.content-top {
			h1 {
				padding:0 0 21px;
			}
		}
		.content-top-desc {
			padding:0 0 32px;
		}
		.publications-slider-wrap {
			margin-top:-6px;
		}
		.refresh-slider-wrap {
			&.bottom {
				margin-top:17px;
			}
		}
	}
	.question {
		padding:112px 20px 55px 21px;
		.letter {
			left:10px;
		}
		h3 {
			font-size:18px;
		}
		.author-holder {
			right:23px;
			top:26px;
		}
		.meta-list {
			left:23px;
			bottom:36px;
		}
		.author-content {
			height:45px;
			width:9999px;
			display:table-cell;
			padding:0;
		}
	}
	.experts-page {
		.content-top {
			h1 {
				padding:0 0 17px;
			}
		}
		.content-top-main {
			padding:257px 20px 60px;
		}
		.content-top-desc {
			font-size:12px;
			max-width:450px;
		}
		.refresh-slider-wrap {
			&.bottom {
				margin-top:3px;
			}
		}
		.publications-slider-wrap {
			margin-top:-10px;
			&.questions-slider-wrap {
				margin-bottom:32px;
			}
		}
	}
	.experts-list {
		margin-left:-27px;
		> li {
			width:50%;
			padding-left:27px;
			&:nth-child(n+7){
				display:none;
			}
		}
	}
	.expert-caption {
		padding:41px 15px 15px;
	}
	.question-info-link {
		bottom:46px;
	}
	.podcasts-page {
		.content-top {
			h1 {
				font-size:60px;
				padding:0 0 14px;
			}
		}
		.content-top-main {
			padding:233px 20px 60px;
		}
		.refresh-slider-wrap {
			&.bottom {
				margin-top:7px;
			}
		}
	}
	.podcast {
		padding:126px 20px 55px 27px;
		h3 {
			font-size:16px;
		}
		.letter {
			left:16px;
		}
		.author-holder {
			right:29px;
		}
	}
	.podcasts-section {
		margin:-23px -2px 0 -30px;
		> article {
			padding-left:28px;
		}
	}
	.author-page {
		.content-top-desc {
			max-width:470px;
		}
		.content-top-main {
			padding:236px 20px 60px;
		}
		.content-top {
			h1 {
				font-size:60px;
				padding:0 0 12px;
			}
		}
		.publications-slider-wrap {
			&.questions-slider-wrap {
				margin-bottom:37px;
			}
		}
		.refresh-slider-wrap {
			&.bottom {
				margin-top:22px;
			}
		}
	}
	.geolocation-authors {
		.caption {
			padding:14px 80px 20px;
			h3 {
				font-size:16px;
				padding:0 0 24px;
			}
		}
	}
	.popup-search {
		.popup {
			font-size:18px;
		}
	}
	.popup-search {
		.popup {
			margin:0 36px;
			h3 {
				padding:0 0 72px;
				font-size:18px;
			}
		}
	}
	input.popup-search-input {
		font-size:100px;
		line-height:130px;
		margin:0 0 40px;
	}
	.publication-image {
		.caption {
			left:20px;
			bottom:20px;
			right:20px;
			top:19px;
		}
	}
	.book-info {
		h2 {
			font-size:30px;
			padding:0 0 10px;
		}
		p {
			max-width:370px;
			margin:0 auto 22px;
		}
	}
	.book-info-author {
		padding:0 0 8px;
	}
	.books-pager-list {
		li {
			padding:0 23px;
		}
	}
	.sliderkit-go-prev {
		left:38px;
	}
	.sliderkit-go-next {
		right:38px;
	}
	.side-submenu-menus {
		width:278px;
		right:278px;
	}
	.side-submenu-menus-dark {
		width:278px;
		right:0;
		padding:40px 20px 40px 43px;
	}
	.side-submenu-menus-question {
		width:278px;
	}
	.side-menu-list {
		> li {
			&.active,
			&.current {
				.side-submenu-menus-wrap {
					width:556px;
				}
				.side-submenu-profile-wrap {
					&.active {
						width:557px !important;
						.side-submenu-profile {
							right:307px;
						}
					}
				}
			}
		}
	}
	.side-submenu-profile-edit {
		right:0;
		width:307px;
	}
	.author-recommends {
		.refresh-slider-title {
			span {
				left:59px !important;
			}
		}
	}
	.best-authors {
		.refresh-slider-title {
			span {
				left:239px !important;
			}
		}
	}
	.best-experts {
		.refresh-slider-title {
			span {
				left:159px !important;
			}
		}
	}
}
/* MEDIA 640 END */