/* MEDIA 768 */
@media (max-width: 999px) {
	.resolution-medium {
		display:block;
	}
	h2,.h2 {
		font-size:18px;
	}
	.footer {
		padding:50px 25px 50px 23px;
	}
	.fixed-edit-link {
		right:28px;
		bottom:119px;
	}
	.fixed-totop-link {
		right:28px;
		bottom:42px;
	}
	.fixed-star-link {
		right:42px;
	}
	.right-fixed-links {
		&.bottom {
			&.absolute {
				.fixed-edit-link {
					bottom:163px;
				}
				.fixed-totop-link {
					bottom:86px;
				}
			}
		}
	}
	.list-page {
		.fixed-edit-link,
		.fixed-totop-link {
			right:42px;
		}
	}
	.publications-add-desc-close {
		right:29px;
	}
	.publications-add-desc {
		padding:44px 40px 42px;
		font-size:12px;
		strong {
			font-size:16px;
			line-height:1.36;
			padding:0 0 17px;
		}
	}
	.content {
		padding-left:30px;
		padding-right:30px;
	}
	.category {
		font-size:14px;
		padding:0 0 7px;
	}
	.reservation {
		h2 {
			font-size:16px;
		}
	}
	.reservation-right {
		width:231px;
		margin-left:-231px;
		padding:0 0 0 30px;
	}
	.reservation-left {
		padding:0 250px 0 0;
	}
	.news-item-meta-list {
		font-size:14px;
		padding:0 0 3px 2px;
		li {
			&:after {
				margin:0 7px;
			}
		}
	}
	.reservations-section {
		.news-item {
			h2 {
				font-size:16px;
			}
		}
	}
	.news-item {
		padding:35px 36px 36px;
		&.blue {
			.news-item-meta-list {
				padding-bottom:4px;			
			}
		}
	}
	.tile-list {
		> li {
			width:33.33%;
		}
	}
	.questions-section {
		.news-item-right {
			padding:9px 0 2px;
		}
	}
	.date {
		font-size:12px;
	}
	[class^="news-item-status"] {
		font-size:12px;
	}
	.unique-views-page {
		.content-top {
			h1 {
				font-size:36px;
				padding:12px 0 22px;
			}
		}
		.publications-add-desc {
			font-size:11px;
			strong {
				padding:0 0 25px;
			}
		}
	}
	.unique-view {
		padding:40px 26px 54px 27px;
		h2 {
			font-size:14px;
		}
	}
	.unique-view-left {
		margin:22px 31px 0 0;
	}
	.unique-view-right {
		padding:13px 0 0 14px;
	}
	.unique-view-middle {
		padding:2px 0 0;
	}
	.article-page {
		.content-top {
			h1 {
				font-size:36px;
				padding:0 0 54px;
			}
		}
		.content-top-main {
			padding-top:238px;
		}
	}
	.face-info-content-list {
		font-size:14px;
		li {
			&.user-icon {
				&:before {
					margin:0 17px 0 0;
				}
			}
			&:after {
				margin:0 4px 0 8px;
			}
		}
	}
	.article-page-desc {
		font-size:18px;
		padding:66px 40px 55px;
	}
	.article-wrap {
		padding:87px 68px 93px;
	}
	.article {
		h2 {
			font-size:24px;
		}
	}
	.letter {
		left:56px;
	}
	.faces-photos-list {
		li {
			&:nth-child(n+12){
				display:none;
			}
		}
	}
	.mypublications {
		padding:0 22px;
	}
	.mypublications-section {
		margin:-24px 0 0 -50px;
		> article {
			width:50%;
			padding-left:50px;
			&:nth-child(n+7){
				display:none;
			}
		}
	}
	.mypublications-buttons {
		&.bottom {
			padding:28px 0 0;
		}
	}
	.publicon-page {
		.content-top-main {
			padding:234px 20px 49px;
		}
		.content-top {
			h1 {
				font-size:36px;
				padding:6px 0 22px;
			}
		}
	}
	.publication-info-category {
		font-size:14px;
		padding:0 0 11px 3px;
	}
	.publication-info-title {
		textarea {
			font-size:18px;
		}
	}
	.publication-info-text {
		textarea {
			padding:87px 69px;
		}
	}
	.publication-info-bottom {
		.letter {
			left:58px;
			top:-7px;
		}
	}
	.refresh-slider-top {
		padding:29px 80px 30px 29px;
	}
	.refresh-slider-link {
		right:29px;
	}
	.message {
		padding:31px 40px 14px 39px;
	}
	.message {
		.news-item-meta-list {
			margin:0 0 -2px -2px;
			.date {
				font-size:12px;
			}
			li {
				&:after {
					margin:0 2px;
				}
			}
		}
	}
	.message-content {
		font-size:13px;
	}
	.messages-buttons {
		padding:30px 0 0;
	}
	.popular-articles-page {
		.content-top {
			h1 {
				font-size:48px;
			}
		}
		.content-top-main {
			padding-top:246px;
		}
		.mypublications-section {
			> article {
				&:nth-child(n+7) {
					display:block;
				}
				&:nth-child(n+11) {
					display:none;
				}
			}
		}
	}
	.content-top-desc {
		font-size:13px;
		max-width:590px;
		padding:0 0 43px;
	}
	.popular-articles-page {
		.mypublications-section {
			margin-top:-31px;
		}
	}
	.popular-articles-page {
		.refresh-slider-wrap {
			margin-left:-30px;
			margin-right:-30px;
		}
	}
	.subscribe {
		padding:48px 0 54px;
	}
	.social-list {
		> li {
			width:33.33%;
			&:nth-child(n+4){
				display:none;
			}
		}
	}
	[class^="social-item-"] {
		padding:22px 85px 20px 48px;
		&:before {
			right:35px;
		}
	}
	.publication-info-title {
		min-height:79px;
	}
	.faq-page {
		.publication-info-title {
			padding:0 0 14px;
		}
		.message {
			padding:31px 35px 20px 36px;
		}
	}
	.message-right {
		margin:2px 0 0 15px;
	}
	.message-author {
		padding:0 0 5px;
	}
	.questions-section {
		.news-item-right {
			padding:6px 0 0;
		}
	}
	.publication-page {
		.content-top-main {
			padding-top:234px;
		}
		.content-top .h1 {
			font-size:36px;
			padding:6px 0 22px;
		}
		.publication-info-category {
			padding-bottom:14px;
		}
		.message {
			padding:31px 40px 17px 39px;
		}
		.refresh-slider-wrap {
			margin-left:-30px;
			margin-right:-30px;
		}
	}
	.fav-value {
		margin-right:9px;
	}
	.publication-article-image {
		figcaption {
			font-size:18px;
			bottom:65px;
			left:67px;
			right:67px;
		}
	}
	.publication-article-wrap {
		padding:94px 70px 60px;
		.letter {
			left:52px;
			top:10px;
		}
	}
	.publication-article {
		h2 {
			font-size:24px;
			letter-spacing:-0.008em;
		}
	}
	.publications-section {
		> article {
			width:33.33%;
			&:nth-child(n+4){
				display:none;
			}
		}
	}
	.full-subscribe {
		left:70px;
		right:70px;
		h2 {
			font-size:24px;
		}
	}
	.full-subscribe-desc {
		letter-spacing:-0.01em;
		margin-bottom:31px;
	}
	.user-page {
		.content-top-desc {
			max-width:460px;
		}
		.refresh-slider-wrap {
			margin:0 -30px 44px;
			&.bottom {
				margin:0 -30px;
			}
		}
		.publications {
			&:not(.bottom) {
				.publications-section {
					> article {
						&:nth-child(n+4){
							display:inline-block;
						}
						&:nth-child(n+7){
							display:none;
						}
					}
				}
			}
		}
	}
	.user-statistics {
		padding:35px 20px 31px;
	}
	.user-statistics-list {
		font-size:14px;
		li {
			margin:0 8px;
		}
	}
	.award {
		height:205px;
		font-size:11px;
		padding:36px 10px 10px;
		&:before {
			@include transform(scale(0.85));
			margin-bottom:5px;
		}
	}
	.user-actions {
		padding:0 0 23px;
		margin-top:-8px;
	}
	.publication-banner {
		width:33.33%;
		&.size2 {
			width:33.33%;
			.large {
				display:none;
			}
			.small {
				display:block;
			}
		}
	}
	.main-page {
		.content-top-main {
			padding:218px 20px 60px;
		}
		.content-top {
			h1 {
				font-size:30px;
				padding:0 0 37px;
				span {
					font-size:48px;
				}
			}
		}
		.refresh-slider-wrap {
			margin:0 -30px;
		}
		.banner {
			margin-left:-30px;
			margin-right:-30px;
		}
	}
	.content-top-main {
		.user-statistics-list {
			font-size:16px;
		}
	}
	.publications-slider-nav {
		h2 {
			font-size:24px;
			letter-spacing:0;
		}
	}
	.publications-slider-wrap {
		margin:-14px 22px 11px;
	}
	.main-page ,
	.category-page {
		.publications {
			&:not(.bottom) {
				.publications-section {
					> article {
						&:nth-child(n+4){
							display:inline-block;
						}
						&:nth-child(n+10){
							display:none;
						}
					}
				}
			}
		}
	}
	.category-page {
		.content-top-main {
			padding:240px 20px 60px;
		}
		.content-top {
			h1 {
				font-size:48px;
				padding:0 0 18px;
			}
		}
		.refresh-slider-wrap {
			margin:0 -30px;
		}
	}
	.publications-slider-nav {
		h2 {
			font-size:0;
			line-height:0;
			&:before {
				content:'Популярные статьи';
				font-size:24px;
				line-height:1.4;
				color:#262121;
			}
		}
	}
	.vopros-page {
		.content-top {
			h1 {
				padding:0 0 13px;
			}
		}
		.content-top-main {
			padding-top:248px;
		}
		.publications-slider-nav {
			h2 {
				font-size:24px;
				line-height:1.4;
				&:before {
					display:none;
				}
			}
		}
	}
	.vopros-actions {
		margin-top:46px;
	}
	
	.experts-page {
		.content-top-main {
			padding-top:246px;
		}
		.vopros-actions {
			margin-top:0;
		}
	}
	.experts-list {
		> li {
			width:33.33%;
			&:nth-child(n+10){
				display:none;
			}
		}
	}
	
	.podcasts-page {
		.content-top-main {
			padding-top:232px;
		}
		.content-top {
			h1 {
				font-size:60px;
			}
		}
	}
	.podcasts-section {
		margin:-23px 18px 0 -27px;
		> article {
			width:50%;
			padding:23px 0 0 50px;
			&:nth-child(n+7){
				display:none;
			}
		}
	}
	.author-page {
		.content-top-main {
			padding-top:236px;
		}
		.content-top {
			h1 {
				font-size:60px;
				padding:0 0 11px;
			}
		}
	}
	.geolocation-authors {
		margin:0 -30px 32px;
	}
	.popup-search-results-section {
		margin:-53px 0 0 -50px;
		> article {
			width:50%;
			padding:53px 0 0 50px;
			&:nth-child(n+5){
				display:none;
			}
		}
	}
	input.popup-search-input {
		font-size:120px;
		line-height:150px;
		margin:0 0 38px;
	}
	.popup-search {
		.popup {
			max-width:447px;
			h3 {
				padding:0 0 54px;
			}
		}
	}
	.popup-close-holder {
		max-width:710px;
	}
	.users-list {
		> li {
			width:25%;
			&:nth-child(n+5){
				display:none;
			}
		}
	}
	.short-articles-list {
		> li {
			width:33.33%;
			&:nth-child(n+4){
				display:none;
			}
		}
	}
	.short-article {
		&:after {
			top:18px;
			bottom:20px;
			left:19px;
			right:19px;
		}
		h3 {
			bottom:36px;
			left:51px;
			right:51px;
			top:45px;
		}
	}
	.book-info {
		font-size:11px;
		padding:210px 20px 0;
		h2 {
			font-size:36px;
			padding:0 0 8px;
		}
		p {
			max-width:460px;
			margin:0 auto 24px;
		}
	}
	.book-info-author {
		padding:0 0 13px;
		font-size:14px;
	}
	.book-info-type {
		font-size:18px;
		padding:0 0 9px;
	}
	.sliderkit-go-prev {
		left:41px;
	}
	.sliderkit-go-next {
		right:41px;
	}
	.side-submenu-menus-question {
		.h3 {
			font-size:18px;
		}
	}
	.side-submenu-sign-wrap {
		.h3 {
			margin-top:-4px;
			font-size:18px;
		}
	}
	.best-authors {
		.refresh-slider-title {
			span {
				left:358px !important;
			}
		}
	}
	.best-experts {
		.refresh-slider-title {
			span {
				left:279px !important;
			}
		}
	}
}
/* MEDIA 768 END */