/* TYPOGRAPHY */
* {
	box-sizing:border-box;
}
html,body {
	height:auto;
	min-height:100%;
	background:#000;
}
body {
	color:$black_color;
	font-size:$main_size;
	line-height:$mainLh;
	font-family:$font_bold, $inherit_fonts;
	font-weight:400;
	font-style:normal;
	min-width:640px;
	position:relative;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	color:$black_color;
	font-size:$h1_size;
	line-height:$mainLh;
	font-family:$font_bold, $inherit_fonts;
	font-weight:400;
	font-style:normal;
	margin:0;
}
h2,.h2 {
	font-size:$h2_size;
}
h3,.h3 {
	font-size:$h3_size;
}
h4,.h4 {
	font-size:$h4_size;
}
h5,.h5 {
	font-size:$h5_size;
}
h6,.h6 {
	font-size:$h6_size;
}
p {
	margin:0 0 16px;
}
hr {
	overflow:hidden;
	border:0;
	border-bottom:1px solid #000;
	margin-bottom:18px;
}
a {	
	color:$black_color;
	text-decoration:none;
	@include transition(all 0.1s linear);
	&:hover {
		color:$blue_color;
		text-decoration:underline;
	}
}
label {
	cursor:pointer;
}
b, 
strong{
	font-weight:normal;
	font-family:$font_bold;
}
.ruble {
	font-family:$ruble;
	text-transform:none;
}
/* TYPOGRAPHY END */

/* reset-list */
[class$="-list"],
[class*="-list "] {
	background:none;
	border:0;
	list-style:none;
	margin:0;
	padding:0;
}
/* reset-list end */

/* default input(type: text, password), textarea */
textarea,
input[type=text],
input[type=password], 
input[type=date], 
input[type=datetime], 
input[type=email], 
input[type=number], 
input[type=search], 
input[type=tel], 
input[type=time], 
input[type=url]{
	cursor:text;
	width:100%;
	display:block;
	background:#fff;
	border:0;
	padding:11px 20px 12px;
	color:$black_color;
	font-size:12px;
	font-family:$font_bold, $inherit_fonts;
	line-height:$mainLh;
	font-weight:400;
	font-style:normal;
	&:focus {
		background:#fff;
	}
	&:invalid,
	&.error {
		box-shadow:none;
		background:#FEC5C5;
	}
	&[disabled] {
		color:#b0b0b0;
		background:$gray_color;
		cursor:default !important;
	}
}
textarea {
	height:249px;
	padding:19px 20px;
	line-height:1.45;
}
/* default input(type: text, password), textarea end */

/* default placeholder */
@include placeholderColor($black_color);
/* default placeholder end */

/* additional elements */
.align-left {
	float:left;
	margin:0 20px 18px 0;
}
.align-right {
	float:right;
	margin:0 0 18px 20px;
}
.align-center {
	display:block;
	margin:0 auto 18px;
	text-align:center;	
	max-width:100%;
}
[class*="-columns"]{
	margin-left:-20px;
}
[class*="column-"]{
	float:left;
	padding-left:20px;
}
.column-50 {
	width:50%;
}
/* additional elements end */

/* default styles for forms */
.form-info {
	font-size:12px;
	line-height:1.18;
	color:#000;
	text-align:center;
	padding:0 0 31px;
}
.form-line {
	margin:0 0 13px;
}
.wrap-select,
[class^="wrap-select-"],
[class*=" wrap-select-"] {
	position:relative;
}
.wrap-select select,
[class^="wrap-select-"] select,
[class*=" wrap-select-"] select {
	width:100%;
}
.wrap-label {
	padding:0 0 9px;
	color:$brown2_color;
	text-transform:uppercase;
	font-family:$font_bold;
}
.wrap-select {
	select {
		@include clearSelect;
		height:34px;
		font-size:12px;
		line-height:34px;
		text-transform:uppercase;
		padding:0 10px;
		color:#000;
		border:1px solid #DEDEDE;
		background:#fff;
		option:first-child {
			display:none;
		}
	}
}
/* default styles for forms end */

/* clearfix */
.clearfix,
.buttons,
[class*="-buttons"],
.slider-list,
[class*="-columns"],
form {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
/* clearfix end */

/* buttons */
[class^="btn-"],
[class*=" btn-"] {
	border:none;
	text-decoration:none;
	position:relative;
	text-align:center;
	display: inline-block;
	vertical-align: top;
	@include transition(all 0.1s linear);
	input {
		background:transparent;
		border:0;
		color:transparent;
		cursor: pointer;
		height:100%;
		width: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: -9999px;
		z-index: 10;
	}
	&.disabled {
		cursor:default !important;
		input {
			display:none !important; 
		}
	}
	&:hover {
		text-decoration:none;
	}
}
a[class^="btn-"],
a[class*=" btn-"],
div[class^="btn-"],
div[class*=" btn-"] {
	cursor:pointer;	
}

/* btn-red */
.btn-red {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:16px;
	background:$red_color;
	text-transform:uppercase;
	color:#fff;
	border-radius:18px;
	&:hover {
		color:#fff;
		background:#a50810;
	}
}
/* btn-red end */

/* btn-light-red */
.btn-light-red {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:16px 15px 14px;
	background:$red2_color;
	text-transform:uppercase;
	color:#fff;
	border-radius:25px;
	&:hover {
		color:#fff;
	}
}
/* btn-light-red end */

/* btn-dark-red */
.btn-dark-red {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:12px 11px 11px;
	background:$red_dark_color;
	text-transform:uppercase;
	color:#fff;
	border-radius:25px;
	&:hover {
		color:#fff;
		background:#a50810;
	}
}
/* btn-dark-red end */

/* btn-blue */
.btn-blue {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:16px;
	background:$blue_color;
	color:#fff;
	text-transform:uppercase;
	border-radius:18px;
	&:hover {
		color:#fff;
		background:#308cd8;
	}
}
/* btn-blue end */

/* btn-gray */
.btn-gray {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:16px 15px 14px;
	background:$gray_color;
	text-transform:uppercase;
	color:$black_color;
	border-radius:25px;
	&:hover {
		background:$blue_color;
		color:#fff;
	}
}
/* btn-gray end */

/* btn-dark-gray */
.btn-dark-gray {
	font-family:$font_bold, $inherit_fonts;
	font-size:$main_size;
	line-height:$mainLh;
	font-weight:400;
	padding:25px 15px 28px;
	background:rgba(56,56,56,0.6);
	text-transform:uppercase;
	color:rgba(253,253,253,0.1);
	&:hover {
		color:$black_color;
		background:$blue_color;
		color:#fff;
	}
}
/* btn-dark-gray end */

/* btn-black */
.btn-black {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:12px 11px 11px;
	background:$black_color;
	text-transform:uppercase;
	color:#fff;
	border-radius:25px;
	&:hover {
		color:#fff;
		background:#352f2f;
	}
}
/* btn-black end */

/* btn-brown */
.btn-brown {
	font-family:$font_bold, $inherit_fonts;
	font-size:12px;
	line-height:$mainLh;
	font-weight:400;
	padding:18px 36px 16px;
	background:$brown_light_color;
	text-transform:uppercase;
	color:#fefefe;
	border-radius:20px;
	&:hover {
		color:#fefefe;
		background:#af9856;
	}
}
/* btn-brown end */
/* buttons end */

/* main-blocks */
.wrapper {
	background:#000;
	min-height:100%;
	overflow:hidden;
}
.wrapper-inner {
	min-height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
	max-width:1280px;
	margin:0 auto;
}
.main {
	background:#F3F9FC;
	position:relative;
	margin:0 0 0 83px;
}
/* main-blocks end */


/* side-menu */
.side-menu-wrap {
	position:fixed;
	left:0;
	right:0;
	max-width:1280px;
	top:0;
	margin:0 auto;
	height:0;
	z-index:2010;
}
.side-menu {
	position:fixed;
	top:0;
	bottom:0;
	width:83px;
	background:$black_color;
}
.side-menu-list {
	height:100%;
	position:relative;
	z-index:2010;
	> li {
		&+li {
			margin-top:1px;
		}
		&:first-child {
			&:before {
				content:'';
				position:absolute;
				background:$black_color;
				left:0;
				right:0;
				height:9999px;
				z-index:51;
			}
		}
		&.active,
		&.current {
			.side-submenu-menus-wrap {
				width:600px;
			}
			.side-submenu-sign-wrap {
				width:250px;
			}
			.side-submenu-categories {
				width:557px;
			}
			.side-menu-buy-wrap {
				width:280px;
			}
			.side-submenu-profile-wrap {
				width:250px;
			}
			.side-menu-link {
				background:$brown_light_color;
				img {
					opacity:0;
				}
			}
			.side-menu-menus { 
				.icon-menu {
					background:none;
					&:before,
					&:after {
						  transition-delay: 0s, 0.3s;
					}
					&:before {
						top: 0;
						@include transform(rotate(45deg));
					}
					&:after {
						bottom: 0;
						@include transform(rotate(-45deg));
					}
				}
			}
			.side-submenu-menus-dark {
				@include transform(translate(0));
			}
			.side-menu-profile {
				svg {
					opacity:1;
				}
			}
			.side-menu-sign {
				&:before {
					opacity:0;
				}
				svg {
					opacity:1;
				}
			}
			.side-menu-buy {
				svg {
					fill:#000;
				}
			}
			.side-menu-categories {
				.icon-question {
					fill:#000;
				}
			}
			.side-menu-listed {
				.icon-tile {
					fill:#000;
				}
			}
			.side-menu-search {
				&:before {
					@include sprite($icon-search-black);
				}
			}
			.side-menu-authors {
				&:before {
					@include sprite($icon-author-black);
				}
			}
			.side-menu-popular {
				.icon-heart {
					fill:#000;
				}
			}
			.side-menu-podcast {
				.icon-podcast {
					fill:#000;
				}
			}
			.side-submenu-categories-columns {
				[class*="column-"]{
					&+[class*="column-"] {
						@include transform(translate(0));
					}
				}
			}
		}
	}
}
.side-menu-link {
	display:block;
	width:83px;
	height:84px;
	background:#222020;
	position:relative;
	z-index:52;
	img {
		@include transition(all 0.5s ease 0s);
	}
	svg {
		position:absolute;
		top:50%;
		left:50%;
	}
	&:before {
		content:'';
		position:absolute;
		top:50%;
		left:50%;
		@include transform(translate(-50%,-50%)); 
	}
	.red-count {
		position:absolute;
		right:7px;
		top:7px;
	}
	&:hover {
		background:$brown_light_color;
	}
}
/* side-menu end */

/* side-menu-menus */
.side-submenu {
	position:absolute;
	top:0;
	left:100%;
	bottom:0;
	z-index:50;
	@include transition(all 0.5s ease 0s);
	overflow:hidden;
	width:0;
	&.active {
		@include transform(translateX(0));
	}
}
.side-menu-menus {
	background:$blue_color !important;
	&:before {
		display:none;
	}
	.icon-menu {
		width:29px;
		height:4px;
		background:#fff;
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%,-50%));
		border-radius:3px;
		@include transition(background 0s ease 0.3s);
		&:before,
		&:after {
			content:'';
			height:4px;
			background:#fff;
			position:absolute;
			top:-9px;
			left:0;
			right:0;
			border-radius:3px;
			transition-delay: 0.3s, 0s;
			transition-duration: 0.3s, 0.3s;
			transition-property: top, transform;
		}
		&:after {
			top:auto;
			bottom:-9px;
			transition-property: bottom, transform;
		}
	}
}
.side-menu-list > li.active .side-submenu-menus-wrap {
	&.active {
		.side-submenu-menus-question {
			@include transform(translateX(100%));
		}
	}
}
.side-submenu-menus {
	background:$blue_color;
	width:300px;
	padding:40px;
	height:100%;
	position:absolute;
	right:300px;
	z-index:42;
}
.side-submenu-menus-list {
	font-family:$font;
	letter-spacing:0.03em;
	li {
		&+li {
			padding-top:7px;
		}
		&.current {
			a {
				color:#000;
			}
		}
	}
	a {
		color:#fff;
		text-decoration:underline;
		margin-right:10px;
		&:hover {
			color:#000;
		}
	}
}
.side-menu-overlay {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.8);
	z-index:2009;
	display:none;
}
.red-count {
	display:inline-block;
	min-width:16px;
	padding:0 2px;
	height:16px;
	border-radius:8px;
	text-align:center;
	font-size:11px;
	line-height:16px;
	color:#fff;
	background:$red2_color;
	vertical-align:middle;
	font-family:$font;
}
.green-checked {
	display:inline-block;
	vertical-align:middle;
	margin-bottom:-5px;
	position:relative;
	top:-2px;
}
.icon-checked {
	width:17px;
	height:16px;
	background:#fff;
	border-radius:50%;
	fill:#5C9541;
}
.side-submenu-menus-dark {
	background:#19191B;
	width:280px;
	padding:40px 39px;
	height:100%;
	position:absolute;
	top:0;
	right:20px;
	z-index:40;
	@include transition(all 0.5s ease 0.6s);
	@include transform(translate(-100%));
}
.side-submenu-menus-dark-list {
	font-family:$font;
	letter-spacing:0.02em;
	li {
		&+li {
			padding-top:7px;
		}
	}
	&+.side-submenu-menus-dark-list {
		padding-top:56px;
	}
	a {
		color:#4f4b49;
		text-decoration:underline;
		&:hover {
			color:#fff;
		}
	}
}
.side-submenu-menus-question {
	width:300px;
	background:$brown_light_color;
	padding:39px 41px 41px 41px;
	position:absolute;
	z-index:41;
	left:0;
	top:0;
	bottom:0;
	@include transition(all 0.5s ease 0s);
	@include transform(translateX(-100%));
	.h3 {
		padding:0 0 23px;
	}
	p {
		color:#fff;
		font-size:12px;
		line-height:18px;
		font-family:$font_bold;
		padding:0 0 25px;
	}
}
.side-submenu-menus-question-buttons {
	padding:16px 0 0;
	[class*="btn-"]{
		display:block;
		width:100%;
		border-radius:0;
		&+[class*="btn-"]{
			margin-top:16px;
		}
	}
	.btn-blue {
		padding:15px 16px 14px;
	}
}
/* side-menu-menus end */

/* side-menu-buy */
.side-menu-buy-wrap {
	&.active {
		.side-submenu-buy {
			@include transform(translateX(-100%) !important);
		}
		.side-submenu-pay {
			@include transform(translateX(0) !important);
		}
	}
}
.side-menu-buy {
	svg {
		fill:#403C3C;
		width:29px;
		height:27px;
		margin:-13px 0 0 -14px;
	}
}
.side-submenu-buy {
	width:280px;
	color:#fefefe;
	background:$brown_light_color;
	padding:39px 40px 40px;
	color:#fefefe;
	position:absolute;
	right:0;
	top:0;
	height:100%;
	@include transition(all 0.5s ease 0s);
	fieldset {
		border:0;
		margin:0;
		padding:0;
		&.side-submenu-buy-delivery {
			padding-bottom:8px;
		}
		&+fieldset {
			margin-top:11px;
		}
	}
	input {
		&+input {
			margin-top:13px;
		}
	}
}
.side-buy-author {
	padding:0 0 4px;	
}
.side-buy-type {
	color:$brown2_color;
	text-transform:uppercase;
	padding:0 0 11px;
}
.side-buy-title {
	font-size:26px;
	color:$black_color;
	text-transform:uppercase;
	padding:0 0 13px;
	&+.price {
		padding:0 0 17px;
	}
}
.price {
	color:#fefefe;
	font-size:30px;
	line-height:1;
	.ruble {
		font-weight:700;
	}
}
.side-menu-buy-buttons {
	padding:10px 0 0;
	.btn-blue {
		display:block;
		border-radius:0;
		padding:15px 16px;
	}
}
/* side-menu-buy end */

/* side-submenu-pay */
.side-submenu-pay {
	width:280px;
	color:#fefefe;
	background:$brown_light_color;
	padding:39px 40px 40px 41px;
	color:#fefefe;
	@include transition(all 0.5s ease 0s);
	@include transform(translateX(-100%) !important);
	height:100%;
	position:absolute;
	right:0;
	top:0;
	.side-buy-type,
	.side-buy-title	{
		padding:0 0 7px;
	}
	fieldset {
		margin:0;
		padding:0;
		border:0;
		&+fieldset {
			margin-top:20px;
		}
	}
	.side-submenu-pay-cost {
		padding-bottom:17px;
		border-bottom:1px solid $brown2_color;
		.side-buy-title {
			&+.price {
				padding:0 0 8px;
			}
		}
		.price {
			padding:0 0 8px;
		}
		.wrap-label {
			padding:0 0 1px;
		}
	}
}
.side-menu-pay-buttons {
	padding:14px 0 0;
	[class*="btn-"] {
		display:block;
		width:100%;
		border-radius:0;
	}
	.btn-blue {
		padding:15px 16px 15px;
	}
}
.payments-list {
	padding:0 0 6px;
	li {
		&+li {
			margin-top:12px;
		}
	}
}
.payment-item {
	display:table-cell;
	width:9999px;
	height:38px;
	vertical-align:middle;
	text-align:center;
	background:#BEA451;
	cursor:pointer;
	img {
		&+img {
			display:none;
		}
	}
	&.active {
		&.webmoney {
			background:#006AB4;
		}
		&.visa {
			background:#FCFDFE;
		}
		img {
			&:first-child {
				display:none;
			}
			&+img {
				display:inline-block;
			}
		}
	}
	input[type="radio"]{
		position:absolute;
		left:-9999px;
	}
}
/* side-submenu-pay end */

/* side-submenu-subscribe */
.side-submenu-subscribe {
	@extend .side-submenu-pay;
	@include transform(translateX(0) !important);
	.side-submenu-pay-cost {
		padding-bottom:14px;
		.wrap-label {
			padding:0 0 4px;
		}
	}
	fieldset {
		&+fieldset {
			margin-top:30px;
		}
	}
}
.side-buy-desc {
	color:#000;
	padding:5px 0 15px;
}
/* side-submenu-subscribe end */

/* side-menu-categories */
.side-menu-categories {
	.icon-question {
		width:28px;
		height:28px;
		margin:-13px 0 0 -13px;
		fill:#403C3C;
	}
}
.side-submenu-categories-columns {
	margin:0;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	width:557px;
	[class*="column-"]{
		padding:42px 41px 41px 41px;
		background:$brown_light_color;
		@include transition(all 0.5s ease 0.6s);
		height:100%;
		position:relative;
		&:first-child {
			z-index:3;
		}
		&+[class*="column-"] {
			@include transform(translate(-100%));
			background:#BEA558;
			z-index:2;
		}
	}
}
.side-submenu-categories-list {
	@extend .side-submenu-menus-list;
	font-size:13px;
	li {
		&+li {
			padding-top:15px;
		}
	}
}
/* side-menu-categories end */

/* side-menu-sign */
.side-menu-sign {
	&:before {
		@include sprite($icon-lock);
	}
	svg {
		width:21px;
		height:21px;
		margin:-10px 0 0 -10px;
		opacity:0;
	}
}
.side-submenu-sign-wrap {
	.h3 {
		padding:0 0 13px;
		text-align:center;
		color:#fefefe;
	}
}
.side-submenu-registration {
	width:250px;
	height:100%;
	background:$brown_light_color;
	padding:42px 40px 40px;
	@include transform(translate(-100%));
	position:absolute;
	right:0;
	height:100%;
	top:0;
	@include transition(all 0.5s ease 0s);
	&.active {
		@include transform(translate(0));
	}
}
.side-submenu-login {
	@extend .side-submenu-registration;
}
.side-submenu-remember-password {
	@extend .side-submenu-registration;
}
.user-holder {
	text-align:center;
	margin:0 0 41px;
	display:block;
}
a.user-holder {
	text-decoration:none;
	&:hover {
		.user-image {
			&:before {
				opacity:1;
			}
		}
	}
	.user-image {
		&:before {
			@include transition(all 0.2s ease 0s);
			content:'';
			position:absolute;
			border-radius:50%;
			left:-9px;
			top:-9px;
			right:-9px;
			bottom:-9px;
			border:10px solid #fff;
			opacity:0;
		}
	}
}
.user-image {
	position:relative;
	width:93px;
	height:93px;
	margin:0 auto 12px;
	img {
		border-radius:50%;
	}
	&.empty {
		@include sprite($icon-user-empty);
	}
	[class^="item-status-"]{
		position:absolute;
		right:-5px;
		top:-12px;
	}
	&:not(.empty){
		&:hover {
			.user-image-edit {
				opacity:1;
			}
		}
	}
	.red-count {
		position:absolute;
		left:50%;
		bottom:-8px;
		@include transform(translate(-50%));
	}
}
.user-image-edit {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	background:rgba(4,4,4,0.7);
	border-radius:50%;
	&:before {
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		opacity:0.7;
		@include transform(translate(-50%,-50%));
		@include sprite($icon-camera);
	}
}
.user-title {
	color:#fff;
	padding:0 0 4px;
	strong {
		display:block;
		font-size:18px;
		line-height:1.1;
		padding:3px 0 0;
	}
	span {
		display:block;
		font-size:12px;
	}
}
.form-agreement {
	font-size:12px;
	color:#fff;
	text-align:center;
	padding:44px 0 0;
	position:relative;
	a {
		color:#fff;
		text-decoration:underline;
		&:hover {
			color:$blue_color;
		}
	}
	.icon-checked {
		position:absolute;
		left:50%;
		top:0;
		width:32px;
		height:30px;
		margin-left:-16px;
		fill:#5C9541;
	}
}
.side-submenu-sign-buttons {
	text-align:center;
	padding:2px 0 14px;
	[class*="btn-"]{
		display:block;
		width:100%;
		border-radius:0;
		&+[class*="btn-"] {
			margin-top:13px;
		}
	}
	.btn-blue {
		padding:16px 16px 14px;
	}
	.btn-red {
		padding:15px 16px 14px;
	}
}
.remember-password-link {
	font-size:12px;
	text-decoration:underline;
	text-transform:uppercase;
	display:inline-block;
	margin-top:12px;
	&:hover {
		color:#fff;
	}
}
/* side-menu-sign end */

/* side-menu-profile */
.side-menu-profile {
	img {
		max-width:100%;
		width:100%;
	}
	svg {
		width:21px;
		height:21px;
		margin:-10px 0 0 -10px;
		opacity:0;
	}
}
.side-menu-list > li.active .side-submenu-profile-wrap {
	&.active {
		width:600px !important;
		.side-submenu-profile {
			right:350px;
		}
	}
}
.side-submenu-profile {
	background:$brown_light_color;
	padding:42px 40px 40px;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:250px;
	@include transition(all 0.5s ease 0s);
	z-index:5;
	.user-holder {
		margin:0 0 47px;
	}
}
.user-address {
	font-size:11px;
	padding:0 0 8px;
}
.user-rating {
	color:$brown2_color;
	font-size:11px;
}
.side-profile-menu-top {
	padding-bottom:26px;
}
.side-profile-menu-list {
	li {
		&+li {
			margin-top:6px;
			&.divider {
				margin-top:33px;
			}
		}
	}
	a {
		text-decoration:underline;
		margin-right:10px;
		&:hover {
			color:#fff;
		}
	}
	.brown {
		color:$brown2_color;
	}
}
.side-profile-menu-bottom {
	.side-profile-menu-list {
		li {
			&+li {
				margin-top:1px;
				&.divider {
					margin-top:24px;
				}
			}
		}
	}
}
.side-submenu-profile-edit {
	width:350px;
	padding:40px;
	height:100%;
	background:$aqua_color;
	@include transition(all 0.5s ease 0s);
	position:absolute;
	z-index:4;
	right:0;
	top:0;
	textarea {
		padding:10px 20px;
		height:121px;
	}
}
.side-submenu-profile-edit-buttons {
	.btn-gray {
		display:block;
		width:100%;
		border-radius:0;
		padding:15px;
	}
}
/* side-menu-profile end */

/* side-menu-listed */
.side-menu-listed {
	.icon-tile {
		fill:#403C3C;
		width:27px;
		height:27px;
		margin:-13px 0 0 -13px;
	}
}
/* side-menu-listed end */

/* side-menu-search */
.side-menu-search {
	&:before {
		@include sprite($icon-search);
	}
	&.active {
		background:$brown_light_color;
		&:before {
			@include sprite($icon-search-black);
		}
	}
}
/* side-menu-search end */

/* side-menu-authors */
.side-menu-authors {
	&:before {
		@include sprite($icon-author); 
	}
}
.side-submenu-authors {
	
}
/* side-menu-authors end */

/* side-menu-popular */
.side-menu-popular {
	.icon-heart {
		width:28px;
		height:29px;
		fill:#403C3C;
		margin:-15px 0 0 -13px;
	}
}
/* side-menu-popular end */

/* side-menu-podcast */
.side-menu-podcast {
	.icon-podcast {
		width:31px;
		height:31px;
		fill:#403C3C;
		margin:-16px 0 0 -15px;
	}
}
/* side-menu-podcast end */



/* FOOTER */
.footer {
	@extend .clearfix;
	padding:50px 37px 50px 35px;
	background:#000;
	position:relative;
	z-index:8;
	color:#fff;
	font-size:12px;
	a {
		color:#fff;
		text-decoration:underline;
		&:hover {
			color:$blue_color;
			text-decoration:none;
		}
	}
}
.counters {
	float:left;
	margin:0 17px 0 0;
}
.copyright {
	float:left;
	font-family:$font;
	letter-spacing:0.02em;
}
.agelimit {
	float:right;
	width:53px;
	height:53px;
	border-radius:50%;
	background:#27272B;
	font-size:14px;
	color:#f2f9fc;
	line-height:53px;
	text-align:center;
	margin:-10px 0 0 0;
}
/* FOOTER END */

/* HEADER */
.header {
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:186px;
	z-index:4;
}
.header-decor {
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:0;
	border-top:186px solid #1D1C1C;
	border-left:599px solid transparent;
	border-right:599px solid transparent;
	z-index:4;
	/*&.fixed {
		position:fixed;
	}*/
}
.logo-holder {
	position:absolute;
	left:50%;
	top:-153px;
	z-index:5;
	margin-left:-27px;
	text-align:center;
	color:#fffefe !important;
	text-decoration:none !important;
}
.logo {
	background:url(../img/logo.png) no-repeat 0 0;
	width:59px;
	height:55px;
	display:block;
}
.logo-desc {
	text-transform:uppercase;
	padding:2px 0 0;
	line-height:1;
	strong {
		color:$red_dark_color;
		display:block;
		font-size:30px;
	}
	span {
		display:block;
	}
}
/* HEADER END */

/* CONTENT */
.content-top {
	background:url(../img/bg/content-top.jpg) no-repeat center center;
	background-size:cover;
	position:relative;
	z-index:3;
	h1,.h1 {
		color:#fff;
		text-align:center;
		text-transform:uppercase;
		padding:0 0 20px;
		display:block;
		line-height:1.16;
		letter-spacing:0.03em;
		span {
			display:block;
			font-size:60px;
		}
	}
	&:before {
		content:'';
		position:absolute;
		background:rgba(0,0,0,0.5);
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:2;
	}
}
.content-top-inner {
	position:relative;
	z-index:3;
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:250px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
	}
	&:after {
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:189px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
	}
}
.content-top-main {
	position:relative;
	z-index:6;
	padding:228px 20px 49px;
	.user-holder {
		margin:0 0 31px;
	}
	.user-image {
		margin:0 auto 11px;
	}
	.user-title {
		font-size:16px;		
	}
	.user-statistics-list {
		font-size:18px;
		padding:0 0 43px;
		li {
			margin:0 10px;
		}
	}
}
.content-top-desc {
	color:#fff;
	max-width:720px;
	margin:0 auto;
	padding:0 0 38px;
	text-align:center;
}
.content-top-buttons {
	text-align:center;
	> [class*="btn-"]{
		margin:0 13px;
		min-width:221px;
	}
}
.content {
	padding:40px;
}
/* CONTENT END */

/* ARTICLE-PAGE */
.article-page {
	.content-top {
		h1 {
			padding:0 0 61px;
		}
	}
	.content-top-main {
		padding-top:217px;
		padding-bottom:60px;
	}
}

/* faces */
.faces {
	position:relative;
	z-index:5;
}
.faces-photos-list {
	white-space:nowrap;
	font-size:0;
	line-height:0;
	width:100%;
	display:table;
	li {
		display:inline-block;
		vertical-align:top;
		&.current {
			.face-photo {
				z-index:5;
				&:before {
					opacity:1;
				}
			}
		}
	}
}
.face-photo {
	width:86px;
	height:88px;
	display:block;
	position:relative;
	img {
		min-width:100%;
		min-height:100%;
	}
	&:before {
		content:'';
		position:absolute;
		border:10px solid #fff;
		top:-10px;
		left:-10px;
		right:-10px;
		bottom:-10px;
		@include transition(all 0.3s ease 0s);
		opacity:0;
	}
	&:hover {
		z-index:5;
		&:before {
			opacity:1;
		}
	}
}
.faces-info-list {
	> li {
		display:none;
		&.current {
			display:block;
		}
	}
}
.face-info {
	@extend .clearfix;
	&.violet {
		background:#B1159E;
	}
	&.red {
		background:$red_color;
	}
	&.blue {
		background:$blue_color;
	}
}
.face-info-status {
	float:left;
	width:85px;
	[class^="item-status-"]{
		margin:20px auto;
		display:block;
	}
}
.face-info-content {
	overflow:hidden;
	padding:33px 30px;
	background:#27272B;
	min-height:86px;
}
.face-info-content-list {
	color:#fffefe;
	font-size:16px;
	font-family:$font;
	li {
		display:inline-block;
		&.user-icon {
			.icon-users {
				display:inline-block;
				margin:0 13px 0 0;
				fill:#fff;
				width:13px;
				height:13px;
			}
		}
		&:after {
			content:'I';
			margin:0 5px 0 8px;
			color:#979899;
		}
		&:last-child {
			&:after {
				display:none;
			}
		}
		&.yellow {
			color:$brown_light_color;
		}
	}
	a {
		color:#fff;
		text-decoration:underline;
	}
}
[class^="item-status-"]{
	display:inline-block;
	text-transform:uppercase;
	width:45px;
	height:45px;
	border-radius:50%;
	font-size:13.76px;
	line-height:44px;
	color:#fefcfc;
	text-align:center;
	padding:0 4px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.item-status-violet {
	background:#9D0E8C;
}
.item-status-brown {
	background:$brown_color;
}
.item-status-blue {
	background:$blue2_color;
}
.item-status-green {
	background:$green_color;
}
.item-status-red {
	background:$red2_color;
}
.item-status-dark-red {
	background:$red_dark_color;
}
.item-status-orange {
	background:$orange_color;
}
/* faces end */

/* article-page-desc */
.article-page-desc {
	background:$blue_color;
	padding:66px 20px 67px;
	text-align:center;
	font-size:20px;
	color:#fff;
	.inner {
		max-width:780px;
		margin:0 auto;
	}
}
/* article-page-desc end */

/* article */
.article-wrap {
	position:relative;
	background:#fff;
	padding:87px 102px 76px;
}
.article {
	position:relative;
	z-index:5;
	h2 {
		margin:37px 0 28px;
	}
	> * {
		&:first-child {
			margin-top:0;
		}
	}
}
.letter {
	position:absolute;
	text-transform:uppercase;
	left:88px;
	top:-3px;
	z-index:4;
	color:$blue_color;
	font-size:210px;
	line-height:1;
	opacity:0.3;
}
/* article end */
/* ARTICLE-PAGE END */

/* LIST PAGE */
/* tile-list */
.tile-list {
	@extend .clearfix;
	> li {
		float:left;
		width:20%;
		opacity:0;
		position:relative;
		z-index:2;
		@include transition(opacity 0.65s ease 0s);
		&.active {
			opacity:1;
		}
		&:hover {
			z-index:3;
		}
	}
}
.tile-item {
	position:relative;
	display:block;
	&:hover {
		.tile-item-content {
			opacity:1;
		}
	}
}
.tile-item-image {
	img {
		max-width:100%;
		width:100%;
	}
}
.tile-item-content {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:25px 32px;
	background:$blue_color;
	opacity:0;
	@include transition(opacity 0.3s ease 0s);
	.h3 {
		position:relative;
		z-index:5;
	}
	.author-holder {
		position:absolute;
		left:36px;
		right:25px;
		bottom:34px;
		z-index:5;
	}
	.letter {
		opacity:0.5;
		color:#fff;
		font-size:150px;
		top:-28px;
		left:21px;
	}
	.author-content {
		&:hover {
			text-decoration:underline;
		}
	}
}
.author-holder {
	@extend .clearfix;
	color:#fefefe;
	font-size:12px;
}
.author-image {
	float:left;
	margin:0 12px 0 0;
	width:37px;
	height:37px;
	img {
		border-radius:50%;
		width:100%;
		height:100%;
		display:block;
	}
}
.author-content {
	overflow:hidden;
	display:table-cell;
	height:37px;
	vertical-align:middle;
	width:9999px;
	a {
		color:#fefefe;
		&:hover {
			color:#fefefe; 
		}
		span {
			font-size:12px;
			display:block;
		}
	}
	em {
		font-style:normal;
	}
}
/* tile-list end */

/* right-fixed-links */
.right-fixed-links {
	position:fixed;
	z-index:9;
	left:0;
	right:0;
	max-width:1280px;
	margin:0 auto;
	height:0;
	opacity:1;
	visibility:visible;
	@include transition(opacity 0.3s ease 0s);
	&.top {
		top:0;
	}
	&.bottom {
		bottom:0;
		&.absolute {
			position:absolute;
			.fixed-edit-link {
				bottom:161px;
			}
			.fixed-totop-link {
				bottom:84px;
			}
		}
	}
	&.hidden {
		visibility:hidden;
		opacity:0;
	}
}
.right-fixed-links-top {
	position:fixed;
	left:0;
	right:0;
	max-width:1280px;
	top:0;
	margin:0 auto;
	height:0;
}
.fixed-star-link {
	position:absolute;
	z-index:90;
	width:66px;
	height:66px;
	top:43px;
	right:53px;
	background:$brown_light_color;
	border-radius:50%;
	box-shadow:0 0 15px rgba(0,0,0,0.5);
	&:before {
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		@include sprite($icon-star-logo);
		@include transform(translate(-50%,-50%));
	}
	&:hover {
		background:#af9856;
	}
}
.fixed-edit-link {
	position:absolute;
	z-index:90;
	width:66px;
	height:66px;
	right:41px;
	bottom:132px;
	background:$blue_color;
	border-radius:50%;
	box-shadow:0 0 15px rgba(0,0,0,0.5);
	&:before {
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		@include sprite($icon-edit);
		@include transform(translate(-50%,-50%));
	}
	&:hover {
		background:#308cd8;
	}
}
.fixed-totop-link {
	position:absolute;
	z-index:90;
	width:66px;
	height:66px;
	right:41px;
	bottom:55px;
	background:$red_color;
	border-radius:50%;
	box-shadow:0 0 15px rgba(0,0,0,0.5);
	&:before {
		content:'';
		position:absolute;
		left:50%; 
		top:50%;
		@include sprite($icon-arrow-white-top);
		@include transform(translate(-50%,-50%));
	}
	&:hover {
		background:#a50810;
	}
}
.list-page {
	.fixed-edit-link {
		right:53px;
		bottom:144px;
		@include transform(none !important);
	}
	.fixed-totop-link {
		right:53px;
		bottom:67px;
		@include transform(none !important);
	}
}
/* right-fixed-links end */

/* popup-wrap */
.popup-wrap {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1000;
	background:rgba(3,1,2,0.8);
	display:none;
}
.popup-overlay {
	position:fixed;
	z-index:1001;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.popup-inner {
	display:table;
	width:100%;
	height:100%;
}
.popup-holder {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:100%;
	height:100%;
	padding:20px;
}
.popup-container {
	max-width:1280px;
	padding:0 0 0 83px;
	margin:0 auto;
}
.popup {
	position:relative;
	z-index:1002;
	margin:0 auto;
}
.popup-write {
	.popup {
		max-width:311px;
		[class*="btn-"]{
			display:block;
			padding:17px 16px 16px;
			&+[class*="btn-"] {
				margin-top:20px;
			}
		}
	}
}
/* popup-wrap end */

/* popup-search */
.popup-search {
	position:absolute;
	bottom:auto;
	min-height:100%;
	.popup-container {
		padding:49px 0 49px 82px;
	}
	.popup-inner {
		display:block;
		height:auto;
	}
	.popup-holder {
		display:block;
		vertical-align:top;
		height:auto;
	}
	.popup-overlay {
		background:#030303;
	}
	.popup {
		margin:0 62px;
		max-width:946px;
		color:#fefefe;
		text-align:left;
		h3 {
			color:#fefefe;
			padding:0 0 27px;
		}
	}
}
input.popup-search-input {
	background:transparent;
	font-size:150px;
	line-height:180px;
	padding:0;
	color:#fff;
	margin:0 0 35px;
	&::-webkit-input-placeholder {color: rgba(255,255,255,0.1); opacity: 1;}
	&:-moz-placeholder {color: rgba(255,255,255,0.1); opacity: 1;}
	&::-moz-placeholder {color: rgba(255,255,255,0.1); opacity: 1;}
	&:-ms-input-placeholder {color: rgba(255,255,255,0.1); opacity: 1;}
	&:focus:-moz-placeholder {color:rgba(255,255,255,0.1); opacity: 1;}
	&:focus::-moz-placeholder {color:rgba(255,255,255,0.1); opacity: 1;}
	&:focus::-webkit-input-placeholder {color:rgba(255,255,255,0.1); opacity: 1;}
	&:focus:-ms-input-placeholder {color:rgba(255,255,255,0.1); opacity: 1;}
	&:focus::placeholder {color:rgba(255,255,255,0.1); opacity: 1;}
	&:focus {
		background:transparent;
	}
}
.popup-close-holder {
	position:fixed;
	left:0;
	right:0;
	max-width:1216px;
	top:69px;
	margin:0 auto;
	height:0;
}
.popup-close {
	position:absolute;
	right:40px;
	top:0;
	.icon-close {
		width:27px;
		height:27px;
		fill:#fff;
	}
}
.popup-search-results-buttons {
	padding:42px 0 0;
	.btn-dark-gray {
		display:block;
	}
}
.popup-search-results-section {
	@extend .clearfix;
	margin:-36px 0 0 -50px;
	font-size:0;
	line-height:0;
	> article {
		font-size:$main_size;
		line-height:$mainLh;
		display:inline-block;
		vertical-align:top;
		width:25%;
		padding:36px 0 0 50px;
		&:nth-child(n+9){
			display:none;
		}
	}
	.publication {
		background:transparent;
		h5 {
			font-size:14px;
			a {
				color:#fefefe;
			}
		}
	}
	.publication-image {
		margin:0 0 17px;
	}
}
/* popup-search end */
/* LIST PAGE END */

/* NEWS PAGE */
.news-section {
	> * {
		&+* {
			margin-top:18px;
		}
		&:nth-child(n+6){
			display:none;
		}
	}
}
.news-item {
	@extend .clearfix;
	background:#fff;
	padding:33px 37px 36px;
	@include transition(box-shadow 0.3s ease 0s);
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		h2 {
			a {
				text-decoration:underline;
			}
		}
	}
	h2 {
		letter-spacing:-0.006em;
		a {
			&:hover {
				color:$black_color;
			}
		}
	}
	&.small {
		h2 {
			font-size:14px;
		}
		.news-item-right {
			padding:5px 0 2px;
		}
		.news-item-meta-list {
			padding-bottom:3px;
		}
	}
	&.blue {
		background:$blue_color;
		h2 {
			a {
				color:#fff;
			}
		}
		.news-item-meta-list {
			color:$black_color;
		}
		.news-item-right {
			padding:8px 0 2px;
		}
		&:hover {
			box-shadow:none;
		}
	}
}
.news-item-left {
	float:left;
	width:93px;
	margin:0 28px 0 0;
}
.news-item-image {
	display:block;
	width:93px;
	height:93px;
	border-radius:50%;
	overflow:hidden;
	background:$blue_color;
	position:relative;
	img {
		border-radius:50%;
		max-width:100%;
		max-height:100%;
	}
	.logo {
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%,-50%));
	}
}
.news-item-right {
	overflow:hidden;
	padding:6px 0 2px;
}
.news-item-meta-list {
	font-size:16px;
	color:#c3c3c3;
	padding:0 0 0 2px;
	li {
		display:inline-block;
		padding:0 0 3px;
		&:after {
			content:'I';
			margin:0 7px 0 10px;
		}
		&:last-child {
			&:after {
				display:none;
			}
		}
	}
	a {
		color:#c3c3c3;
		&:hover {
			color:$blue_color;
		}
	}
}
.news-buttons {
	padding:20px 0 0;
	.btn-gray {
		display:block;
		border-radius:0;
		font-size:14px;
		padding:26px 15px 28px;
	}
}
[class^="news-item-status"] {
	font-size:$main_size;
}
.news-item-status-new-article,
.news-item-status-comment {
	color:$green2_color;
}
.news-item-status-new-question {
	color:$blue_color;
}
.news-item-status-new-answer,
.news-item-status-paid {
	color:$red2_color;
}
/* NEWS PAGE END */

/* NEWS PAGE */
.date {
	font-size:$main_size;
	letter-spacing:-0.02em;
}
.questions-section {
	.news-item-right {
		padding:8px 0 2px;
	}
}
/* NEWS PAGE END */

/* PROSMOTRI */
/* publications-add-desc */
.publications-add-desc {
	background:$red_dark_color;
	padding:54px 20px 46px;
	text-align:center;
	font-size:11.97px;
	color:#fff;
	position:relative;
	z-index:4;
	min-height:292px;
	.inner {
		max-width:770px;
		margin:0 auto;
	}
	strong {
		display:block;
		font-size:17.95px;
		line-height:1.21;
		padding:0 0 25px;
	}
	a {
		color:#fff;
		text-decoration:underline;
		&:hover {
			color:$blue_color;
			text-decoration:underline;
		}
	}
}
.publications-add-desc-close {
	position:absolute;
	right:41px;
	top:-33px;
	width:66px;
	height:66px;
	background:$red_color;
	border-radius:50%;
	box-shadow:0 0 15px rgba(0,0,0,0.5);
	.icon-close {
		width:21px;
		height:21px;
		fill:#fff;
		position:absolute;
		left:50%;
		top:50%;
		margin:-10px 0 0 -10px;
	}
}
/* publications-add-desc end */

/* unique-views */
.unique-views-page {
	.content-top {
		h1 {
			span {
				display:inline;
				font-size:inherit;
			}
		}
	}
}
.unique-views-buttons {
	padding:0 0 20px;
	.btn-gray {
		display:block;
		border-radius:0;
		padding:26px 15px 28px;
		font-size:$main_size;
		width:100%;
	}
	&.bottom {
		padding:23px 0 0;
	}
}
.unique-views-section {
	> * {
		&+* {
			margin-top:18px;
		}
		&:nth-child(n+6){
			display:none;
		}
	}
}
.unique-view {
	@extend .clearfix;
	background:#fff;
	padding:40px 40px 54px;
	@include transition(box-shadow 0.3s ease 0s);
	h2 {
		letter-spacing:-0.004em;
		a {
			&:hover {
				color:$black_color;
			}
		}
	}
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		h2 {
			a {
				text-decoration:underline;
			}
		}
	}
}
.unique-view-left {
	float:left;
	width:45px;
	margin:22px 35px 0 0;
}
.unique-view-right {
	float:right;
	min-height:69px;
	border-left:1px solid #B9B8B8;
	padding:13px 0 0 28px;
	margin:9px 0 0 35px;
	[class^="item-status"]{
		font-size:$main_size;
		line-height:44px;
		margin:0 0 5px 12px;
	}
}
.unique-view-middle {
	overflow:hidden;
}
.item-state-play {
	width:45px;
	height:45px;
	border-radius:50%;
	display:inline-block;
	position:relative;
	background:$yellow_color;
	.icon-play {
		position:absolute;
		left:50%;
		top:50%;
		width:9px;
		height:12px;
		margin:-6px 0 0 -2px;
		fill:#000;
	}
	.icon-pause {
		display:none;
	}
	&.paused {
		background:#EBEBEB;
		.icon-play {
			display:none;
		}
		.icon-pause {
			display:block;
			position:absolute;
			left:50%;
			top:50%;
			width:10px;
			height:12px;
			margin:-6px 0 0 -4px;
			fill:#000;
		}
	}
}
.category { 
	font-size:16px;
	padding:0 0 5px;
	a {
		color:#c3c3c3;	
		&:hover {
			color:$blue_color;
		}
	}
}
/* unique-views end */
/* PROSMOTRI END */

/* RESERVATION */
.reservations-section {
	> * {
		&+* {
			margin-top:18px;
		}
		&:nth-child(n+6){
			display:none;
		}
	}
	.news-item {
		h2 {
			font-size:20px;
			color:#fff;
		}
	}
}
.reservations-buttons {
	@extend .unique-views-buttons;
	padding:0 0 35px;
}
.reservation {
	@extend .clearfix;
	background:#fff;
	padding:33px 36px 37px;
	@include transition(box-shadow 0.3s ease 0s);
	h2 {
		font-size:20px;
		letter-spacing:-0.006em;
	}
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
	}
}
.reservation-left {
	float:left;
	width:100%;
	padding:0 300px 0 0;
}
.reservation-right {
	float:left;
	width:240px;
	margin:4px 0 0 -240px;
	min-height:88px;
	border-left:1px solid #C4C4C4;
	padding:0 0 0 37px;
	.author-holder {
		color:$black_color;
	}
	.author-image {
		float:right;
		margin:0 0 0 9px;
	}
	.author-content {
		text-align:right;
		a {
			color:$black_color;
		}
	}
	[class*="btn-"]{
		display:block;
	}
	> * {
		&+* {
			margin-top:13px;
		}
	}
}
/* RESERVATION END */

/* MYPUBLICATION */
.mypublications-buttons {
	@extend .unique-views-buttons;
	padding:0 0 27px;
	&.bottom {
		padding:25px 0 0;
	}
}
.mypublications-section {
	@extend .clearfix;
	margin:-26px 0 0 -17px;
	> article {
		float:left;
		width:25%;
		padding:26px 0 0 17px;
		&:nth-child(n+13){
			display:none;
		}
	}
}
.publication-banner {
	width:20%;
	a {
		display:block;
		height:100%;
		overflow:hidden;
	}
	img {
		min-width:100%;
		min-height:100%;
	}
	&.size2 {
		width:40%;
		.small {
			display:none;
		}
	}
}
.mypublication {
	@extend .clearfix;
	@include transition(all 0.3s ease 0s);
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		h2 {
			text-decoration:underline;
		}
	}
	h2 {
		position:relative;
		z-index:5;
	}
}
.mypublication-image {
	position:relative;
	z-index:5;
	img {
		width:100%;
		max-width:100%;
	}
	.author-holder {
		position:absolute;
		left:36px;
		right:36px;
		bottom:23px;
		z-index:5;
	}
	.edit-link {
		position:absolute;
		top:30px;
		right:29px;
	}
	.info-link {
		position:absolute;
		top:30px;
		right:29px;
	}
	.delete-link {
		position:absolute;
		top:30px;
		right:29px;
	}
	[class^="item-status-"]{
		position:absolute;
		right:30px;
		bottom:-21px;
		z-index:5;
	}
}
.mypublication-image-holder {
	display:block;
	position:relative;
	&:before {
		content:'';
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		height:52%;
		z-index:3;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
	}
}
.edit-link {
	display:inline-block;
	width:45px;
	height:45px;
	border-radius:50%;
	position:relative;
	background:$blue_color;
	&:before {
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%,-50%));
		@include sprite($icon-edit-small);
	}
}
.info-link {
	display:inline-block;
	width:45px;
	height:45px;
	border-radius:50%;
	position:relative;
	background:$red2_color;
	.icon-info {
		width:21px;
		height:23px;
		margin:-11px 0 0 -10px;
		position:absolute;
		left:50%;
		top:50%;
		fill:#fff;
	}
}
.delete-link {
	display:inline-block;
	width:45px;
	height:45px;
	border-radius:50%;
	position:relative;
	background:$red2_color;
	.icon-close {
		width:14px;
		height:14px;
		fill:#fff;
		position:absolute;
		left:50%;
		top:50%;
		margin:-7px 0 0 -7px;
	}
}
.mypublication-content {
	background:#fff;
	padding:29px 34px 55px;
	height:176px;
	position:relative;
	z-index:4;
	.letter {
		font-size:150px;
		opacity:0.5;
		left:21px;
		top:-28px;
	}
	h2 {
		a {
			color:$black_color;
		}
	}
	.meta-list {
		position:absolute;
		left:35px;
		right:20px;
		bottom:33px;
	}
}
.meta-list {
	margin-left:-8px;
	font-size:13px;
	color:#000;
	font-family:$font;
	> li {
		display:inline-block;
		margin:0 0 0 8px;	
		&[class$=-icon]{
			&:before {
				content:'';
				margin:0 7px 0 0;
				display:inline-block;
			}
		}
		&.users-icon {
			.icon-users {
				margin:0 7px 0 0;
				display:inline-block;
				width:11px;
				height:11px;
				fill:#000;
			}
		}
		&.comments-icon {
			&:before {
				@include sprite($icon-comments);
				margin-bottom:-2px;
			}
		}
		&.likes-icon {
			.icon-heart {
				margin:0 5px -2px 0;
				display:inline-block;
				width:13px;
				height:12px;
				fill:#000;
			}
		}
	}
}
/* MYPUBLICATION END */

/* publication-info */
.publication-info-top {
	@extend .clearfix;
	background:$blue_color;
	padding:40px;
	.user-image {
		float:left;
		margin:54px 29px 0 0;
	}
}
.publication-info-bottom {
	background:#fff;
	position:relative;
	.letter {
		left:93px;
		top:2px;
	}
}
.publication-info-text {
	position:relative;
	z-index:5;
	textarea {
		font-size:16px;
		background:transparent;
		padding:97px 100px;
		height:650px;
		font-family:$font;
	}
}
.publication-info-add-image {
	text-align:center;
	float:left;
	width:266px;
	height:229px;
	display:table;
	background:$aqua_color;
	font-size:14px;
	color:#e2e3e4;
	text-decoration:underline;
	margin:0 37px 0 0;
	&:hover {
		color:#000;
	}
	&:before {
		content:'';
		display:inline-block;
	}
	.inner {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
		width:100%;
		height:100%;
		padding-top:6px;
		&:before {
			content:'';
			display:inline-block;
			margin:0 0 6px;
			@include sprite($icon-photo);
		}
	}
	span {
		display:block;
	}
	input[type="file"]{
		position:absolute;
		left:-9999px;
	}
}
.publication-info-content {
	overflow:hidden;
	position:relative;
	padding:52px 0 0;
	.fav-holder {
		position:absolute;
		right:0;
		top:6px;
	}
	.meta-list {
		margin-left:-6px;
		> li {
			margin:0 0 0 9px;
		}
	}
	.news-item-meta-list {
		color:$black_color;
		a {
			color:$black_color;
			&:hover {
				color:#fff;
			}
		}
	}
}
.publication-info-category {
	font-size:16px;
	padding:0 0 7px 3px;
	a {
		text-decoration:underline;
		&:hover {
			color:#fff;
		}
	}
}
.publication-info-title {
	padding:0 0 20px;
	min-height:84px;
	textarea{
		font-size:24px;
		color:#fdfdfd;
		background:transparent;
		padding:0 0 6px;
		height:60px;
		@include placeholderColor(#fdfdfd);
	}
	h1,h2 {
		color:#fdfdfd;
	}
}
.fav-holder {
	display:inline-block;
	&.disabled {
		.fav-link {
			cursor:default;
			background:#FDCDCD;
		}
	}
	&.small {
		.fav-value {
			font-size:$main_size;
		}
		.fav-link {
			width:40px;
			height:40px;
			.icon-heart {
				width:19px;
				height:17px;
				fill:#C8C7C7;
				margin:-8px 0 0 -9px;
			}
		}
	}
	&.active {
		.fav-link {
			background:#FDCDCD;
			
		}
		&.small {
			.fav-link {
				.icon-heart {
					width:19px;
					height:17px;
					fill:#FF0101;
					margin:-8px 0 0 -9px;
				}
			}
		}
	}
}
.fav-value {
	display:inline-block;
	vertical-align:middle;
	font-size:24px;
	color:#fdfcfc;
	margin:0 5px 0 0;
}
.fav-link {
	width:48px;
	height:48px;
	border-radius:50%;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	cursor:pointer;
	background:#EBE9E9;
	.icon-heart {
		position:absolute;
		left:50%;
		top:50%;
		width:23px;
		height:20px;
		margin:-9px 0 0 -11px;
		fill:#FF0101;
	}
}
.publication-info-buttons {
	@extend .unique-views-buttons;
	padding:30px 40px 45px;
}
/* publication-info END */

/* ADD-MESSAGE */
/* mycontacts */
.refresh-slider-top {
	background:#27272B;
	padding:29px 80px 30px 39px;
	position:relative;
	h3 {
		color:#edf2f6;
		&:before {
			content:'';
			display:inline-block;
			border-left:8px solid #fff;
			border-top:5px solid transparent;
			border-bottom:5px solid transparent;
			margin:0 24px 1px 0;
		}
	}
}
.refresh-slider-link {
	position:absolute;
	right:38px;
	top:25px;
	.icon-refresh {
		width:29px;
		height:30px;
		fill:#fff;
	}
}
.users-list {
	@extend .clearfix;
	background:$blue_color;
	padding:72px 40px 73px;
	> li {
		float:left;
		width:12.5%;
		min-height:1px;
		position:relative;
		> * {
			@include transition(all 0.5s ease 0s);
			opacity:1;
			left:0;
			right:0;
			top:0;
			&.old {
				opacity:0;
				position:absolute;
			}
			&.new {
				opacity:0;
			}
		}
	}
	.user-holder {
		margin:0;
		padding:0 5px;
	}
}
.refresh-hidden-list {
	display:none;
}
/* mycontacts end */

/* add-message */
.add-message-link {
	display:block;
	border-radius:0;
	padding:28px 15px 27px;
	font-size:$main_size;
	margin:0 0 27px;
}
.add-message {
	padding:0 0 23px;
	display:none;
	textarea {
		background:#fff;
		margin-bottom:22px;
		font-size:$main_size;
		padding:33px 38px;
		height:120px;
	}
	.btn-gray {
		display:block;
		border-radius:0;
		padding:29px 15px 27px;
		width:100%;
	}
}
/* add-message end */

/* messages */
.messages {
	
}
.messages-buttons {
	@extend .unique-views-buttons;
	padding:21px 0 0;
}
.messages-section {
	> * {
		&:nth-child(even){
			background:#F5F4F4;
		}
		&:nth-child(n+6){
			display:none;
		}
	}
}
.message {
	@extend .clearfix;
	background:#fff;
	padding:31px 80px 19px 60px;
	@include transition(all 0.3s ease 0s);
	.news-item-meta-list {
		font-size:14px;
		.date {
			font-size:11px;
		}
		li {
			&:after {
				content:'';
				margin:0 4px;
			}
		}
	}
	[class^="news-item-status"]{
		font-size:12px;
	}
	&.message-best {
		background:#FFF3B3;
	}
}
.message-left {
	float:left;
	width:110px;
	margin:0 9px 0 0;
	[class^="item-status"]{
		vertical-align:middle;
		margin-right:2px;
	}
	.author-image {
		float:none;
		width:45px;
		height:45px;
		display:inline-block;
		vertical-align:middle;
		margin:0;
	}
}
.message-content {
	overflow:hidden;
	padding:3px 0 0;
	font-family:$font;
}
.message-right {
	float:right;
	margin:2px 0 0 70px;
}
.message-author {
	padding:0 0 4px;
	font-size:14px;
	font-family:$font_bold;
	a {
		color:#a5a5a5;
		span {
			font-size:12px;
		}
		&:hover {
			color:$blue_color;
		}
	}
}
/* messages end */
/* ADD-MESSAGE END */

/* POPULAR-ARTICLES */
.popular-articles-page {
	.content-top {
		h1 {
			font-size:60px;
			padding:0 0 12px;
		}
	}
	.content-top-main {
		padding-top:233px;
		padding-bottom:59px;
	}
	.content-top-buttons > {
		[class*="btn-"] {
			padding-top:17px;
			padding-bottom:17px;
		}
	} 
	.refresh-slider-wrap {
		margin:0 -40px;
	}
	.mypublications-section {
		> article {
			&:nth-child(n+13){
				display:block;
			}
			&:nth-child(n+21){
				display:none;
			}
		}
	}
}

/* readers-choice */
.readers-choice {
	padding:100px 0 0;
}
.refresh-slider-title {
	line-height:1;
	text-transform:uppercase;
	position:relative;
	padding:15px 0 0;
	strong {
		color:$blue_color;
		font-size:150px;
		opacity:0.7;
		display:block;
		height:135px;
		margin-left:-13px;
		letter-spacing:0.024em;
	}
	span {
		font-size:60px;
		line-height:48px;
		color:#27272b;
		position:absolute;
		bottom:0;
		left:326px;
		letter-spacing:0.03em;
	}
}
.author-recommends {
	.refresh-slider-title {
		strong {
			margin-left:-2px !important;
		}
		span {
			left:218px !important;
		}
	}
}
.best-authors {
	.refresh-slider-title {
		strong {
			margin-left:-2px !important;
		}
		span {
			left:498px !important;
		}
	}
}
.best-experts {
	.refresh-slider-title {
		strong {
			margin-left:-2px !important;
		}
		span {
			left:498px !important;
		}
	}
}
/* readers-choice end */

/* subscribe */
.subscribe {
	max-width:511px;
	margin:0 auto;
	text-align:center;
	padding:50px 0 56px;
	.title {
		font-size:30px;
		text-transform:uppercase;
		padding:0 0 23px;
	}
}
.subscribe-form {
	.wrap-input {
		float:left;
		width:100%;
		padding:0 148px 0 0;
	}
	input[type="email"]{
		font-size:$main_size;
		border:1px solid #C2C2C2;
		padding:15px 38px 16px;
		height:49px;
		-webkit-appearance: none;
		@include placeholderColor(#d0d1d1);
		&:focus {
			background:#fff;
		}
	}
	.btn-black {
		float:left;
		width:148px;
		margin-left:-148px;
		border-radius:0;
		padding:17px 11px 16px;
		font-size:$main_size;
		height:49px;
	}
}
.subscribe-info {
	text-transform:uppercase;
	padding:22px 0 0;
}
/* subscribe end */

/* social */
.social {
	margin:0 -40px -40px;
}
.social-list {
	@extend .clearfix;
	> li {
		width:25%;
		float:left;
	}
}
[class^=social-item-] {
	height:80px;
	position:relative;
	display:block;
	color:#fdfeff;
	padding:22px 40px 20px 39px;
	&:before {
		content:'';
		position:absolute;
		right:39px; 
		top:20px;
	}
	&:hover {
		color:#fdfeff;
	}
}
.social-item-fb {
	background:#294072;
	&:before {
		@include sprite($soc-fb);
	}
}
.social-item-vk {
	background:#344F6B;
	&:before {
		@include sprite($soc-vk);
	}
}
.social-item-tw {
	background:#1EBDFD;
	&:before {
		@include sprite($soc-tw);
	}
}
.social-item-google {
	background:#DB3B09;
	&:before {
		@include sprite($soc-google);
	}
}
/* social end */

/* short-article */
.short-articles-list {
	@extend .clearfix;
	> li {
		float:left;
		width:16.6666%;
		position:relative;
		> * {
			@include transition(all 0.5s ease 0s);
			opacity:1;
			left:0;
			right:0;
			top:0;
			&.old {
				opacity:0;
				position:absolute;
			}
			&.new {
				opacity:0;
			}
		}
	}
}
.short-article {
	position:relative;
	display:block;
	&:hover {
		text-decoration:none;	
	}
	&:before {
		content:'';
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		background:$blue_color;
		opacity:0;
		z-index:3;
		@include transition(all 0.3s ease 0s);
	}
	&:after {
		content:'';
		position:absolute;
		top:15px;
		left:18px;
		right:18px;
		bottom:15px;
		border:10px solid #fff;
		opacity:0;
		z-index:4;
		@include transition(all 0.3s ease 0s);
	}
	img {
		width:100%;
		max-width:100%;
	}
	h3 {
		position:absolute;
		top:36px;
		left:40px;
		right:40px;
		bottom:36px;
		color:#fff;
		z-index:5;
		opacity:0;
		@include transition(all 0.3s ease 0s);
	}
	&:hover {
		&:before {
			opacity:0.8;
		}
		&:after {
			opacity:1;
		}
		h3 {
			opacity:1;
		}
	}
}
/* short-article end */
/* POPULAR-ARTICLES END */

/* FAQ-PAGE */
.faq-page {
	@extend .popular-articles-page;
	.messages {
		margin-bottom:25px;
	}
	.add-message-link {
		margin-top:0;
	}
	.message {
		padding:31px 29px 19px 36px;
		.fav-value {
			color:$black_color;
		}
	}
	.publication-info-top {
		padding:41px 66px 73px 70px;
	}
	.publication-info-title {
		min-height:80px;
	}
	.publication-info-content {
		padding:61px 80px 0 0;
	}
	.message-content {
		padding:2px 0 0;
	}
	.add-message {
		.btn-gray {
			font-size:$main_size;
			padding:26px 15px 28px;
		}
	}
	.news {
		padding:0 0 28px;
	}
	.news-buttons {
		padding:29px 0 0;
	}
	.news-section {
		> * {
			&:nth-child(n+4){
				display:none;
			}
		}
	}
}
/* FAQ-PAGE END */

/* PUBLICATION-PAGE */
.publication-page {
	.messages {
		padding:0 0 22px;
	}
	.message {
		padding:31px 80px 12px 60px;
	}
	.add-message-link {
		margin-top:0;
	}
	.add-message {
		.btn-gray {
			font-size:$main_size;
			padding:26px 15px 28px;
		}
	}
	.publication-info-content {
		padding:52px 90px 0 0;
	}
	.publication-info-category {
		padding-bottom:10px;
	}
	.refresh-slider-wrap {
		margin:0 -40px;
	}
}
.publication-info-image {
	float:left;
	width:266px;
	height:229px;
	margin:0 38px 0 0;
	overflow:hidden;
	img {
		width:100%;
		max-width:100%;
		max-height:100%;
	}
}
.publication-article-image {
	position:relative;
	figure {
		margin:0;
	}
	img {
		width:100%;
		max-width:100%;
		display:block;
	}
	figcaption {
		position:absolute;
		left:100px;
		right:100px;
		bottom:127px;
		color:#fefefe;
		font-size:$h2_size;
	}
}
.publication-article-wrap {
	position:relative;
	background:#fff;
	padding:95px 101px 60px;
	margin-bottom:-12px;
	.letter {
		left:83px;
		top:-1px;
	}
}
.publication-article {
	position:relative;
	z-index:5;
	font-family:$font;
	font-size:$h4_size;
	line-height:1.38;
	h2 {
		margin:-7px 0 22px;
	}
	h3 {
		font-size:20px;
		margin:-4px 0 23px;
	}
	h4,h5,h6 {
		margin:-4px 0 23px;
	}
	p {
		margin:0 0 22px;
	}
	a {
		font-family:$font_bold;
		color:$blue_color;
		text-decoration:underline;
		&:hover {
			text-decoration:none;
		}
	}
	> * {
		&:first-child {
			margin-top:0;
		}
	}
	&.short-version {
		min-height:700px;
		padding:0 0 295px;
	}
}
.like-change {
	@extend .clearfix;
	padding:0 0 28px;
	a {
		width:33.33%;
		float:left;
		height:71px;
		color:#fff;
		background:#FCBABA;
		text-transform:uppercase;
		padding:0 15px;
		span {
			height:71px;
			width:9999px;
			display:table-cell;
			vertical-align:middle;
			text-align:center;
		}
		&:nth-child(2) {
			background:#FDCDCD;
			color:$red2_color;
		}
		&:hover {
			color:#fff;
			text-decoration:none;
			background:$red_dark_color;
		}
	}
}
.publications {
	padding:0 0 14px;
}
.publications-buttons {
	@extend .unique-views-buttons;
	padding:35px 0 0;
}
.publications-section {
	@extend .clearfix;
	margin:-21px 0 0 -31px;
	display:table;
	font-size:0;
	line-height:0;
	> article {
		width:20%;
		display:inline-block;
		vertical-align:top;
		padding:21px 0 0 31px;
		&:nth-child(n+6){
			display:none;
		}
	}
}
.publication {
	@include transition(all 0.3s ease 0s);
	position:relative;
	background:#fff;
	font-size:$main_size;
	line-height:$mainLh;
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		.publication-image {
			&:before {
				opacity:0.8;
			}
			.caption {
				opacity:1;
				&:after {
					opacity:1;
				}
			}
		}
		.publication-content {
			h5 {
				a {
					text-decoration:underline;
				}
			}
		}
	}
	&.spec {
		&:before {
			content:'';
			position:absolute;
			border:10px solid rgba(50,160,251,0.5);
			left:0;
			top:0;
			right:0;
			bottom:0;
			z-index:2;
		}
		.publication-image {
			&:after {
				content:'';
				position:absolute;
				border-top:10px solid rgba(50,160,251,0.5);
				border-left:10px solid rgba(50,160,251,0.5);
				border-right:10px solid rgba(50,160,251,0.5);
				left:0;
				top:0;
				right:0;
				bottom:0;
				z-index:2;
			}
		}
	}
}
.publication-image {
	position:relative;
	display:block;
	z-index:4;
	img {
		width:100%;
		max-width:100%;
	}
	.caption {
		position:absolute;
		opacity:0;
		left:20px;
		top:19px;
		right:21px;
		bottom:21px;
		padding:27px 30px 20px;
		z-index:5;
		h4 {
			font-size:$main_size;
			text-transform:uppercase;
			color:#fff;
		}
		.date {
			font-size:11px;
			color:#fff;
			letter-spacing:0.03em;
			padding:0 0 4px;
		}
		&:after {
			content:'';
			position:absolute;
			border:10px solid #fff;
			left:0;
			top:0;
			right:0;
			bottom:0;
			opacity:0;
			z-index:4;
			@include transition(all 0.3s ease 0s);
		}
	}
	&:before {
		content:'';
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		background:$blue_color;
		opacity:0;
		z-index:3;
		@include transition(all 0.3s ease 0s);
	}
	
}
.publication-content {
	padding:19px;
	height:182px;
	position:relative;
	z-index:4;
	h5 {
		font-size:13px;
		a {
			&:hover {
				color:$black_color;
			}
		}
	}
	.author-holder {
		margin:0 0 16px;
	}
	.author-content {
		a {
			color:$black_color;
			&:hover {
				color:$blue_color;
			}
		}
	}
	.meta-list {
		position:absolute;
		left:20px;
		right:20px;
		bottom:28px;
	}
}
/* PUBLICATION-PAGE END */

/* USER PAGE */
.user-page {
	.content-top {
		.user-holder {
			h1 {
				font-size:30px;
				padding:0 0 13px;
			}
		}
		.user-address {
			color:#fff;
			font-size:16.01px;
			padding:0 0 2px;
		}
	}
	.content-top-main {
		padding:228px 20px 29px;
	}
	.content-top-desc {
		max-width:600px;
		padding:0;
	}
	.publications-buttons {
		padding:23px 0 0;
	}
	.publications {
		padding:0 0 21px;
		&.bottom {
			padding:0 0 29px;
			.publications-buttons {
				padding:28px 0 0;
			}
		}
	}
	.refresh-slider-wrap {
		margin:0 -40px 44px;
		&.bottom {
			margin:0 -40px;
		}
	}
	.messages {
		margin-bottom:22px;
	}
	.add-message {
		padding:0 0 11px;
	}
	.publications-section {
		> article {
			&:nth-child(n+6){
				display:inline-block;
			}
			&:nth-child(n+10){
				display:none;
			}
		}
	}
	.publications {
		&.bottom {
			.publications-section {
				> article {
					&:nth-child(n+6){
						display:none;
					}
				}
			}
		}
	}
}
.user-actions {
	@extend .clearfix;
	text-transform:uppercase;
	padding:4px 0 25px;
	a {
		float:left;
		width:50%;
		height:71px;
		background:#ECEDEE;
		padding:0 15px;
		span {
			display:table-cell;
			text-align:center;
			vertical-align:middle;
			height:71px;
			width:9999px;
		}
		&+a {
			background:#E4E5E5;
		}
		&:hover {
			background:$blue_color;
			color:#fff;
			text-decoration:none;
		}
	}
	&+.add-message {
		padding:0 0 21px;
	}
}
.awards {
	
}
.awards-list {
	@extend .clearfix;
	> li {
		float:left;
		width:20%;
		&:nth-child(2){
			.award {
				background:#2287DA;
				&:before {
					@include sprite-position($icon-logo2);
				}
			}
		}
		&:nth-child(3){
			.award {
				background:#197ACA;
				&:before {
					@include sprite-position($icon-logo3);
				}
			}
		}
		&:nth-child(4){
			.award {
				background:#126EB9;
				&:before {
					@include sprite-position($icon-logo4);
				}
			}
		}
		&:nth-child(5){
			.award {
				background:#0E63A9;
				&:before {
					@include sprite-position($icon-logo5);
				}
			}
		}
	}
}
.award {
	background:#2893EB;
	padding:59px 10px 10px;
	color:#fffefe;
	font-size:11.97px;
	text-transform:uppercase;
	text-align:center;
	height:256px;
	&:before {
		content:'';
		margin:0 auto 14px;
		display:block;
		@include sprite($icon-logo);
	}
}
.user-statistics {
	background:#27272B;
	padding:25px 20px 26px;
}
.user-statistics-list {
	text-transform:uppercase;
	font-size:$h2_size;
	color:#fffefe;
	text-align:center;
	li {
		display:inline-block;
		vertical-align:top;
		margin:0 16px;
		span {
			color:$brown_light_color;
			margin-right:8px;
		}
	}
}
/* USER PAGE END */

/* MAIN-PAGE */
.main-page {
	.content-top {
		h1 {
			font-size:36.01px;
			line-height:1.12;
			padding:0 0 27px;
		}
	}
	.content-top-main {
		padding:205px 20px 60px;
	}
	.refresh-slider-wrap {
		margin:0 -40px;
	}
	.banner {
		margin:0 -40px 42px;
	}
	.publications-buttons {
		padding:20px 0 0;
	}
	.publications-section {
		> article {
			&:nth-child(n+6){
				display:inline-block;
			}
			&:nth-child(n+15){
				display:none;
			}
		}
	}
}
.banner {
	display:block;
	img {
		max-width:100%;
	}
}
.publications-slider-wrap {
	margin-top:-10px;
	&.questions-slider-wrap {
		margin-bottom:11px;
		.publications-slider-nav {
			padding:0 0 33px;
		}
	}
}
.publications-slider {
	.bx-wrapper {
		margin:-17px !important;
		padding:17px;
		overflow:hidden;
	}
	.bx-viewport {
		overflow:visible !important;
	}
	.podcast,
	.mypublication {
		&:hover {
			box-shadow:0 0 17px rgba(0,0,0,0.4);
		}
	}
}
.publications-slider-nav {
	@extend .clearfix;
	padding:0 0 27px;
	h2 {
		color:#262121;
		overflow:hidden;
		padding:2px 0 0 25px;
		letter-spacing:0.023em;
	}
}
.publications-slider-prev,
.publications-slider-next {
	width:34px;
	height:34px;
	float:left;
	border:1px solid #000;
	position:relative;
	&:before {
		content:'';
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%,-50%));
		margin:1px 0 0;
		@include sprite($arrow-black-left-small);
	}
	&:hover {
		background:#000;
		&:before {
			@include sprite-position($arrow-white-left-small);
		}
	}
	a {
		display:block;
		height:100%;
		position:relative;
		z-index:5;
	}
}
.publications-slider-next {
	margin-left:-1px;
	&:before {
		@include sprite-position($arrow-black-right-small);
	}
	&:hover {
		&:before {
			@include sprite-position($arrow-white-right-small);
		}
	}
}
/* MAIN-PAGE END */

/* CATEGORY-PAGE */
.category-page {
	.content-top {
		h1 {
			font-size:60.03px;
			padding:0 0 11px;
		}
	}
	.content-top-main {
		padding:236px 20px 60px;
	}
	.refresh-slider-wrap {
		margin:0 -40px;
	}
	.banner {
		margin:0 -40px 42px;
	}
	.publications-buttons {
		padding:20px 0 0;
	}
	.best-authors {
		.refresh-slider-title {
			span {
				left:498px;
			}
		}
	}
	.publications-section {
		> article {
			&:nth-child(n+6){
				display:inline-block;
			}
			&:nth-child(n+15){
				display:none;
			}
		}
	}
}
/* CATEGORY-PAGE END */

/* VOPROS PAGE */
.vopros-page {
	@extend .category-page;
	.add-message {
		.btn-gray {
			font-size:$main_size;
			padding:26px 15px 28px;
		}
	}
}
.vopros-actions {
	@extend .user-actions;
	padding:46px 0 22px;
	a {
		width:33.33%;
		&+a {
			background:#E0E1E2;
			&+a {
				background:#D6D8D9;
			}
		}
	}
}
.question {
	@extend .clearfix;
	background:#fff;
	padding:113px 20px 55px 32px;
	@include transition(box-shadow 0.3s ease 0s);
	position:relative;
	height:261px;
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		h3 {
			a {
				text-decoration:underline;
			}
		}
	}
	h3 {
		position:relative;
		z-index:5;
		a {
			&:hover {
				color:$black_color;
			}
		}
	}
	.author-holder {
		position:absolute;
		right:31px;
		top:28px;
		z-index:5;
	}
	.author-image {
		float:right;
		margin:0 0 0 11px;
		width:45px;
		height:45px;
	}
	.author-content {
		text-align:right;
		height:45px;
		font-size:$main_size;
		a {
			color:$black_color;
		}
	}
	.letter {
		font-size:150px;
		opacity:0.5;
		left:20px;
		top:57px;
	}
	.meta-list {
		position:absolute;
		left:33px;
		right:20px;
		bottom:33px;
		z-index:5;
	}
}
/* VOPROS PAGE END */

/* EXPERTS-PAGE */
.experts-page {
	@extend .vopros-page,.clearfix;
	.vopros-actions {
		padding:38px 0 22px;
		font-size:12px;
	}
	.add-message {
		.btn-gray {
			font-size:12px;
		}
	}
}
.experts-list {
	@extend .clearfix;
	margin:-22px 0 0 -31px;
	> li {
		float:left;
		width:20%;
		padding:22px 0 0 31px;
		&:nth-child(n+16){
			display:none;
		}
	}
}
.expert {
	background:#fff;
	height:236px;
	position:relative;
	padding:50px 10px 10px;
	display:block;
	text-decoration:none;
	.user-title {
		color:$black_color;
		font-size:$h3_size;
	}
	.user-image {
		margin:0 auto 10px;
	}
	&:hover {
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		text-decoration:none;
		.expert-caption,
		.author-caption {
			opacity:1;
			visibility:visible;
		}
	}
}
.expert-caption {
	visibility:hidden;
	opacity:0;
	@include transition(all 0.3s ease 0s);
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:$blue_color;
	padding:47px 15px 15px;
}
.author-caption {
	visibility:hidden;
	opacity:0;
	@include transition(all 0.3s ease 0s);
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:$blue_color;
	padding:49px 15px 15px;
}
.author-caption-info-list {
	text-align:center;
	color:#fff;
	li {
		&+li {
			padding-top:6px;
		}
	}
	.title {
		font-size:12.03px;
		padding:0 0 4px;
	}
	.value {
		font-size:30.08px;
	}
}
.expert-categories-list {
	font-size:13px;
	color:#fff;
	text-align:center;
}
.experts-buttons {
	@extend .unique-views-buttons;
	padding:22px 0 0;
}
.question-info-link {
	width:66px;
	height:66px;
	position:absolute;
	bottom:40px;
	left:50%;
	background:#fff;
	border-radius:50%;
	text-align:center;
	@include transform(translate(-50%));
	.icon-question {
		position:absolute;
		left:50%;
		top:50%;
		width:22px;
		height:32px;
		margin:-15px 0 0 -10px;
		color:#000;
	}
}
/* EXPERTS-PAGE END */

/* PODCASTS-PAGE */
.podcasts-page {
	@extend .experts-page;
	.refresh-slider-wrap {
		&.best-authors {
			margin-bottom:41px;
		}
	}
}
.podcasts {

}
.podcasts-section {
	@extend .clearfix;
	margin:-23px 0 0 -18px;
	> article {
		float:left;
		width:25%;
		padding:23px 0 0 18px;
		&:nth-child(n+13){
			display:none;
		}
	}
}
.podcast {
	@extend .question;
	padding-top:126px;
	.letter {
		left:22px;
		top:70px;
	}
	&:hover {
		background:$blue_color;
		h3 {
			a {
				color:#fff;
			}
		}
		.author-holder {
			display:none;
		}
		.item-state-play,
		.podcast-video-line {
			display:block;
		}
		.letter {
			color:#fff;
			opacity:0.5;
		}
	}
	.item-state-play {
		background:#fff;
		position:absolute;
		right:30px;
		top:28px;
		display:none;
		.icon-play {
			width:14px;
			height:17px;
			margin:-8px 0 0 -5px;
		}
		&.paused {
			.icon-pause {
				width:18px;
				height:19px;
				margin:-9px 0 0 -8px;
			}
		}
	}
}
.podcast-video-line {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:9px;
	background:#fff;
	display:none;
}
.podcast-video-line-current {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:5;
	background:#2B8FE2;
}
.podcast-video-line-uploaded {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:4;
	background:#7FBDFB;
}
.podcasts-buttons {
	padding:20px 0 0;
	@extend .unique-views-buttons;
}
/* PODCASTS-PAGE END */

/* AUTHOR PAGE */
.author-page {
	@extend .experts-page;
	.refresh-slider-wrap {
		&.best-authors {
			margin-bottom:37px;
		}
	}
	.refresh-slider-wrap {
		&.best-authors {
			margin-bottom:0;
		}
	}
	.publications-slider-wrap {
		&.questions-slider-wrap {
			.publications-slider-nav {
				padding:0 0 28px;
			}
		}
	}
}
.geolocation-authors {
	min-height:338px;
	background:url(../img/bg/map.jpg) no-repeat center center;
	background-size:cover;
	margin:0 -40px 37px;
	.caption {
		text-transform:uppercase;
		display:table-cell;
		width:9999px;
		height:338px;
		padding:10px 10px 17px;
		vertical-align:middle;
		text-align:center;
		h2 {
			font-size:30px;
			padding:0 0 7px;
		}
		h3 {
			padding:0 0 20px;
		}
		.inner {
			margin:0 auto;
			max-width:500px;
		}
	}
}
/* AUTHOR PAGE END */

/* BOOK PAGE */
.book-page {
	.social {
		margin:0;
	}
}
.book-wrap {
	position:relative;
	z-index:3;
}
.books-slider {
	position:relative;
	z-index:5;
	height:767px;
	&:before {
		content:'';
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		height:87px;
		background:rgba(9,13,14,0.8);
		z-index:6;
	}
	.sliderkit-panels {
		.sliderkit-panel {
			background-size:cover;
			background-position:center top;
			height:767px;
			&:before {
				content:'';
				position:absolute;
				left:0;
				right:0;
				top:0;
				bottom:0;
				z-index:4;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
			}
		}
	}
}
.books-pager {
	position:absolute;
	left:0;
	right:0;
	bottom:65px;
	z-index:7;
}
.books-pager-list {
	text-align:center; 
	position:relative;
	li {
		padding:0 14px;
		box-sizing:content-box;
		display:inline-block;
		vertical-align:top;
		&.sliderkit-selected {
			a {
				&:before {
					opacity:1; 
				}
			}
		}
	}
	a {
		display:block;
		position:relative;
		&:before {
			content:'';
			position:absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			border:7px solid #fff;
			opacity:0;
			@include transition(all 0.3s ease 0s);
		}
		&:hover,
		&.active { 
			&:before {
				opacity:1; 
			}
		}
	}
	img {
		width:100%;
		max-width:100%;
	}
}
.book-info {
	padding:211px 0 0;
	text-align:center;
	margin:0 auto;
	font-size:13px;
	color:#fefefe;
	position:relative;
	z-index:6;
	max-width:950px;
	h2 {
		font-size:47.99px;
		line-height:1.25;
		color:#fffefe;
		text-transform:uppercase;
	}
	p {
		max-width:610px;
		margin:0 auto 18px;
	}
}
.book-info-buttons {
	.btn-blue {
		font-size:27.72px;
		min-width:182px;
		padding:5px 10px 6px;
		border-radius:20px;
		.ruble {
			font-weight:700;
		}
	}
}
.book-info-author {
	color:$brown_light_color;
}
.book-info-type {
	text-transform:uppercase;
	font-size:24px;
	color:$brown_light_color;
	padding:0 0 7px;
}
/* BOOK PAGE END */

/* PUBLICATION2 */
.full-subscribe {
	position:absolute;
	left:101px;
	right:101px;
	bottom:52px;
	z-index:6;
	text-align:center;
	background:#fff;
	padding:20px 0 0;
	h2 {
		padding:0 0 59px;
	}
	&:before {
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		height:100px;
		top:-99px;
		z-index:7;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	}
}
.full-subscribe-list {
	@extend .clearfix;
	margin:-39px 0 23px -47px;
	> li {
		float:left;
		width:50%;
		padding:39px 0 0 47px;
	}
}
.full-subscribe-item {
	background:#F5F4F4;
	color:#000;
	height:153px;
	display:block;
	text-decoration:none;
	@include transition(all 0.3s ease 0s);
	&:hover {
		text-decoration:none;
		box-shadow:0 0 20px rgba(0,0,0,0.4);
		background:$blue_color;
		.full-subscribe-item-price,
		.full-subscribe-item-link {
			color:#fff;
		}
	}
}
.full-subscribe-item-label {
	font-size:12.98px;
	color:#000;
	display:block;
	width:123px;
	margin:0 auto 3px;
	background:#C4E5A9;
	text-transform:uppercase;
	text-align:center;
	height:39px;
	position:relative;
	top:-17px;
	line-height:39px;
}
.full-subscribe-item-price {
	font-size:35.95px;
	padding:0 0 11px;
	.ruble {
		font-weight:700;
	}
}
.full-subscribe-item-link {
	font-size:17.97px;
	text-transform:uppercase;
	text-decoration:underline;
}
.full-subscribe-desc {
	color:#000;
	max-width:700px;
	margin:0 auto 27px;
}
.full-subscribe-already-link {
	color:$red_dark_color;
	font-size:$h2_size;
	text-decoration:underline;
}
/* PUBLICATION2 END */

/* MOBILE */
.resolution-large,
.resolution-medium,
.resolution-small {
	position:absolute;
	left:-9999px;
	display:none;
}
.tablet,
.mobile {
	.content-top {
		background-size:auto 150%;
	}
}
/* MOBILE END */