/* FONTS */
/* DINPro Bold */
@font-face {
	font-family: 'dinpro_bold';
		src: url('../fonts/dinpro/bold/dinpro-bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/dinpro/bold/dinpro-bold.otf')  format('opentype'),
			 url('../fonts/dinpro/bold/dinpro-bold.woff') format('woff'),
			 url('../fonts/dinpro/bold/dinpro-bold.ttf')  format('truetype'),
			 url('../fonts/dinpro/bold/dinpro-bold.svg#dinpro-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* DINPro Regular */
@font-face {
	font-family: 'dinpro_regular';
		src: url('../fonts/dinpro/regular/dinpro-regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/dinpro/regular/dinpro-regular.otf')  format('opentype'),
			 url('../fonts/dinpro/regular/dinpro-regular.woff') format('woff'),
			 url('../fonts/dinpro/regular/dinpro-regular.ttf')  format('truetype'),
			 url('../fonts/dinpro/regular/dinpro-regular.svg#dinpro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Ruble */
@font-face {
	font-family: 'ruble';
	src: url('../fonts/ruble/ruble.eot');
	src: url('../fonts/ruble/ruble.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ruble/ruble.woff') format('woff'),
		url('../fonts/ruble/ruble.ttf') format('truetype'),
		url('../fonts/ruble/ruble.svg#ruble') format('svg');
	font-weight: normal;
	font-style: normal;
}












/* FONTS END */


