
$arrow-black-left-small-name: 'arrow-black-left-small';
$arrow-black-left-small-x: 304px;
$arrow-black-left-small-y: 120px;
$arrow-black-left-small-offset-x: -304px;
$arrow-black-left-small-offset-y: -120px;
$arrow-black-left-small-width: 6px;
$arrow-black-left-small-height: 10px;
$arrow-black-left-small-total-width: 346px;
$arrow-black-left-small-total-height: 330px;
$arrow-black-left-small-image: '../img/sprite-icons.png';
$arrow-black-left-small: (304px, 120px, -304px, -120px, 6px, 10px, 346px, 330px, '../img/sprite-icons.png', 'arrow-black-left-small', );
$arrow-black-right-small-name: 'arrow-black-right-small';
$arrow-black-right-small-x: 304px;
$arrow-black-right-small-y: 100px;
$arrow-black-right-small-offset-x: -304px;
$arrow-black-right-small-offset-y: -100px;
$arrow-black-right-small-width: 6px;
$arrow-black-right-small-height: 10px;
$arrow-black-right-small-total-width: 346px;
$arrow-black-right-small-total-height: 330px;
$arrow-black-right-small-image: '../img/sprite-icons.png';
$arrow-black-right-small: (304px, 100px, -304px, -100px, 6px, 10px, 346px, 330px, '../img/sprite-icons.png', 'arrow-black-right-small', );
$arrow-slider-white-left-name: 'arrow-slider-white-left';
$arrow-slider-white-left-x: 321px;
$arrow-slider-white-left-y: 53px;
$arrow-slider-white-left-offset-x: -321px;
$arrow-slider-white-left-offset-y: -53px;
$arrow-slider-white-left-width: 24px;
$arrow-slider-white-left-height: 43px;
$arrow-slider-white-left-total-width: 346px;
$arrow-slider-white-left-total-height: 330px;
$arrow-slider-white-left-image: '../img/sprite-icons.png';
$arrow-slider-white-left: (321px, 53px, -321px, -53px, 24px, 43px, 346px, 330px, '../img/sprite-icons.png', 'arrow-slider-white-left', );
$arrow-slider-white-right-name: 'arrow-slider-white-right';
$arrow-slider-white-right-x: 321px;
$arrow-slider-white-right-y: 0px;
$arrow-slider-white-right-offset-x: -321px;
$arrow-slider-white-right-offset-y: 0px;
$arrow-slider-white-right-width: 25px;
$arrow-slider-white-right-height: 43px;
$arrow-slider-white-right-total-width: 346px;
$arrow-slider-white-right-total-height: 330px;
$arrow-slider-white-right-image: '../img/sprite-icons.png';
$arrow-slider-white-right: (321px, 0px, -321px, 0px, 25px, 43px, 346px, 330px, '../img/sprite-icons.png', 'arrow-slider-white-right', );
$arrow-white-left-small-name: 'arrow-white-left-small';
$arrow-white-left-small-x: 337px;
$arrow-white-left-small-y: 276px;
$arrow-white-left-small-offset-x: -337px;
$arrow-white-left-small-offset-y: -276px;
$arrow-white-left-small-width: 6px;
$arrow-white-left-small-height: 10px;
$arrow-white-left-small-total-width: 346px;
$arrow-white-left-small-total-height: 330px;
$arrow-white-left-small-image: '../img/sprite-icons.png';
$arrow-white-left-small: (337px, 276px, -337px, -276px, 6px, 10px, 346px, 330px, '../img/sprite-icons.png', 'arrow-white-left-small', );
$arrow-white-right-small-name: 'arrow-white-right-small';
$arrow-white-right-small-x: 321px;
$arrow-white-right-small-y: 276px;
$arrow-white-right-small-offset-x: -321px;
$arrow-white-right-small-offset-y: -276px;
$arrow-white-right-small-width: 6px;
$arrow-white-right-small-height: 10px;
$arrow-white-right-small-total-width: 346px;
$arrow-white-right-small-total-height: 330px;
$arrow-white-right-small-image: '../img/sprite-icons.png';
$arrow-white-right-small: (321px, 276px, -321px, -276px, 6px, 10px, 346px, 330px, '../img/sprite-icons.png', 'arrow-white-right-small', );
$icon-arrow-white-top-name: 'icon-arrow-white-top';
$icon-arrow-white-top-x: 321px;
$icon-arrow-white-top-y: 232px;
$icon-arrow-white-top-offset-x: -321px;
$icon-arrow-white-top-offset-y: -232px;
$icon-arrow-white-top-width: 20px;
$icon-arrow-white-top-height: 12px;
$icon-arrow-white-top-total-width: 346px;
$icon-arrow-white-top-total-height: 330px;
$icon-arrow-white-top-image: '../img/sprite-icons.png';
$icon-arrow-white-top: (321px, 232px, -321px, -232px, 20px, 12px, 346px, 330px, '../img/sprite-icons.png', 'icon-arrow-white-top', );
$icon-author-black-name: 'icon-author-black';
$icon-author-black-x: 0px;
$icon-author-black-y: 303px;
$icon-author-black-offset-x: 0px;
$icon-author-black-offset-y: -303px;
$icon-author-black-width: 27px;
$icon-author-black-height: 27px;
$icon-author-black-total-width: 346px;
$icon-author-black-total-height: 330px;
$icon-author-black-image: '../img/sprite-icons.png';
$icon-author-black: (0px, 303px, 0px, -303px, 27px, 27px, 346px, 330px, '../img/sprite-icons.png', 'icon-author-black', );
$icon-author-name: 'icon-author';
$icon-author-x: 37px;
$icon-author-y: 303px;
$icon-author-offset-x: -37px;
$icon-author-offset-y: -303px;
$icon-author-width: 27px;
$icon-author-height: 27px;
$icon-author-total-width: 346px;
$icon-author-total-height: 330px;
$icon-author-image: '../img/sprite-icons.png';
$icon-author: (37px, 303px, -37px, -303px, 27px, 27px, 346px, 330px, '../img/sprite-icons.png', 'icon-author', );
$icon-camera-name: 'icon-camera';
$icon-camera-x: 148px;
$icon-camera-y: 250px;
$icon-camera-offset-x: -148px;
$icon-camera-offset-y: -250px;
$icon-camera-width: 32px;
$icon-camera-height: 26px;
$icon-camera-total-width: 346px;
$icon-camera-total-height: 330px;
$icon-camera-image: '../img/sprite-icons.png';
$icon-camera: (148px, 250px, -148px, -250px, 32px, 26px, 346px, 330px, '../img/sprite-icons.png', 'icon-camera', );
$icon-comments-name: 'icon-comments';
$icon-comments-x: 321px;
$icon-comments-y: 254px;
$icon-comments-offset-x: -321px;
$icon-comments-offset-y: -254px;
$icon-comments-width: 12px;
$icon-comments-height: 12px;
$icon-comments-total-width: 346px;
$icon-comments-total-height: 330px;
$icon-comments-image: '../img/sprite-icons.png';
$icon-comments: (321px, 254px, -321px, -254px, 12px, 12px, 346px, 330px, '../img/sprite-icons.png', 'icon-comments', );
$icon-edit-small-name: 'icon-edit-small';
$icon-edit-small-x: 321px;
$icon-edit-small-y: 205px;
$icon-edit-small-offset-x: -321px;
$icon-edit-small-offset-y: -205px;
$icon-edit-small-width: 17px;
$icon-edit-small-height: 17px;
$icon-edit-small-total-width: 346px;
$icon-edit-small-total-height: 330px;
$icon-edit-small-image: '../img/sprite-icons.png';
$icon-edit-small: (321px, 205px, -321px, -205px, 17px, 17px, 346px, 330px, '../img/sprite-icons.png', 'icon-edit-small', );
$icon-edit-name: 'icon-edit';
$icon-edit-x: 321px;
$icon-edit-y: 106px;
$icon-edit-offset-x: -321px;
$icon-edit-offset-y: -106px;
$icon-edit-width: 24px;
$icon-edit-height: 23px;
$icon-edit-total-width: 346px;
$icon-edit-total-height: 330px;
$icon-edit-image: '../img/sprite-icons.png';
$icon-edit: (321px, 106px, -321px, -106px, 24px, 23px, 346px, 330px, '../img/sprite-icons.png', 'icon-edit', );
$icon-lock-name: 'icon-lock';
$icon-lock-x: 321px;
$icon-lock-y: 139px;
$icon-lock-offset-x: -321px;
$icon-lock-offset-y: -139px;
$icon-lock-width: 19px;
$icon-lock-height: 27px;
$icon-lock-total-width: 346px;
$icon-lock-total-height: 330px;
$icon-lock-image: '../img/sprite-icons.png';
$icon-lock: (321px, 139px, -321px, -139px, 19px, 27px, 346px, 330px, '../img/sprite-icons.png', 'icon-lock', );
$icon-logo-name: 'icon-logo';
$icon-logo-x: 0px;
$icon-logo-y: 0px;
$icon-logo-offset-x: 0px;
$icon-logo-offset-y: 0px;
$icon-logo-width: 97px;
$icon-logo-height: 90px;
$icon-logo-total-width: 346px;
$icon-logo-total-height: 330px;
$icon-logo-image: '../img/sprite-icons.png';
$icon-logo: (0px, 0px, 0px, 0px, 97px, 90px, 346px, 330px, '../img/sprite-icons.png', 'icon-logo', );
$icon-logo2-name: 'icon-logo2';
$icon-logo2-x: 214px;
$icon-logo2-y: 0px;
$icon-logo2-offset-x: -214px;
$icon-logo2-offset-y: 0px;
$icon-logo2-width: 97px;
$icon-logo2-height: 90px;
$icon-logo2-total-width: 346px;
$icon-logo2-total-height: 330px;
$icon-logo2-image: '../img/sprite-icons.png';
$icon-logo2: (214px, 0px, -214px, 0px, 97px, 90px, 346px, 330px, '../img/sprite-icons.png', 'icon-logo2', );
$icon-logo3-name: 'icon-logo3';
$icon-logo3-x: 107px;
$icon-logo3-y: 100px;
$icon-logo3-offset-x: -107px;
$icon-logo3-offset-y: -100px;
$icon-logo3-width: 97px;
$icon-logo3-height: 90px;
$icon-logo3-total-width: 346px;
$icon-logo3-total-height: 330px;
$icon-logo3-image: '../img/sprite-icons.png';
$icon-logo3: (107px, 100px, -107px, -100px, 97px, 90px, 346px, 330px, '../img/sprite-icons.png', 'icon-logo3', );
$icon-logo4-name: 'icon-logo4';
$icon-logo4-x: 0px;
$icon-logo4-y: 100px;
$icon-logo4-offset-x: 0px;
$icon-logo4-offset-y: -100px;
$icon-logo4-width: 97px;
$icon-logo4-height: 90px;
$icon-logo4-total-width: 346px;
$icon-logo4-total-height: 330px;
$icon-logo4-image: '../img/sprite-icons.png';
$icon-logo4: (0px, 100px, 0px, -100px, 97px, 90px, 346px, 330px, '../img/sprite-icons.png', 'icon-logo4', );
$icon-logo5-name: 'icon-logo5';
$icon-logo5-x: 107px;
$icon-logo5-y: 0px;
$icon-logo5-offset-x: -107px;
$icon-logo5-offset-y: 0px;
$icon-logo5-width: 97px;
$icon-logo5-height: 90px;
$icon-logo5-total-width: 346px;
$icon-logo5-total-height: 330px;
$icon-logo5-image: '../img/sprite-icons.png';
$icon-logo5: (107px, 0px, -107px, 0px, 97px, 90px, 346px, 330px, '../img/sprite-icons.png', 'icon-logo5', );
$icon-pause-medium-name: 'icon-pause-medium';
$icon-pause-medium-x: 321px;
$icon-pause-medium-y: 176px;
$icon-pause-medium-offset-x: -321px;
$icon-pause-medium-offset-y: -176px;
$icon-pause-medium-width: 18px;
$icon-pause-medium-height: 19px;
$icon-pause-medium-total-width: 346px;
$icon-pause-medium-total-height: 330px;
$icon-pause-medium-image: '../img/sprite-icons.png';
$icon-pause-medium: (321px, 176px, -321px, -176px, 18px, 19px, 346px, 330px, '../img/sprite-icons.png', 'icon-pause-medium', );
$icon-photo-name: 'icon-photo';
$icon-photo-x: 214px;
$icon-photo-y: 100px;
$icon-photo-offset-x: -214px;
$icon-photo-offset-y: -100px;
$icon-photo-width: 80px;
$icon-photo-height: 64px;
$icon-photo-total-width: 346px;
$icon-photo-total-height: 330px;
$icon-photo-image: '../img/sprite-icons.png';
$icon-photo: (214px, 100px, -214px, -100px, 80px, 64px, 346px, 330px, '../img/sprite-icons.png', 'icon-photo', );
$icon-search-black-name: 'icon-search-black';
$icon-search-black-x: 111px;
$icon-search-black-y: 303px;
$icon-search-black-offset-x: -111px;
$icon-search-black-offset-y: -303px;
$icon-search-black-width: 27px;
$icon-search-black-height: 27px;
$icon-search-black-total-width: 346px;
$icon-search-black-total-height: 330px;
$icon-search-black-image: '../img/sprite-icons.png';
$icon-search-black: (111px, 303px, -111px, -303px, 27px, 27px, 346px, 330px, '../img/sprite-icons.png', 'icon-search-black', );
$icon-search-name: 'icon-search';
$icon-search-x: 74px;
$icon-search-y: 303px;
$icon-search-offset-x: -74px;
$icon-search-offset-y: -303px;
$icon-search-width: 27px;
$icon-search-height: 27px;
$icon-search-total-width: 346px;
$icon-search-total-height: 330px;
$icon-search-image: '../img/sprite-icons.png';
$icon-search: (74px, 303px, -74px, -303px, 27px, 27px, 346px, 330px, '../img/sprite-icons.png', 'icon-search', );
$icon-star-logo-name: 'icon-star-logo';
$icon-star-logo-x: 103px;
$icon-star-logo-y: 250px;
$icon-star-logo-offset-x: -103px;
$icon-star-logo-offset-y: -250px;
$icon-star-logo-width: 35px;
$icon-star-logo-height: 33px;
$icon-star-logo-total-width: 346px;
$icon-star-logo-total-height: 330px;
$icon-star-logo-image: '../img/sprite-icons.png';
$icon-star-logo: (103px, 250px, -103px, -250px, 35px, 33px, 346px, 330px, '../img/sprite-icons.png', 'icon-star-logo', );
$icon-user-empty-name: 'icon-user-empty';
$icon-user-empty-x: 0px;
$icon-user-empty-y: 200px;
$icon-user-empty-offset-x: 0px;
$icon-user-empty-offset-y: -200px;
$icon-user-empty-width: 93px;
$icon-user-empty-height: 93px;
$icon-user-empty-total-width: 346px;
$icon-user-empty-total-height: 330px;
$icon-user-empty-image: '../img/sprite-icons.png';
$icon-user-empty: (0px, 200px, 0px, -200px, 93px, 93px, 346px, 330px, '../img/sprite-icons.png', 'icon-user-empty', );
$soc-fb-name: 'soc-fb';
$soc-fb-x: 153px;
$soc-fb-y: 200px;
$soc-fb-offset-x: -153px;
$soc-fb-offset-y: -200px;
$soc-fb-width: 40px;
$soc-fb-height: 40px;
$soc-fb-total-width: 346px;
$soc-fb-total-height: 330px;
$soc-fb-image: '../img/sprite-icons.png';
$soc-fb: (153px, 200px, -153px, -200px, 40px, 40px, 346px, 330px, '../img/sprite-icons.png', 'soc-fb', );
$soc-google-name: 'soc-google';
$soc-google-x: 103px;
$soc-google-y: 200px;
$soc-google-offset-x: -103px;
$soc-google-offset-y: -200px;
$soc-google-width: 40px;
$soc-google-height: 40px;
$soc-google-total-width: 346px;
$soc-google-total-height: 330px;
$soc-google-image: '../img/sprite-icons.png';
$soc-google: (103px, 200px, -103px, -200px, 40px, 40px, 346px, 330px, '../img/sprite-icons.png', 'soc-google', );
$soc-tw-name: 'soc-tw';
$soc-tw-x: 253px;
$soc-tw-y: 200px;
$soc-tw-offset-x: -253px;
$soc-tw-offset-y: -200px;
$soc-tw-width: 40px;
$soc-tw-height: 40px;
$soc-tw-total-width: 346px;
$soc-tw-total-height: 330px;
$soc-tw-image: '../img/sprite-icons.png';
$soc-tw: (253px, 200px, -253px, -200px, 40px, 40px, 346px, 330px, '../img/sprite-icons.png', 'soc-tw', );
$soc-vk-name: 'soc-vk';
$soc-vk-x: 203px;
$soc-vk-y: 200px;
$soc-vk-offset-x: -203px;
$soc-vk-offset-y: -200px;
$soc-vk-width: 40px;
$soc-vk-height: 40px;
$soc-vk-total-width: 346px;
$soc-vk-total-height: 330px;
$soc-vk-image: '../img/sprite-icons.png';
$soc-vk: (203px, 200px, -203px, -200px, 40px, 40px, 346px, 330px, '../img/sprite-icons.png', 'soc-vk', );
$spritesheet-width: 346px;
$spritesheet-height: 330px;
$spritesheet-image: '../img/sprite-icons.png';
$spritesheet-sprites: ($arrow-black-left-small, $arrow-black-right-small, $arrow-slider-white-left, $arrow-slider-white-right, $arrow-white-left-small, $arrow-white-right-small, $icon-arrow-white-top, $icon-author-black, $icon-author, $icon-camera, $icon-comments, $icon-edit-small, $icon-edit, $icon-lock, $icon-logo, $icon-logo2, $icon-logo3, $icon-logo4, $icon-logo5, $icon-pause-medium, $icon-photo, $icon-search-black, $icon-search, $icon-star-logo, $icon-user-empty, $soc-fb, $soc-google, $soc-tw, $soc-vk, );
$spritesheet: (346px, 330px, '../img/sprite-icons.png', $spritesheet-sprites, );


@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
