//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//

// FONTS
// DinPro
$font:'dinpro_regular'; // regular
$font_bold:'dinpro_bold'; // bold

// Ruble
$ruble:'ruble';


//$font_light:'Dinpro_light';
//$font_bold:'Dinpro_bold';

// Open Sans
//$font_opensans:'Open Sans';

// inherit fonts
$inherit_fonts: Arial, Tahoma, Verdana, sans-serif;

// FONT SIZES
$h1_size:48px;
$h2_size:24px;
$h3_size:18px;
$h4_size:16px;
$h5_size:15px;
$h6_size:14px;
$main_size:14px; // body

// LINE-HEIGHT
$mainLh:1.2;

// COLORS
$black_color: #030202; // main color

$gray_color: #ECEDEE;

$red_color: #C00505;
$red2_color: #FF0101;
$red_dark_color: #ce2127;

$green_color: #29A732;
$green2_color: #508823;

$blue_color: #32a0fb;
$blue2_color: #008DCF;

$aqua_color: #F3F9FC;

$brown_color: #B34D2D;
$brown2_color: #87743a;
$brown_light_color: #caaf5c;

$yellow_color: #F7EE86;
$orange_color: #FA8100;





