/*  
	--- WIDGETS CONTAINS --- 
	
	1. Listed Gallery
	2. Slider Kit
		
*/

/*----------- 1. LISTED GALLERY -----------*/
.slider-bloc {
    position: relative;
    max-width: 100%}
.slider-bloc .content-slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 330px;
    z-index: 2;
}
.slider-bloc .content-slider .content-rel-slider, .slider-bloc .content-slider .content-abs-slider, .slider-bloc .content-slider .item-slider {
    height: 100%}
.slider-bloc .content-slider .content-rel-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.slider-bloc .content-slider .content-rel-slider .content-abs-slider {
    position: absolute;
    left: 0;
    top: 0;
}
.slider-bloc .content-slider .content-rel-slider .content-abs-slider .item-slider {
    float: left;
}
.slider-bloc .content-slider .content-rel-slider .content-abs-slider .item-slider .loop-mini {
    height: auto;
}
.slider-bloc .nav-slider {
    height: auto;
}
.slider-bloc .nav-slider .item-nav {
    cursor: pointer;
}
/*----------- 1. LISTED GALLERY END -----------*/

/*----------- 2. SLIDER KIT -----------*/
.sliderkit {
	position:relative;
	overflow:hidden;
}
.sliderkit .sliderkit-panel {
	position:absolute;
	left:0;
	width:100%;
	top:0;
	bottom:0;
	z-index:1;
}
.sliderkit .sliderkit-panel-old {
	z-index:4;
}
.sliderkit .sliderkit-panel-active {
	z-index:5;
}
.sliderkit-nav {
	position:absolute;
	left:0;
	bottom:0;
	right:0;
}
.sliderkit-nav-clip {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	li {
		float:left;
	}
}
.sliderkit-go-prev,
.sliderkit-go-next {
	cursor:pointer;
	position:absolute;
	top:304px;
	z-index:10;
	font-size:0;
	line-height:0;
	opacity:0.2;
	@include transition(all 0.3s ease 0s);
	&:hover {
		opacity:1;
	}
}
.sliderkit-go-prev {
	left:88px;
	@include sprite($arrow-slider-white-left);
}
.sliderkit-go-next {
	right:82px;
	@include sprite($arrow-slider-white-right);
}
/*----------- 2. SLIDER KIT END -----------*/