<?php
$comment = $this->comment;
$class = '';
if ($this->key == 0) {
    $anRateTable = new RateTable();
    if ($anRateTable->getRateCnt($comment->comment_id, 1) > 0) {
        $class = 'message-best';
    }
}

?>
<article class="message <?= $class ?>"
         id="comment-<?= $comment->comment_id ?>">
    <div class="message-left">
        <div class="item-status-<?= $this->status($comment->u_rating) ?>"><?= $this->status($comment->u_rating) ?></div>
        <a href="<?= $this->url(array($comment->u_login), 'user', true) ?>" class="author-image">
            <img src="<?= $this->getFirst($comment->u_avatar, '/public/images/avatar.png') ?>"
                 alt="<?= $this->escape($comment->u_name) ?>" width="37" height="37"/>
        </a>
    </div>
    <?php if ($this->allowRate && ($comment->user_id != $this->item->user_id)) : ?>
        <?= $this->rate($comment); ?>
    <?php endif; ?>
    <div class="message-content">
        <div class="message-author"><a
                href="<?= $this->url(array($comment->u_login), 'user', true) ?>"><?= $this->escape($comment->u_name_f) ?>
                <span><?= $this->escape($comment->u_name_l) ?></span></a></div>
        <p><?= $this->linkString($this->expandSmiles(nl2br($this->escape($comment->content)), $comment->is_smile)) ?></p>
    </div>
</article>