<ul class="side-submenu-menus-list">
<?php foreach ($this->cats as $subcat): ?>
    <li <?= $this->selected == $subcat->cat_id ? ' class="current"' : ''?>>
        <a href="<?= $this->url($subcat->toArray(), 'cat-article', true) ?>">
            <?= $this->escape($subcat->name) ?>
        </a>
    </li>
<? endforeach; ?>
</ul>