<ul class="side-submenu-menus-list cat-select">
    <?php foreach ($this->cats as $subcat): ?>
        <li <?= $this->selected == $subcat->cat_id ? ' class="current"' : '' ?>>
            <a href="#" class="js-select-category" data-category-id="<?= $subcat->cat_id ?>"
               data-category-name="<?= $subcat->name ?>">
                <?= $this->escape($subcat->name) ?>
            </a>
        </li>
    <? endforeach; ?>
</ul>