<h3 class="title"><a href="<?= $this->url(array('controller'=>'draft'), 'default', true) ?>">Черновики</a></h3>
<div class="in">
<? foreach ($this->articles as $item) : ?>
<div class="article1 draft">
    <div class="info">
        <div class="date"><?= $this->date($item->date) ?></div>
        <a href="<?= $this->url($item->toArray(), 'cat-article', true) ?>"><?= $item->c_name ?></a>
    </div>
    <!-- end .info-->
    <h4><a href="<?= $this->url(array($item->alias), 'article', true) ?>"><?= $item->name ?></a></h4>
</div>
<!-- end .article1-->
<div class="hr"></div>
<? endforeach; ?>
</div>