<?php
$count = count($this->cats);
$count = floor($count / 2);
$counter = 0;
$currentController = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
?>

<div class="js-side-link quest"></div>
<div class="side-submenu side-submenu-categories">
    <div class="side-submenu-categories-columns">
        <div class="column-50">
            <ul class="side-submenu-categories-list">
                <?php
                foreach ($this->cats as $subcat):
                    $counter++;
                    if ($counter > $count) {
                        $counter = 0;
                        break;
                    }
                    ?>

                    <li<?= $this->selected == $subcat->cat_id ? ' class="current"' : '' ?>><a
                            href="<?= $this->url($subcat->toArray(), 'cat-qna', true) ?>"><?= $this->escape($subcat->name) ?></a>
                    </li>
                <? endforeach; ?>
            </ul>
        </div>
        <div class="column-50">
            <ul class="side-submenu-categories-list">
                <?php
                foreach ($this->cats as $subcat):
                    $counter++;
                    if ($counter > $count): ?>
                        <li<?= $this->selected == $subcat->cat_id ? ' class="current"' : '' ?>><a
                                href="<?= $this->url($subcat->toArray(), 'cat-qna', true) ?>"><?= $this->escape($subcat->name) ?></a>
                        </li>
                        <?php
                    endif;
                endforeach; ?>
            </ul>
        </div>
    </div>
</div>