<div class="message-right">
    <div
        class="fav-holder small<?= Zend_Auth::getInstance()->hasIdentity() ? '' : ' disabled'; ?><?= $this->active ? ' active' : '' ?>">
        <span class="fav-value"><?= $this->yes ?></span>
        <div
            data-href="<?= $this->url(array('controller' => 'rate', 'action' => 'rate', 'id' => $this->comment_id), 'default', true) ?>"
            class="fav-link qa-action-yes">
            <svg class="icon-heart">
                <use xlink:href="#icon-heart"></use>
            </svg>
        </div>
    </div>
</div>