<div class="row">
<? foreach ($this->items as $item) : ?>
<?= $this->partial('article-tizer.inc.phtml', array('item'=>$item, 'class' => $this->cycle(array('', 'third1-center', 'third1-right'), 'article')->next())) ?>
<? endforeach; ?>
<div class="clearfloat"></div>
</div>