<ul class="stats">
    <? foreach ($this->stats as $item) : ?>
    <li>
        <h6><?= $item['name'] ?></h6>
        <div class="line" style="width:<?= floor((log($item['weight']) * 80)/log($this->max)) ?>%"></div>
        <div class="num"><?= $item['num'] ?></div>
        <div class="clearfloat"></div>
    </li>
    <? endforeach; ?>
</ul>