<?php if ($this->paginator->getCurrentPageNumber() === 1): ?>
    <!-- tile-list -->
    <ul class="tile-list">
        <?php foreach ($this->paginator as $item) : ?>
            <li>
                <a href="<?= $this->url(array($item->alias), 'article', true) ?>" class="tile-item">
                    <div class="tile-item-image">
                        <img src="<?= $item->image ?: '/public/images/photo.jpg' ?>"
                             alt="<?= $this->escape($item->name) ?>"/>
                    </div>
                    <div class="tile-item-content">
                        <div class="letter"><?= $this->escape($item->name[0]) ?></div>
                        <h2 class="h3"><?= $this->truncateString($this->escape($item->name), 55) ?></h2>
                        <div class="author-holder">
                            <div class="author-image">
                                <img src="<?= $item->u_avatar ?: '/public/images/avatar.png' ?>"
                                     alt="<?= $this->escape($item->u_name) ?>"/>
                            </div>
                            <div class="author-content"><?= $this->escape($item->u_name_f) ?>
                                <br/><em><?= $this->escape($item->u_name_l) ?></em></div>
                        </div>
                    </div>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
    <!-- tile-list end -->
    <?php if ($this->paginator->getCurrentPageNumber() < $this->paginator->count()): ?>
        <div class="list-buttons">
            <a class="reload-element" href="<?= $this->url(array(
                'controller' => 'ajax',
                'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName(),
                'p' => ''
            ), 'default', true) ?>"
               data-current-page="<?= $this->paginator->getCurrentPageNumber() ?>"
               data-total-pages="<?= $this->paginator->count() ?>">
            </a>
        </div>
    <?php endif; ?>
<?php else: ?>
    <?php foreach ($this->paginator as $item) : ?>
        <li>
            <a href="<?= $this->url(array($item->alias), 'article', true) ?>" class="tile-item">
                <div class="tile-item-image">
                    <img src="<?= $item->image ?: '/public/images/photo.jpg' ?>"
                         alt="<?= $this->escape($item->name) ?>"/>
                </div>
                <div class="tile-item-content">
                    <div class="letter"><?= $this->escape($item->name[0]) ?></div>
                    <h2 class="h3"><?= $this->truncateString($this->escape($item->name), 55) ?></h2>
                    <div class="author-holder">
                        <div class="author-image">
                            <img src="<?= $item->u_avatar ?: '/public/images/avatar.png' ?>"
                                 alt="<?= $this->escape($item->u_name) ?>"/>
                        </div>
                        <div class="author-content"><?= $this->escape($item->u_name_f) ?>
                            <br/><em><?= $this->escape($item->u_name_l) ?></em></div>
                    </div>
                </div>
            </a>
        </li>
    <?php endforeach; ?>
<?php endif; ?>
