<?php
$this->pageCssClass = 'article-page';
$this->declareVars(array(
    'title' => $this->page->title,
    'keywords' => $this->page->keywords,
    'description' => $this->page->description
));
?>

<!-- content-top -->
<div class="content-top">
    <div class="content-top-inner">
        <div class="content-top-main">
            <h1><span><?= $this->page->fullname ?></span></h1>
            <?= $this->render('_top_buttons.phtml') ?>
        </div>
    </div>
</div>
<!-- content-top end -->

<!-- article-wrap -->
<div class="article-wrap">
    <div class="letter"><?= $this->firstLetter($this->page->content) ?></div>
    <div class="publication-article">
        <?= $this->page->content ?>
    </div>
</div>
<!-- article-wrap end -->