/* FONTS */
/* DINPro Bold */
@font-face {
    font-family: 'dinpro_bold';
    src: url("../fonts/dinpro/bold/dinpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/bold/dinpro-bold.otf") format("opentype"), url("../fonts/dinpro/bold/dinpro-bold.woff") format("woff"), url("../fonts/dinpro/bold/dinpro-bold.ttf") format("truetype"), url("../fonts/dinpro/bold/dinpro-bold.svg#dinpro-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* DINPro Regular */
@font-face {
    font-family: 'dinpro_regular';
    src: url("../fonts/dinpro/regular/dinpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro/regular/dinpro-regular.otf") format("opentype"), url("../fonts/dinpro/regular/dinpro-regular.woff") format("woff"), url("../fonts/dinpro/regular/dinpro-regular.ttf") format("truetype"), url("../fonts/dinpro/regular/dinpro-regular.svg#dinpro-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Ruble */
@font-face {
    font-family: 'ruble';
    src: url("../fonts/ruble/ruble.eot");
    src: url("../fonts/ruble/ruble.eot?#iefix") format("embedded-opentype"), url("../fonts/ruble/ruble.woff") format("woff"), url("../fonts/ruble/ruble.ttf") format("truetype"), url("../fonts/ruble/ruble.svg#ruble") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* FONTS END */

textarea, input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url] {
    cursor: text;
    width: 100%;
    display: block;
    background: #fff;
    border: 0;
    padding: 11px 20px 12px;
    color: #030202;
    font-size: 12px;
    font-family: "dinpro_bold", Arial, Tahoma, Verdana, sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

.article-edit * {
    box-sizing: border-box;
    font-family: "dinpro_bold", Arial, Tahoma, Verdana, sans-serif;
}

.article-edit a {
    color: #030202;
    text-decoration: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.article-edit a:hover {
    text-decoration: underline;
}

.content:before, .content:after {
    content: '';
    display: table;
}

.content:after {
    clear: both;
}

[class^="item-status-"] {
    display: inline-block;
    text-transform: uppercase;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 13.76px;
    line-height: 44px;
    color: #fefcfc;
    text-align: center;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-status-top {
    background: #ff0101;
}

.item-status-mas {
    background: #b34d2d;
}

.item-status-pro {
    background: #9d0e8c;
}

.item-status-spe {
    background: #008dcf;
}

.item-status-deb {
    background: #29a732;
}

.item-status-tra {
    background: #fa8100;
}

.item-status-violet {
    background: #9D0E8C;
}

.item-status-brown {
    background: #B34D2D;
}

.item-status-blue {
    background: #008DCF;
}

.item-status-green {
    background: #29A732;
}

.item-status-red {
    background: #FF0101;
}

.item-status-dark-red {
    background: #ce2127;
}

.item-status-orange {
    background: #FA8100;
}

.article-edit {
    background: #FFFFFF;
}

.message-left {
    float: left;
    margin: 0 9px 0 0;
}

.message-left [class^="item-status"] {
    vertical-align: middle;
    margin-right: 2px;
}

.message-left .author-image {
    float: none;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.message-left .author-image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.message-left .name {
    display: table;
    float: right;
    height: 45px;
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
}

.message-left .name:hover {
    text-decoration: underline;
}

.message-left .name .name-holder {
    display: table-cell;
    vertical-align: middle;
}

.message-left .name .name-holder .first-name {
    display: block;
}

.user {
    padding: 25px 40px;
}

.message-right {
    float: right;
    line-height: 45px;
}

.message-right span.payed {
    color: #58a118;
    margin-right: 20px;
}

.message-right span.price {
    display: inline-block;
    padding: 0 10px;
    background: #ecfbd9;
    color: #000000;
}

.big-image {
    height: 510px;
    background: url(../img/bg/content-top.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
}

.big-image:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.big-image .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: underline;
}

.big-image .inner:hover {
    text-decoration: none;
}

.big-image .inner:before {
    content: '';
    display: inline-block;
    margin: 0 0 6px;
    background-image: url(../img/camera-white.png);
    width: 80px;
    height: 64px;
}

.big-image .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 6px;
}

.big-image .inner span {
    display: block;
}

.podcast-load {
    position: absolute;
    padding-left: 75px;
    bottom: 70px;
    left: 145px;
    z-index: 3;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF !important;
    font-size: 16px;
    font-family: 'dinpro_regular';
}

.podcast-load:before {
    content: '';
    position: absolute;
    width: 55px;
    height: 55px;
    background: url("../img/play-icon.png") no-repeat;
    left: 0;
    top: 0;
}

.publication-info-top {
    background: #32a0fb;
    padding: 40px;
}

.publication-info-add-image {
    text-align: center;
    float: left;
    width: 266px;
    height: 229px;
    display: table;
    background: #F3F9FC;
    font-size: 14px;
    color: #e2e3e4;
    text-decoration: underline;
    margin: 0 37px 0 0;
    background-size: cover;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.publication-info-add-image:before {
    content: '';
    display: inline-block;
}

.publication-info-add-image .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    color: #FFFFFF;
    z-index: 3;
    position: relative;
}

.publication-info-add-image:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.publication-info-add-image:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

.publication-info-add-image .inner:before {
    content: '';
    display: inline-block;
    margin: 0 0 6px;
    background-image: url(../img/camera-white.png);
    width: 80px;
    height: 64px;
}

.publication-info-add-image span {
    display: block;
}

.publication-info-add-image input[type="file"] {
    position: absolute;
    left: -9999px;
}

.publication-info-add-image:hover {
    color: #000000;
}

.publication-info-content {
    overflow: hidden;
    position: relative;
    padding: 52px 0 0;
}

.publication-info-category {
    font-size: 16px;
    padding: 0 0 7px 3px;
}

.publication-info-title {
    padding: 0 0 20px;
    min-height: 84px;
}

.publication-info-title textarea {
    font-size: 24px;
    color: #fdfdfd;
    background: transparent;
    padding: 0 0 6px;
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
}

.publication-info-title textarea:-moz-placeholder {
    color: #FFFFFF;
}

.publication-info-title textarea:-ms-input-placeholder {
    color: #FFFFFF;
}

.publication-info-title textarea::-moz-placeholder {
    color: #FFFFFF;
}

.publication-info-title textarea::-webkit-input-placeholder {
    color: #FFFFFF;
}

.publication-info-bottom {
    background: #fff;
    position: relative;
}

.publication-info-editor {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    z-index: 3;
}

.publication-info-editor p {
    margin-bottom: 22px !important;
}

.publication-info-text textarea {
    font-size: 16px;
    background: transparent;
    padding: 97px 100px;
    height: 650px;
    font-family: "dinpro_regular";
}

.publication-info-bottom .letter {
    position: absolute;
    text-transform: uppercase;
    color: #32a0fb;
    font-size: 210px;
    line-height: 1;
    opacity: 0.3;
    left: 24px;
    top: 2px;
}

.article-confi {
    padding: 40px;
    background: #e7f3f9;
}

.article-confi .title {
    font-size: 14px;
    color: #000000;
}

.article-confi .price {
    height: 33px;
    margin-top: 33px;
    color: #000000;
}

.article-confi .price span {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    padding: 0 20px;
    background: #FFFFFF;
    margin-right: 15px;
}

.article-confi > div {
    float: left;
}

.article-confi .date input {
    padding: 0 10px;
    line-height: 33px;
}

.article-confi .date {
    margin-right: 23px;
}

.article-confi .for-subscriber {
    margin-right: 60px;
}

.article-confi .for-approved {
    margin-right: 58px;
}

.article-confi .for-pay {
    margin-right: 13px;
}

.article-confi .holder {
    overflow: hidden;
    width: 135px;
    height: 33px;
    background: #FFFFFF;
    margin-top: 15px;
}

.article-confi .holder .radio {
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 33px;
}

.article-confi .holder .radio label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    background: #b8ec96;
    color: #abaaaa;
    cursor: pointer;
}

.article-confi .holder .radio input[type="radio"]:checked + label {
    background: #FFFFFF;
    color: #000000;
}

.article-edit table.list td:first-child {
    width: 450px;
    color: #fe0000;
}

.article-edit table.list {
    border: none !important;
    margin-bottom: 0;
}

.article-edit table.list td {
    vertical-align: middle;
    padding: 30px 40px;
    border: none;
}

.article-edit table.list tr,
.article-edit table.list tr:hover {
    background: #d8ebf5 !important;
}

.article-edit table.list tr:nth-child(even),
.article-edit table.list tr:hover:nth-child(even) {
    background: #bedcec !important;
}

.buttons {
    padding: 20px 40px;
    background: #f3f9fc;
}

.buttons input {
    background: none;
    border: none;
    display: block;
    width: 100%;
    height: 70px;
    background: #ecedee;
    color: #030202;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.medium-editor-textarea {
    padding: 97px 40px !important;
}

.medium-editor-textarea * {
    font-family: "dinpro_regular", Arial, Tahoma, Verdana, sans-serif;
}

.medium-editor-textarea h1,
.medium-editor-textarea h2,
.medium-editor-textarea h3,
.medium-editor-textarea h4,
.medium-editor-textarea h5,
.medium-editor-textarea h6,
.medium-editor-textarea .h1,
.medium-editor-textarea .h2,
.medium-editor-textarea .h3,
.medium-editor-textarea .h4,
.medium-editor-textarea .h5,
.medium-editor-textarea .h6 {
    color: #030202;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.medium-editor-textarea h1 *,
.medium-editor-textarea h2 *,
.medium-editor-textarea h3 *,
.medium-editor-textarea h4 *,
.medium-editor-textarea h5 *,
.medium-editor-textarea h6 *,
.medium-editor-textarea .h1 *,
.medium-editor-textarea .h2 *,
.medium-editor-textarea .h3 *,
.medium-editor-textarea .h4 *,
.medium-editor-textarea .h5 *,
.medium-editor-textarea .h6 * {
    font-family: "dinpro_bold", Arial, Tahoma, Verdana, sans-serif !important;
}

.buttons input:hover {
    background: #32a0fb;
    color: #fff;
}

.article-comment {
    padding: 40px;
    background: #d8ebf5;
}

.article-comment textarea {
    outline: none;
    resize: none;
    height: 120px;
    padding: 20px;
}

.audio-holder {
    position: absolute;
    z-index: 4;
    bottom: 30px;
    left: 150px;
}

.mejs-container .mejs-controls .mejs-time {
    margin: 8px !important;
    padding: 0 !important;
}

.mejs-container {
    width: 425px !important;
}

.mejs-time-rail {
    width: 280px !important;
}

.remove-podcast {
    position: absolute;
    right: -70px;
    top: 1px;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
}

.view-in-site {
    margin: 24px 40px;
    color: #32a0fb !important;
    text-decoration: underline;
}

.view-in-site:hover {
    text-decoration: none;
}

.relinks {
    padding: 20px 40px;
    background: #f3f9fc;
}

.preloader {
    position: absolute;
    background: #135d9b;
    height: 10px;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: 9;
}