.publication-info-editor {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    z-index: 10;
    padding: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 0 4px #000;
    box-sizing: border-box;
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.publication-info-editor h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
}

.publication-info-editor h2 {
    font-size: 24px;
    line-height: 42px;
	margin:1em 0;
	padding:0;
}

.publication-info-editor h3 {
    font-size: 22px;
    line-height: 32px;
	margin:1em 0;
	padding:0;
}

.publication-info-editor h4 {
    font-size: 18px;
    line-height: 28px;
	margin:1em 0;
	padding:0;
}

.publication-info-editor p {
    margin: 0;
}

.publication-info-editor a {
    color:#32a0fb;
	text-decoration:underline;
}

.publication-info-editor a:hover {
    color:black;
	text-decoration:underline
}

.publication-info-editor pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}


.publication-info-editor blockquote {
    display: block;
    padding-left: 20px;
    border-left: 4px solid #df0d32;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #8d8c8c;
}

.publication-info-editor b,
.publication-info-editor strong {
	font-weight:700;
}

#container {
    width: 960px;
    margin: 30px auto;
}

.editable,
.secondEditable
 {
    outline: none;
}

#columns {
    width: 90%;
    margin: 30px auto;
}

.column-container {

}

.publication-info-editor .column {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin: 10px 1%;
}

