
div.ajax-form-result {
    margin: 0 0 13px;
    font-size: 90%;
    display: none;
}

div.ajax-form-result-ok {
    display: block;
    color:#22af32;
    font-weight: normal;
}

div.ajax-form-result-error {
    display: block;
    color:#a50810;
    font-weight: normal;
}