<? if (count($this->items)) : ?>
<ul>
<? foreach ($this->items as $item) : ?>
    <li <?= $this->iif(!$item->is_active, 'style="color:#999"')?>><?= $this->escape($item->name) ?></li>
<? endforeach; ?>
</ul>
<? endif; ?>
