html {
	height: 100%
}
body {
	height: 100%
}
body {
	padding: 0px; font-size: 82%; margin: 0px; color: #383838; font-family: arial,sans-serif; background-color: #eeefe9;
}

div {margin:0; padding:0}

body a {
	color: #336699;
}

img {border:0}

h1 {font-weight:normal; font-size:160%;}

h2 {font-weight:normal; font-size:135%;}
h2.first {font-weight:normal; font-size:135%; padding-top:0; margin-top:0;
padding-bottom:0.2em; margin-bottom:0;
}
h3 {font-weight:normal}

a:hover {text-decoration:none}

p.description {padding-top:0; margin-top:0; font-style:italic; font-size:85%}



#management {font-size:75%; text-align:right; white-space: nowrap;}

.complete {color:#1eb41e; font-weight:bold}
.error {color:#cc0000; font-weight:bold}


table.main {width:1200px; background:#fff}
table.main td {padding:0.4em}
div.footer-line { border-top:1px solid #a8bfd7; text-align:right; padding-top:0.5em}

table.form {border: 1px solid #ccc;  padding:0.5em}
table.form {width:100%;}
table.form td {padding-left:0; vertical-align:top}
table.form input, table.form textarea, table.form select {width:100%; padding:0.2em}
table.form input.auto {width:auto}
table.form select.auto {width:auto}
table.form input.submit, input.submit {
    background:#336699; 
    color:#fff; 
    padding:0.2em 1.5em; 
    border:none;
    cursor:pointer; 
    width:auto
}

table.form input[type=checkbox] {width:auto !important}

table.list {border:1px solid #ccc; border-collapse:collapse; width:100%; margin-bottom:1em}
table.list td { padding:0.5em 1em 0.5em 0.2em; 
                margin:0;  
                vertical-align:top;
                border-bottom:1px solid #ccc; 
                }
table.list tr.even { background: #f4f9ff}
table.list tr.odd  {}
table.list th {text-align:left; vertical-align:top; font-weight:normal; font-size:small; color:#fff; background-color:#336699; border:1px solid #fff; padding:0.2em}

table.list img {padding:0 0.5em}

.selected {color:#1eb41e;}

table.form td.clear select {width:auto}


table.login-form {border: 1px dashed #ccc}

div.header { border-bottom:solid 5px #a8bfd7; 
             background:#336699; 
             color:#fff;
             text-align:center;
             padding:0.5em  
    }
table.grid {border:1px solid #ccc; border-collapse:collapse; width:100%; margin-bottom:1em}
table.grid td { padding:0.5em 1em 0.5em 0.2em; 
                margin:0;  
                vertical-align:top;
                border-bottom:1px solid #ccc; 
                }    
table.grid tr.even { background: #f4f9ff}
table.grid tr.odd  {}
table.grid th {
    text-align:left; 
    vertical-align:top; 
    font-weight:normal; 
    font-size:small; 
    color:#fff; 
    background-color:#336699; 
    padding:0.4em 0.2em;
}

table.grid img {padding:0 0.5em}

table.grid .grid-row-move {
    background: url('../img/admin/move.png') no-repeat center center;
    cursor: move;
}

.selected {color:#1eb41e;}

.add {
    background:url('/public/images/admin/add.png') no-repeat left top; 
    padding-left:20px;
    margin-top:1em; 
}

#menu {width:190px}
#menu div.block {}
#menu div.item  {
    border:1px solid #ccc; 
    background:url('/public/images/admin/menu-bg.gif') repeat-y right top;
    padding:0.5em;
}
#menu div.item-active { border:1px solid #ccc; 
                        font-weight:bold; 
                        background:#f5f5f5;
                        padding:0.5em;
                      }
#menu div.item a {text-decoration:none}
#menu div.item-active a {text-decoration:none}
#menu div.caption { 
    background:#336699; 
    color:#fff; 
    border-bottom:solid 5px #a8bfd7; 
    padding:0.5em;
    cursor: pointer;
}

#menu div.caption div.arrow { float:right; overflow:hidden; width:12px; height:13px; padding:0; margin-top:3px; background:url('/public/images/admin/arrow.gif') no-repeat left bottom;}
#menu div.close div.arrow {background:url('/public/images/admin/arrow.gif') no-repeat left top;}
#menu div.close div + div { display:none }
#menu div.open div.arrow  {}

ul.paging { text-align: right; padding-top: 1.5em; margin: 1.333em 0 0; color: #ccc}
		ul.paging li { display: inline; margin: 0 .25em; }
		ul.paging li.active { color:#fff; background:#336699; padding:0 0.2em}
		ul.paging li.next { margin-left: 1em; }
			ul.paging a { }
			
			
div.messages {border:1px solid #ccc; padding:1em; margin-bottom:1em}
div.messages div.ok {padding:0 0 0 20px; background:url(/public/images/admin/tick_16.png) no-repeat left top; font-weight:bold; color:#7da12f; font-style: italic;}
div.messages div.error {padding:0 0 0 20px; background:url(/public/images/block_16.png) no-repeat left top; font-weight:bold; color:#c34608; font-style: italic;}

.disabled {color: #999}
