@charset "utf-8";
 @font-face {
 font-family: 'MyriadProBold';
 src: url('../fonts/myriadpro-bold-webfont.eot');
 src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-bold-webfont.woff') format('woff'), url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
 font-weight: normal;
 font-style: normal;
}

html,
body {
	width:100%;
	height:100%;
}

body {
	margin:0;
	padding:0;
}

img {
	border:0;
}

.goldbox {
	min-height:100%;
	background:#bd8230 url(../images/mainbg.jpg) 50% 0;
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	zoom:1;
	position:relative;
	overflow:hidden;
	color:#fff;
}

.goldbox h1 {
	background:#f2c97a url(../images/title.png) repeat-x 50% 0;
	height:47px;
	font:bold 18px/47px Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0;
	color:#b28134;
}

.goldbox h1 a {
    color: #a57300;
}

.goldbox .bg1,
.goldbox .bg2,
.goldbox .bg3 {
	zoom:1;
}

.goldbox .bg1:after,
.goldbox .bg2:after,
.goldbox .bg3:after {
	content: ' ';
	clear:both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.goldbox .bg1 {
	background:url(../images/shelf.png) 50% 224px;
}

.goldbox .bg2 {
	background:url(../images/shelf-l.png) repeat-y 0 224px;
}

.goldbox .bg3 {
	background:url(../images/shelf-r.png) repeat-y 100% 224px;
	padding:45px 1px 45px 0;
	text-align:center;
}

.goldbox .hold {
	float:left;
	width:33.33%;
	height:251px;
}

.goldbox .article {
	display:block;
	margin:0 auto;
	text-align:left;
	vertical-align:top;
	position:relative;
	overflow:hidden;
	width:186px;
	height:186px;
	box-shadow:0 0 15px #000;
	-moz-box-shadow:0 0 15px #000;
	-webkit-box-shadow:0 0 15px #000;
	behavior: url(js/PIE.htc);
}

.goldbox .article a {
	color:#fff;
	text-decoration:none;
}

.goldbox .article .text {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:9px 10px 10px 15px;
	min-height:34px;
	background:url(../images/dark-op.png);
	display:block;
}

.goldbox .article a .text {
	text-decoration:underline;
}

.goldbox .article a:hover .text {
	text-decoration:none;
}

.goldbox .price {
	display:block;
	position:absolute;
	top:112px;
	right:0;
	font:normal 12px/21px "MyriadProBold", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	padding:0 8px;
	text-decoration:none;
	background:#f2eeae;
}

.goldbox .buy {
	display:block;
	text-decoration:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	font:normal 18px/92px "MyriadProBold", "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	background:url(../images/white.png);
	display:none;
}

.goldbox .article:hover .buy {
	display:block;
}

.goldbox .buy span {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin:-46px 0 0 -46px;
	background:url(../images/round.png) no-repeat;
	text-align:center;
	width:92px;
	height:92px;
}
