@charset "utf-8";

img,
.person1 .name,
.author,
.corner,
.table1 tr td,
.header .user .name1,
.header .user .ava,
.stats li .num,
.top-block .user-name .orig,
.members li span,
.modal .bg-tl,
.modal .bg-tr,
.modal .bg-bl,
.modal .bg-br,
.modal .bg-cl,
.modal .bg-cr,
.refl,
.nav li a,
.video-link,
.price,
.modal-video .close,
.modal-video {
	_behavior: url(js/iepngfix.htc);
}

.pagination li {
	display:inline;
}

.form .hold input {
	padding:3px 0;
}
