html,
body {
	width:100%;
	height:100%;
        margin:0;
	padding:0;
}

body {
	background:#fff url(../images/bg-top.png) repeat-x;
	font:normal 13px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#434343;
}

form,
fieldset {
	margin:0;
	padding:0;
	border:0;
}

input,
select,
textarea,
button {
	font-family:Tahoma, Geneva, sans-serif;
	color:#4b4b4b;
	font-size:11px;
	outline:none;
}

textarea {
	resize:vertical;
}

img {
	border:0;
}

a {
	color:#006b8f;
	text-decoration:underline;
	outline:none;
}

a:hover {
	text-decoration:none;
}

table {
	border-collapse:collapse;
}

p {
	margin:1em 0;
}

h1 {
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	color:#000;
	margin:0 0 10px 0;
}

h2 {
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	color:#000;
	margin:0 0 10px 0;
}

h3 {
	font-weight:normal;
	font-size:17px;
	line-height:19px;
	color:#000;
	margin:0 0 7px 0;
}

h4 {
	font:bold 12px/16px Tahoma, Geneva, sans-serif;
	margin:0 0 12px 0;
}

h5 {
	font-size:15px;
	font-weight:normal;
	color:#000;
	margin:0 0 10px 0;
}

h6 {
	font-size:11px;
	font-weight:bold;
	margin:0 0 2px 0;
}

.btn-red,
.btn-red span {
	background:url(../images/btn-red.png) no-repeat;
	text-decoration:none;
	font:bold 12px/20px Tahoma, Geneva, sans-serif;
	color:#fff;
	height:23px;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 12px;
	cursor:pointer;
	text-align:center;
}

.btn-red span {
	background-position:100% -27px;
	padding:0 25px 0 9px;
	vertical-align:top;
}

.input {
	border:1px solid #c4c4c4;
	border-top-color:#a3a3a3;
	border-bottom-color:#d5d5d5;
	background:#fff url(../images/input-shad.gif) repeat-x;
	padding:4px 6px;
	margin:0;
}

.input.grey {
	background:#dbdbdb;
}

.nowrap {
	white-space:nowrap;
}

.red {
	color:#e22010;
}

.big {
	font-size:15px;
	line-height:16px;
}

.small {
	font-size:11px;
	line-height:15px;
}

p.big,
p.small {
	margin:8px 0;
}

.template2 {
	background:#fff url(../images/temp2-head.png) repeat-x;
	color:#000;
}

.container {
	min-width:1000px;
	max-width:1050px;
	margin: 0 auto;
	text-align: left;
	position:relative;
	min-height:100%;
	height:auto!important;
	height:100%;
}

.container-wide {
	min-width:1000px;
	max-width:1050px;
	margin: 0 auto;
	text-align: left;
	position:relative;
}

.main-indent {
	width:96%;
	margin:0 auto;
	position:relative;
}

.header {
	position:relative;
	height:95px;
	color:#4b4b4b;
}

.template2 .header {
	height:75px;
	background:#161616 url(../images/temp2-head.png) repeat-x;
	color:#fff;
}

.template2 .header a {
	color:#fff;
}

.header .logo {
	display:block;
	position:absolute;
	font:normal 9px Tahoma, Geneva, sans-serifa;
	color:#000;
	top:16px;
	left:-10px;
}

.header .logo span {
	display:block;
	margin:-7px 0 0 10px;
	position:relative;
	top:5px;
}

.template2 .header .logo {
	position:absolute;
	top:10px;
	left:-10px;
}

.header .name {
	font-size:16px;
	line-height:16px;
	color:#000;
	position:absolute;
	top:27px;
	left:217px;
}

.template2 .header .name {
	color:#fff;
	font-size:18px;
	font-weight:bold;
	position:absolute;
	top:26px;
	left:232px;
}

.header .info {
	font:normal 11px Tahoma, Geneva, sans-serif;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:53px;
	left:217px;
}

.header .info li {
	float:left;
	white-space:nowrap;
	margin:0 10px 0 0;
}

.header .info li img {
	vertical-align:top;
	position:relative;
	top:3px;
	margin:0 3px 0 0;
}

.header .info li strong {
	color:#e22010;
}

.header .auth {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:16px;
	right:0;
	font:normal 11px Tahoma, Geneva, sans-serif;
}

.header .auth input,
.header .auth label {
	vertical-align:middle;
}

.header .auth li {
	float:left;
	margin:0 0 0 10px;
	display:inline;
}

.header .auth li .input {
	display:block;
	margin:7px 0 2px 0;
	width:123px;
}

.header .auth li .btn-red {
	margin:20px 0 0 0;
	padding:0 0 0 12px;
}

.header .auth li .btn-red span {
	padding:0 14px 0 0;
}

.header .user {
	position:absolute;
	top:23px;
	right:0;
	width:209px;
	font:bold 10px/12px Arial, Helvetica, sans-serif;
	color:#6b6b6b;
	padding:0 0 0 111px;
}

.header .user .name1 {
	font-size:13px;
	line-height:13px;
	color:#000;
	margin:0 0 8px 0;
	padding:0 0 0 18px;
	font-weight:normal;
	background:url(../images/icon-user.png) no-repeat 0 3px;
	zoom:1;
}

.header .user .status {
	position:absolute;
	top:0;
	left:0;
}

.header .user .ava {
	position:absolute;
	top:-3px;
	left:42px;
	background:url(../images/ava-small.png) no-repeat;
	width:58px;
	height:59px;
	text-align:center;
	padding:3px 0 0 0;
}

.menu {
	margin:0 0 15px -4px;
	position:relative;
	left:2px;
	zoom:1;
	font:normal 14px/29px Tahoma, Geneva, sans-serif;
	color:#000;
	text-shadow:0 1px 0 #ddd;
	padding:0 0 0 2px;
	background:url(../images/menu.png) no-repeat -498px 0;
	height:31px;
}

.menu table {
	margin:0;
	width:100%;
}

.menu table tr td {
	height:31px;
	text-align:center;
	vertical-align:top;
	padding:0 2px 0 0;
	background:url(../images/menu.png) no-repeat 100% 0;
	white-space:nowrap;
}

.menu table tr td a {
	display:block;
	color:#000;
	text-decoration:none;
	height:31px;
	padding:0 10px 0 12px;
}

.menu table tr td span {
	padding:0 10px 0 12px;
}

.menu table tr td.active {
	background-position:100% -34px;
}

.menu table tr td a:hover {
	text-decoration:underline;
}

.menu a.new {
    display: inline-block;
    background: url('../images/new.gif') no-repeat right center;
    padding-right: 45px;
}

.content {
	position:relative;
	padding:0 300px 0 0;
	zoom:1;
	overflow:hidden;
}

.template2 .content, .content-wide {
	padding:20px 0;
}

.aside {
	float:left;
	width:274px;
	margin:0 0 0 -274px;
	position:relative;
	left:300px;
}

.mainContent {
	float:left;
	width:100%;
}

.footer-place {
	height:113px;
	clear:both;
	float:none;
}

.footer-bg {
	background:url(../images/line-bottom.png) repeat-x;
	position:relative;
	height:113px;
	margin:-113px auto 0 auto;
}

#footer {
	font:normal 11px/16px Tahoma, Geneva, sans-serif;
	color:#000;
	min-width:1000px;
	max-width:1400px;
	margin:0 auto;
}

#footer .b-menu {
	list-style:none;
	margin:0;
	padding:16px 0 31px 0;
	height:15px;
	overflow:hidden;
	line-height:12px;
}

#footer .b-menu li {
	float:left;
	height:15px;
	padding:0 20px 0 19px;
	border-left:1px solid #909090;
}

#footer .b-menu li.first {
	padding-left:0;
	border:0;
}

#footer .b-menu li a {
	color:#000;
}

#footer .studio {
	float:left;
	margin:0 25px 0 0;
}

#footer .studio img {
	float:left;
	margin:2px 11px 0 0;
}

#footer .counters {
	float:right;
	margin:0 0 0 31px;
	display:inline;
}

#footer .networks {
	float:right;
	margin:0 0 0 25px;
	display:inline;
}

#footer .networks span {
	float:left;
	margin:0 10px 0 0;
	text-align:right;
}

#footer .networks img {
	float:left;
	margin:0 0 0 8px;
}

.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: ' ';
	clear:both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.add-article {
	display:block;
	background:#f72b19 url(../images/btn-add.png) no-repeat;
	width:243px;
	height:41px;
	font-size:19px;
	line-height:36px;
	color:#fff;
	text-align:center;
	padding:0 0 0 31px;
	margin:0 0 5px 0;
}

.gold-magazine {
	display:block;
	background:url(../images/gold-magazine.png) no-repeat;
	width:243px;
	height:43px;
	font-size:19px;
	line-height:38px;
	color:#a57300;
	text-align:center;
	padding:0 0 0 31px;
	margin:0 0 15px 0;
}

.gold-shop {
	display:block;
	background:url(../images/gold-shop.png) no-repeat;
	width:243px;
	height:43px;
	font-size:19px;
	line-height:38px;
	color:#fff2d8;
	text-align:center;
	padding:0 0 0 31px;
	margin:0 0 5px 0;
}

.aside .block1 {
	margin:15px 0 12px 0;
	zoom:1;
}

.aside .block {
	background:#efefef url(../images/aside-block.png) repeat-y -554px 0;
	margin:0 0 15px 0;
	width:274px;
}

.aside .block .title {
	font:normal 17px/19px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	background:#dbf3f3 url(../images/aside-block.png) no-repeat;
	height:35px;
	margin:0;
	padding:9px 0 0 14px;
}

.aside .block .in {
	background:url(../images/aside-block.png) no-repeat -277px 100%;
	padding:3px 16px 20px 16px;
	zoom:1;
	overflow:hidden;
}

.subscr {
	zoom:1;
	position:relative;
	margin:-8px 0 0 -6px;
	top:8px;
	left:3px;
	padding:0 0 0 1px;
}

.subscr h3 {
	margin:0;
}

.subscr p {
	margin:8px 0 7px 0;
}

.subscr .input {
	margin:8px 0 5px 0;
	display:block;
	width:230px;
	float:left;
}

.subscr .btn-red {
	clear:both;
}

.person1 {
	font-size:12px;
	line-height:14px;
	padding:0 0 23px 93px;
	min-height:57px;
	height:auto!important;
	height:57px;
	position:relative;
}

.person1 .photo {
	position:absolute;
	top:0;
	left:0;
}

.person1 .name {
	font:normal 11px/1 Tahoma, Geneva, sans-serif;
	position:absolute;
	bottom:0;
	left:93px;
	padding:0 0 1px 17px;
	width:147px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
}

.hr {
	height:1px;
	overflow:hidden;
	clear:both;
	float:none;
	background:url(../images/dot-grey.gif) repeat-x;
	margin:15px 0 13px 0;
}

.article-tizer {
        text-align: left;
	font-size:12px;
	line-height:14px;
	zoom:1;
	overflow:hidden;
        width: 198px;
        display: inline-block;
}

.article-tizer .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	margin:0 0 7px 0;
}

.article-tizer .info .date {
	float:left;
	color:#000;
	margin:0 10px 0 0;
	background:#f5f0d9;
}

.article-tizer h4 a {
	color:#000;
}

.article-tizer .summary {
    background:#f3f3f0; 
}

.article-tizer.article-click .summary {
    background:#fffbe3; 
}

.article-tizer .summary_text {
    padding:1em;
    font-size:11px;
    height: 130px;
}

.article-tizer.draft h4 {
	margin:0;
}


.article-tizer .photo img {
	display:block;
}

.article-tizer .text {
	height:100%;
	overflow:hidden;
}

.article1 {
	font-size:12px;
	line-height:14px;
	zoom:1;
	overflow:hidden;
}

.article1 .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	margin:0 0 7px 0;
}

.article1 .info .date {
	float:left;
	color:#000;
	margin:0 10px 0 0;
	background:#f5f0d9;
}

.article1 h4 a {
	color:#000;
}

.article1.draft h4 {
	margin:0;
}

.article1 .photo {
	float:left;
	width:94px;
}

.article1 .photo img {
	display:block;
}

.article1 .text {
	height:100%;
	overflow:hidden;
}

.article1 .price {
    padding-top: 0.5em;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    color: #040807;
    
}

.article1 .price div {
    display: inline-block;
    background: #f9ee06;
    height: 25px;
    line-height: 25px;
    padding: 0 0.5em;
}

.article1 .price a.shop-buy {
    display: inline-block;
    background: #6cbf3b;
    height: 25px;
    line-height: 25px;
    padding: 0 1em;
    color: #f0ffee;
    text-transform: uppercase;
    text-decoration: none;
}

.article1 .price a.shop-rework {
    display: inline-block;
    background: #fe4d5f;
    height: 25px;
    line-height: 25px;
    padding: 0 1em;
    color: #f1ffff;
    text-transform: uppercase;
    text-decoration: none;
}

.notepad-actions {
    padding-top: 0.5em;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    color: #040807;
    text-align: center;
    
}

a.notepad-action-remove {
    display: block;
    text-align: center;
    background: #fe4d5f;
    height: 25px;
    line-height: 25px;
    padding: 0 1em;
    color: #f1ffff;
    text-transform: uppercase;
    text-decoration: none;
}

a.notepad-action-add {
    display: block;
    text-align: center;
    background: #6cbf3b;
    height: 25px;
    line-height: 25px;
    padding: 0 1em;
    color: #f0ffee;
    text-transform: uppercase;
    text-decoration: none;
}

.comment {
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	zoom:1;
	overflow:hidden;
	margin:10px 0;
}

.comment .author {
	font-size:11px;
	line-height:normal;
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
	margin:0 0 6px 0;
	zoom:1;
}

.comment .date {
    float: right;
    color:#4b4b4b;
    background:#eae9e4;
    margin:0 10px 0 0;
    
}

.comment .author span {
	margin:0 0 0 19px;
}

.comment .ava {
	float:left;
	margin:0 13px 0 0;
}

.comment .ava img {
	display:block;
}

.comment .text {
	height:100%;
	overflow:hidden;
}

.article2 {
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	zoom:1;
	overflow:hidden;
	font-weight:bold;
	color:#000;
}

.article2 a {
	color:#000;
}

.article2 .author {
	font-size:11px;
	line-height:normal;
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
	margin:0 0 6px 0;
	zoom:1;
	font-weight:normal;
}

.article2 .author a {
	color:#006b8f;
}

.dot-title {
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	padding-bottom:14px;
	margin-bottom:0;
}

.dot-title .all {
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	font-weight:normal;
	margin:4px 0 0 0;
}

.top-block {
	background:url(../images/dot-grey.gif) repeat-x;
	zoom:1;
	margin:0 0 15px 0;
}

.top-block .bg {
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
	padding:8px 0 10px 0;
}

.top-block .today {
	line-height:22px;
	font-size:18px;
	font-weight:bold;
	color:#adadad;
}

.top-block .today strong {
	color:#000;
}

.top-block h1,
.top-block h2 {
	line-height:22px;
	margin:0;
}

.top-block .user-name {
	float:left;
	font-size:18px;
	line-height:18px;
	color:#000;
	font-weight:bold;
	padding:0 0 0 47px;
	position:relative;
	zoom:1;
        margin-top:0.2em;
}

.top-block .user-name img {
	position:absolute;
	top:0;
	left:0;
}

.top-block .user-name .orig {
	font:normal 11px/11px Tahoma, Geneva, sans-serif;
	padding:0 0 0 18px;
	zoom:1;
	margin:3px 0 2px 0;
	background:url(../images/icon-user.png) no-repeat 1px 2px;
}

.top-block .user-name-reader {
	float:left;
	font-size:18px;
	line-height:18px;
	color:#000;
	font-weight:bold;
	padding:0 0 0 0;
	position:relative;
	zoom:1;
}

.top-block .user-name-reader .orig {
	font:normal 11px/11px Tahoma, Geneva, sans-serif;
	padding:0 0 0 18px;
	zoom:1;
	margin:3px 0 2px 0;
	background:url(../images/icon-user.png) no-repeat 1px 2px;
}

.search {
	float:right;
	zoom:1;
	position:relative;
}

.search .input {
	float:left;
	width:253px;
	padding-left:24px;
	margin:0 10px 0 0;
}

.filter .btn,
.search .btn {
	float:left;
	border:0;
	cursor:pointer;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	color:#000;
	background:#c3c3c3 url(../images/btn-search.png) no-repeat;
	width:62px;
	height:23px;
	margin:0;
	padding:0 1px 3px 0;
}

.filter .icon,
.search .icon {
	display:block;
	position:absolute;
	background:url(../images/icon-search.gif) no-repeat;
	width:11px;
	height:11px;
	top:6px;
	left:7px;
}

.filter .input-wrapper {
    float:left;
    margin-right: 10px;
    font-size:14px;
    font-weight:bold;
    color:#000;
}

.row {
	width:100%;
	overflow:hidden;
	margin:15px 0;
}

.half {
	float:left;
	width:48%;
	clear:right;
	padding:0 2% 0 0;
}

.third {
	float:left;
	width:31.33%;
	clear:right;
	padding:0 2% 0 0;
}

.third1 {
	float:left;
	width:33.33%;
	clear:right;
}

.third1.third1-center {
    text-align: center;
}

.third1.third1-right {
    text-align: right;
}

.two-thirds {
    float:right;
    width:65.90%;
    clear:right;
    padding:0;
}

.quarter {
	float:left;
	width:24%;
	clear:right;
	padding:0 1% 0 0;
}

.article3 {
	zoom:1;
	overflow:hidden;
	position:relative;
	margin:-14px 0 15px 0;
	top:14px;
}

.article3 .left {
	float:left;
	width:266px;
	margin:0 16px 14px 0;
	overflow:hidden;
}

.article3 .left .red-text {
	background:#e82010 url(../images/article-title-red.png) no-repeat;
	height:29px;
	font:normal 17px/27px Tahoma, Geneva, sans-serif;
	color:#fff;
	text-align:center;
	margin:0;
}

.article3 .left img {
	display:block;
}

.article3 .text {
	height:100%;
	overflow:hidden;
}

.article3 .head {
	zoom:1;
	margin:0 0 15px 0;
}

.article3 .head h2 {
        font-size: 19px;
        position:relative;
	margin:-2px 0 0 0;
}

.article3 .head h2 a {
	color:#000;
}

.article3 .info {
	margin:14px 0;
	zoom:1;
	overflow:hidden;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
}

.article3 .info .date {
	float:left;
	color:#4b4b4b;
	background:#eae9e4;
	margin:0 10px 0 0;
}

.article3 .info .author {
	padding:0 0 0 17px;
	font-weight:bold;
	float:right;
	background:url(../images/icon-user.png) no-repeat 0 4px;
}

.article3 .info .comments {
	padding:0 0 0 19px;
	color:#434343;
	background:url(../images/icon-comment.png) no-repeat 0 4px;
	float:left;
}

.article3 .info .comments a {
	font-weight:bold;
}

.article3 .info .full {
	color:#000;
	font-weight:bold;
	float:right;
}

.date {
	font-size:9px;
	text-align:center;
        padding: 0 10px;
        display: inline-block;
	/* width:68px; */
	height:15px;
	line-height:15px;
}

.rating {
	float:left;
	width:45px;
	overflow:hidden;
	margin:0 15px 0 0;
}

.rating .num {
	text-align:center;
	font-size:19px;
	line-height:27px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background:#7e7e7e url(../images/rating.png) no-repeat;
	width:45px;
	height:29px!important;
	margin:0 0 3px 0;
}

.rating .plus {
	display:block;
	float:left;
	background:#39e810 url(../images/rating.png) no-repeat 0 -32px;
	width:21px;
	height:19px;
	text-indent:-9999px;
}

.rating .minus {
	display:block;
	float:right;
	background:#e82010 url(../images/rating.png) no-repeat -24px -32px;
	width:21px;
	height:19px;
	text-indent:-9999px;
}

.blue-block {
	zoom:1;
	position:relative;
	overflow:hidden;
	margin:0 0 19px 0;
	background:#e8f9f9;
	padding:11px 22px 15px 22px;
}

.blue-block .row {
	margin:0;
}

.corner {
	position:absolute;
	width:5px;
	height:5px;
	overflow:hidden;
	background:url(../images/corner5.png) no-repeat;
}

.corner.tl {
	top:0;
	left:0;
	background-position:0 0;
}

.corner.tr {
	top:0;
	right:0;
	background-position:-5px 0;
}

.corner.bl {
	bottom:0;
	left:0;
	background-position:0 -5px;
}

.corner.br {
	bottom:0;
	right:0;
	background-position:-5px -5px;
}

.list1 {
	list-style:none;
	font:bold 11px/14px Tahoma, Geneva, sans-serif;
	margin:0;
	padding:0;
}

.list1 li {
	margin:0 0 2px 0;
	padding:0;
	zoom:1;
}

.list1 li.active {
	margin-left:-6px;
	position:relative;
	left:3px;
}

.list1 li.active a,
.list1 li.active span {
	padding:1px 3px;
	color:#fff;
	text-decoration:none;
	background:#6ebd45;
}

.pagination {
	list-style:none;
	margin:15px 0;
	padding:6px 0 0 0;
	font:normal 16px Tahoma, Geneva, sans-serif;
	color:#767676;
	text-align:center;
}

.pagination.dots {
    background:url(../images/dot-grey.gif) repeat-x;
}

.pagination li {
	display:inline-block;
	margin:0 5px;
}

.pagination li.prev {
	padding:0 0 0 22px;
	background:url(../images/prev.gif) no-repeat 0 9px;
	float:left;
	margin:0;
}

.pagination li.next {
	padding:0 22px 0 0;
	background:url(../images/next.gif) no-repeat 100% 9px;
	float:right;
	margin:0;
}

.block2 {
	margin:25px 0 27px 0;
}

.table1 {
	width:100%;
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#000;
	margin:0 0 13px 0;
}

.table1 tr th {
	height:24px;
	text-align:left;
	vertical-align:middle;
	font-weight:bold;
	padding:0 0 0 13px;
}

.table1 tr td {
	padding:0 0 0 13px;
	text-align:left;
	vertical-align:middle;
	height:40px;
	background:#f3f3f3 url(../images/td.png) no-repeat 0 -9999px;
	border-bottom:1px solid #fff;
}

.table1 tr td.photo {
	padding:0;
}

.table1 tr td.photo .photo-hold {
	position:relative;
	height:40px;
	z-index:50;
}

.table1 tr td.photo .photo-hold .photo-popup {
	top:-9999px;
	right:0;
	margin:0 -10px 0 0;
}

.table1 tr:hover td.photo .photo-hold,
.table1 tr.hover td.photo .photo-hold {
	z-index:100;
}

.table1 tr:hover td.photo .photo-hold .photo-popup,
.table1 tr.hover td.photo .photo-hold .photo-popup {
	top:20px;
}

.table1 tr.c1 td {
	background-color:#fafafa;
}

.table1 tr td.first {
	background-position:0 0;
}

.table1 tr td.last {
	background-position:100% -50px;
}

.table1 tr td .name {
	font-weight:bold;
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 3px;
	display:inline-block;
}

.photo-popup {
	background:url(../images/photo-popup.png) no-repeat;
	padding:7px 9px 11px 9px;
	width:80px;
	height:80px;
	position:absolute;
	z-index:2000;
}

.article4 {
	zoom:1;
	overflow:hidden;
}

.article4 h2 {
	font-size:19px;
	margin:0 0 14px 0;
}

.article4 h2 a {
	color:#000;
}

.article4 .info {
	zoom:1;
	overflow:hidden;
	margin:15px 0 0 0;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
}

.article4 .info .comments {
	float:right;
	padding:0 0 0 19px;
	background:url(../images/icon-comment.png) no-repeat 0 4px;
}

.article4 .info .comments a {
	font-weight:bold;
}

.article4 .info .date {
	background:#eae9e4;
	float:left;
}


.article8 {
	zoom:1;
	overflow:hidden;
}

.article8 .price {
    float: right;
    font-weight: bold;
    font-size: 14px;
    padding: 0.2em 0.5em;
    background: #fee799;
}

.article8 .ava {
    float: left;
    margin-right: 15px;
}

.article8 h2 {
	font-size:19px;
	margin:0 0 14px 0;
}

.article8 h2 a {
	color:#000;
}

.article8 .info {
	zoom:1;
	overflow:hidden;
	margin:15px 0 0 0;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
}

.article8 .info .status {
    float: left;
    margin-right: 10px;
}

.article8 .info .comments {
	float:right;
	padding:0 0 0 19px;
        line-height: 18px;
        height: 18px;
	background:url(../images/icon-comment.png) no-repeat left center;
}

.article8 .info .comments a {
        line-height: 18px;
        height: 18px;
	font-weight:bold;
}

.article8 .info .date {
	background:#eae9e4;
	float:left;
        margin-right: 10px;
        line-height: 18px;
        height: 18px;
}

.article8 .info .author {
	font-size:11px;
	height: 18px;
	background:url(../images/icon-user.png) no-repeat left center;
	margin:0 10px 0 0;
	zoom:1;
        float: left;
}

.article8 .info .author a {
	margin:0 0 0 19px;
        line-height: 18px;
        height: 18px;
}

.article8 .info .allowed {
    font-weight: bold;
    line-height: 18px;
    float: left;
    overflow: hidden;
}

.article8 .info .allowed span,
.article8 .info .allowed img {
    float: left;
    margin-right: 5px;
}

.add-block {
	position:relative;
	overflow:hidden;
	background:#f4f4f4;
	margin:15px 0;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	height:63px;
	padding:0 26px 0 0;
}

.add-block .btn-red {
	position:absolute;
	top:20px;
	left:20px;
}

.add-block .btn-red span {
	width:206px;
	padding:0 14px 0 0;
}

.add-block .info {
	padding:0 0 0 28px;
	background:url(../images/icon-info.gif) no-repeat 0 50%;
	float:right;
	margin:15px 6px 0 0;
}

.add-block .subscr1 {
	margin:13px 0 0 0;
}

.add-block .subscr1.ready {
	margin:5px 0 0 0;
}

.subscr1 {
	padding:2px 0 0 27px;
	float:right;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	position:relative;
	zoom:1;
}

.subscr1 label {
	border-bottom:1px dashed #000;
	position:relative;
	cursor:pointer;
}

.subscr1 label:hover {
	border:0;
}

.subscr1 input,
.subscr1 .checkboxArea,
.subscr1 .checkboxAreaChecked {
	position:absolute;
	top:3px;
	left:3px;
}
.subscr-ready {
	float:right;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	padding:2px 0 0 27px;
	background:url(../images/subscr-ready.png) no-repeat;
}

.qu {
	margin:-5px 0 20px 0;
	zoom:1;
	position:relative;
	padding:0 0 0 93px;
	background:url(../images/icon-qu.gif) no-repeat;
}

.qu h6 {
	font-weight:normal;
	font-size:13px;
	margin:0;
	position:absolute;
	text-transform:uppercase;
	top:0;
	left:24px;
}

.an {
	margin:-4px 0 15px 0;
	zoom:1;
	position:relative;
	padding:4px 4px 9px 93px;
	background:#f5f0d9;
}

.an h6 {
	font-weight:bold;
	font-size:13px;
	margin:0;
	position:absolute;
	text-transform:uppercase;
	top:4px;
	left:24px;
}

.article5 {
	zoom:1;
	overflow:hidden;
	margin:-18px 0 0 0;
	position:relative;
	top:15px;
}

.article5 .ava {
	float:left;
	margin:3px 15px 3px 0;
}

.article5 .ava img {
	display:block;
}

.article5 h2 {
	font-size:19px;
	margin:0 0 13px 0;
}

.article5 h2 a {
	color:#000;
}

.article5 .status {
    float: right;
    font-size: 75%;
}

.article5 .status.not-answered {
    color: #ff0311;
}

.article5 .status.answered {
    color: #008500;
}

.article5 .info {
	zoom:1;
	overflow:hidden;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	margin:10px 0;
}

.article5 .info .date {
	background:#eae9e4;
	margin:0 15px 0 0;
	float:left;
}

.article5 .info .author {
	padding:0 0 0 17px;
	float:left;
	background:url(../images/icon-user.png) no-repeat 0 4px;
        margin:0 15px 0 0;
}

.article5 .info .msg-cnt {
    padding:0 0 0 17px;
    color:black;
    float:left;
    background:url(../images/icon-comment.png) no-repeat 0 4px;
    margin:0 15px 0 0;
}
.article5 .info .comments {
	float:right;
	padding:0 0 0 19px;
	background:url(../images/icon-comment.png) no-repeat 0 4px;
}

.article5 .info .comments a {
	font-weight:bold;
}

.article5 .full {
	font-weight:bold;
	color:#000;
	float:right;
        margin:0 0 0 12px;
}

.article6 {
	margin:15px 0;
	background:url(../images/dot-grey.gif) repeat-x;
	zoom:1;
	overflow:hidden;
}

.article6 .bg {
	zoom:1;
	overflow:hidden;
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
}

.article6 .head {
	zoom:1;
	overflow:hidden;
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	padding:10px 0 12px 0;
	margin:0 0 12px 0;
}

.article6 .head div {
	height:100%;
	overflow:hidden;
}

.article6 .head h2 {
	font-size:19px;
	margin:4px 0 9px 0;
}

.article6 .head .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	zoom:1;
	overflow:hidden;
}

.article6 .head .info .date {
	float:left;
	background:#eae9e4;
	color:#4b4b4b;
	margin:0 10px 0 0;
}

.article6 .head .info div {
	float:left;
	margin:0 18px 0 0;
	white-space:nowrap;
}

.article6 .head .info .author {
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
	margin:0 0 0 5px;
	font-weight:bold;
}

.article6 p {
	margin-top:0;
}

.article6 .info2 {
	background:url(../images/dot-grey.gif) repeat-x;
	zoom:1;
	padding:11px 0;
	font:normal 11px/16px Tahoma, Geneva, sans-serif;
	overflow:hidden;
}

.article6 .info2 .networks1 {
	float:right;
}

.article6 .info2 .networks1 li {
	margin:0;
}

.article6 .info2 .read {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
        float: left;
        margin-right: 0.5em;
}

.lfloat {
	float:left;
	clear:left;
	margin:0px 15px 10px 0;
}

.networks1 {
	font:normal 11px/16px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}

.networks1 li {
	float:left;
	margin:0;
	display:inline;
	white-space:nowrap;
}

.networks1 li img {
	display:block;
}

.networks1 li a {
	color:#000;
}

.red-block {
	margin:15px 0;
	position:relative;
	zoom:1;
	font:normal 12px/14px Arial, Helvetica, sans-serif;
	color:#b05252;
	padding:15px 20px;
	overflow:hidden;
	background:#ffeaea;
}

.red-block a {
	color:#b05252;
}

.blue-block2 {
	margin:15px 0 23px 0;
	position:relative;
	zoom:1;
	font:normal 12px/14px Arial, Helvetica, sans-serif;
	color:#010101;
	padding:15px 20px;
	overflow:hidden;
	background:#e8f9f9;
}

.blue-block2 a {
	color:#010101;
}

.user-block {
	margin:0 0 15px 0;
	font:normal 11px/14px Tahoma, Geneva, sans-serif;
	color:#000;
}

.user-block .bg-t {
	height:5px;
	overflow:hidden;
	background:#f7e4ca url(../images/user-menu.png) no-repeat;
}

.user-block .bg-b {
	height:5px;
	overflow:hidden;
	background:#f7e4ca url(../images/user-menu.png) no-repeat 0 -5px;
}

.user-block .bg-c {
	border-left:5px solid #f7e4ca;
	border-right:5px solid #f7e4ca;
	background:#fcf5eb;
	padding:10px 15px 10px 15px;
	position:relative;
	zoom:1;
}

.user-block .exit {
	position:absolute;
	color:#000;
	font:bold 10px/10px Arial, Helvetica, sans-serif;
	padding:0 16px 0 0;
	top:11px;
	right:15px;
	background:url(../images/user-exit.png) no-repeat 100% 0;
	text-decoration:none;
}

.user-block .exit:hover {
	text-decoration:underline;
}

.user-block .name {
	font:bold 10px Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
}

.user-block .name .bg1 {
	background:#fefefe url(../images/user-name.png) no-repeat;
	width:238px;
	margin:7px 0 0 -6px;
	position:relative;
	left:4px;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
}

.user-block .name .bg1 .bg2 {
	background:url(../images/user-name.png) no-repeat -242px 100%;
	zoom:1;
	padding:6px 6px 8px 30px;
}

.user-block .account {
	font:bold 10px Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
}

.user-block .account a {
    float: right;
}

.user-block .account .bg1 {
	background:#fefefe url(../images/user-account.png) no-repeat;
	width:238px;
	margin:7px 0 0 -6px;
	position:relative;
	left:4px;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
}

.user-block .account .bg1 .bg2 {
	background:url(../images/user-account.png) no-repeat -242px 100%;
	zoom:1;
	padding:6px 6px 8px 30px;
}

.user-block ul {
	list-style:none;
	margin:0 0 8px 0;
	padding:0;
	font-weight:bold;
}

.user-block ul li {
	margin:4px 0;
	zoom:1;
	overflow:hidden;
}

.user-block ul li a {
	float:left;
}

.user-block ul li span {
	float:right;
	width:76px;
}

.user-block .money {
	padding:2px 0 0 43px;
	margin:0 0 0 -2px;
	background:url(../images/user-money.png) no-repeat;
	min-height:30px;
	height:auto!important;
	height:30px;
}

.bordered {
	margin:10px 0;
	zoom:1;
	position:relative;
}

.bordered .bg-t {
	height:5px;
	overflow:hidden;
	padding:0 0 0 10px;
	background:url(../images/bordered.png) no-repeat 0 -20px;
}

.bordered .bg-t div {
	height:5px;
	overflow:hidden;
	background:url(../images/bordered.png) no-repeat 100% -20px;
}

.bordered .bg-b {
	height:5px;
	overflow:hidden;
	padding:0 0 0 10px;
	background:url(../images/bordered.png) no-repeat 0 -25px;
}

.bordered .bg-b div {
	height:5px;
	overflow:hidden;
	background:url(../images/bordered.png) no-repeat 100% -25px;
}

.bordered .bg-c {
	background:#f9f9f9;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	zoom:1;
	overflow:hidden;
	padding:8px 17px 0 17px;
}

.bordered.bordered2 .bg-t {
	background-position:0 0;
}

.bordered.bordered2 .bg-t div {
	background-position:100% 0;
}

.bordered.bordered2 .bg-b {
	background-position:0 -5px;
}

.bordered.bordered2 .bg-b div {
	background-position:100% -5px;
}

.bordered.bordered2 .bg-c {
	background-color:#fdfcf6;
	border-color:#f5f0d9;
}

.bordered.bordered3 .bg-t {
	background-position:0 -40px;
}

.bordered.bordered3 .bg-t div {
	background-position:100% -40px;
}

.bordered.bordered3 .bg-b {
	background-position:0 -45px;
}

.bordered.bordered3 .bg-b div {
	background-position:100% -45px;
}

.bordered.bordered3 .bg-c {
	background-color:#fff;
	border-color:#dcdcdc;
}

.bordered h2 {
	font-size:19px;
}

.stats {
	list-style:none;
	margin:0 0 23px 0;
	padding:0;
	font:bold 11px/15px Tahoma, Geneva, sans-serif;
}

.stats li {
	margin:1px 0;
	padding:4px 0 6px 8px;
	background:#e8f9f9;
	zoom:1;
	overflow:hidden;
	vertical-align:bottom;
}

.stats.bg2 li {
	background-color:#f0f0f0;
}

.stats.bg3 li {
	background-color:#f9f6e8;
}

.stats li h4 {
	margin:0 0 4px 0;
	zoom:1;
}

.stats li .author {
	padding:0 0 0 21px;
	background:url(../images/icon-user.png) no-repeat 4px 4px;
}

.stats li .line {
	float:left;
	background:url(../images/stat-line.png) no-repeat 100% 0;
	height:11px;
	overflow:hidden;
	position:relative;
}

.stats li .num {
	float:left;
	font-size:10px;
	text-align:center;
	background:url(../images/stat-num.png) no-repeat;
	width:46px;
	height:13px;
	line-height:11px;
	margin:0 0 0 -46px;
	left:55px;
	position:relative;
	overflow:hidden;
}

.vidget {
	margin:5px 0;
	font-size:11px;
}

.vidget h3 {
	font-size:13px;
	margin:0 0 6px 0;
	font-weight:bold;
}

.vidget p {
	margin:0 0 12px 0;
}

.vidget .bg-c {
	padding-bottom:16px;
	padding-top:0;
}

.vidget .btn-red {
	margin:0 0 0 -2px;
}

.profile-main {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	padding:0 0 17px 0;
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
}

.profile-main .ava {
	float:left;
	margin:0 15px 0 0;
}

.profile-main .ava img {
	display:block;
}

.profile-main .info {
        width:200px;
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}

.profile-main .info li {
	border-top:1px solid #ebebeb;
	padding:3px 0 2px 84px;
	zoom:1;
	position:relative;
}

.profile-main .info li.first {
	border:0;
}

.profile-main .info li span {
	position:absolute;
	top:3px;
	left:0;
}

.profile-main .descr {
	height:100%;
	overflow:hidden;
}

.profile-main .descr h6 {
	color:#000;
}

.profile-main .descr .stats {
    margin:0;
}

.profile-main .descr .stats li {
    margin:0;
    padding-bottom: 0;
}

.recommend {
	display: inline-block;
	background:url(../images/r.png) no-repeat;
        width: 263px;
	height:27px;
	overflow:hidden;
	text-align: center;
	line-height:27px;
        color: white;
}

.recommend a {
    color: white;
    text-decoration:none;
}

.user-info-main {
	list-style:none;
	margin:0 0 17px 0;
	padding:7px 0 13px 0;
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
	font:normal 15px/15px Arial, Helvetica, sans-serif;
	color:#000;
}

.user-info-main li {
	float:left;
	margin:0 32px 0 0;
	white-space:nowrap;
	padding:2px 0 0 0;
        line-height:22px;
}

.user-info-main li.recommended {
	padding-left:27px;
	background:url(../images/recomm.png) no-repeat left center;
}


.user-info-about {
	list-style:none;
	margin:0;
	padding:0 0 13px 0;
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	overflow:hidden;
        font:normal 15px/16px Arial, Helvetica, sans-serif;
	color:#000;
}

.user-info-about li {
	float:left;
	margin:0 32px 0 0;
	padding:0;
}

.table1 tr td .date {
	background:#eae9e4;
	color:#4b4b4b;
}

.table2 {
	font:normal 11px/11px Tahoma, Geneva, sans-serif;
	width:100%;
	margin:0 0 22px 0;
	color:#000;
}

.table2 tr th {
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	padding:0 14px 0 0;
	height:27px;
}

.table2 tr td {
	padding:9px 14px 9px 0;
	background:#f3f3f3;
	border-bottom:1px solid #fff;
	text-align:left;
	vertical-align:middle;
}

.table2 tr.sep td {
    background: none;
    padding: 0;
}

.table2 tr.c1 td {
	background-color:#fafafa;
}

.table2 tr td .date {
	background:#eae9e4;
	color:#4b4b4b;
}

.table2 tr td.for-score {
	width:42px;
}

.table2 tr td .score {
	float:right;
	background:url(../images/score.png) no-repeat;
	width:28px;
	height:18px;
	font:bold 12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
}

.table2 tr td .score.positive {
    background:url(../images/score-green.png) no-repeat;
}

.table2 tr td .score.negative {
    background:url(../images/score-red.png) no-repeat;
}

.members {
	list-style:none;
	margin:10px 0 0 -16px;
	position:relative;
	left:16px;
	padding:0;
	zoom:1;
	font:normal 11px/12px Tahoma, Geneva, sans-serif;
	overflow:hidden;
}

.members li {
	float:left;
	width:14.2%;
	display:inline;
	height:130px;
}

.members li img {
	display:block;
	margin:0 0 9px 0;
}

.members li span {
	display:block;
	text-decoration:underline;
	padding:0 10px 0 17px;
	zoom:1;
	background:url(../images/icon-user.png) no-repeat 0 2px;
}

.members li a:hover span {
	text-decoration:none;
}

.form {
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#000;
	margin:0 0 20px 0;
	list-style:none;
	padding:0;
}

ul.form li {
	margin:10px 0;
}

.form .bordered {
	margin:5px 0;
}

.form .bordered .bg-c {
	padding-top:2px;
	padding-bottom:4px;
}

.form h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0 0 8px 0;
}

.form .hold {
	border:1px solid #c4c4c4;
	border-top-color:#a3a3a3;
	border-bottom-color:#d5d5d5;
	background:#fff url(../images/input-shad.gif) repeat-x;
	padding:0 0 0 8px;
	margin:3px 0 6px 0;
}

.form .hold.grey {
	background:#dbdbdb;
}

.form .hold input {
	border:0;
	background:none;
	margin:0;
	padding:4px 0;
	width:100%;
}

.form .hold textarea {
	border:0;
	background:none;
	margin:0;
	padding:4px 0;
	width:100%;
	height:73px;
}

.form .hold .big-textarea {
	height:300px;
}

.form .hold select {
	width:100%;
	margin:0;
	border:0;
	background:#fff;
	padding:3px 0;
}

.form .row {
	margin:0;
}

.form .third {
	width:32%;
	padding:0 1% 0 0;
}

.form .third.right {
	float:right;
	padding-right:0;
	padding-left:1%;
}

.form .half.right {
	float:right;
	padding-right:0;
	padding-left:2%;
}

.form .third.center {
	padding:0;
	margin:0 auto;
	float:none;
	clear:none;
}

.form .btn-red span {
	padding:0 46px 0 27px;
}

.form .add-image img {
	float:left;
	margin:0 14px 0 0;
}

.form .add-image input {
	display:block;
	margin:14px 0;
}

.form .info {
	font:normal 10px/13px Arial, Helvetica, sans-serif;
	color:#767676;
}

.form .info.right-info {
	float:right;
	margin:-5px 0 0 0;
}

.form .options {
	zoom:1;
	overflow:hidden;
	margin:15px 0 7px 0;
	padding:4px 0 0 0;
}

.form .options .subscr-link {
	margin:-4px 0 0 0;
}

.form .blue-block2 {
	font:normal 11px/12px Tahoma, Geneva, sans-serif;
	padding:5px 4px;
	text-align:center;
	margin:0;
}

.modal {
	position:absolute;
	top:0;
	left:-9999px;
	width:310px;
	z-index:3000;
}

.modal .bg-tl {
	height:16px;
	overflow:hidden;
	padding:0 0 0 35px;
	background:url(../images/modal.png) no-repeat;
}

.modal .bg-tr {
	height:16px;
	overflow:hidden;
	background:url(../images/modal.png) no-repeat 100% -40px;
}

.modal .bg-bl {
	height:16px;
	overflow:hidden;
	padding:0 0 0 35px;
	background:url(../images/modal.png) no-repeat 0 -19px;
}

.modal .bg-br {
	height:16px;
	overflow:hidden;
	background:url(../images/modal.png) no-repeat 100% -59px;
}

.modal .bg-cl {
	padding:0 0 0 10px;
	background:url(../images/modal-sides.png) repeat-y;
	zoom:1;
}

.modal .bg-cr {
	padding:0 10px 0 0;
	background:url(../images/modal-sides.png) repeat-y 100% 0;
	zoom:1;
}

.modal .modal-content {
	background:#fff url(../images/modal-grad.png) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
	padding:10px 20px;
}

.modal h2 {
	font-size:19px;
	margin:0 0 12px 0;
}

.modal .form {
	margin:0;
}

.modal .form .btn-red span {
	padding:0 12px 0 0;
	width:128px;
}

.modal .form .hold textarea {
	height:112px;
}

.template2 .bordered {
	margin:0 0 6px 0;
}

.template2 .bordered .bg-c {
	padding:15px 30px;
}

.template2 .bordered3 .bg-c {
	padding:3px 20px 15px 20px;
}

.template2 .bordered .form {
	margin:0;
}

.code {
	border:1px solid #c4c4c4;
	border-top-color:#a3a3a3;
	border-bottom-color:#d5d5d5;
	background:#fff4bb;
	padding:5px 9px;
	overflow:auto;
	height:56px;
	font:normal 11px/12px Tahoma, Geneva, sans-serif;
	color:#4b4b4b;
	margin:3px 0 6px 0;
}

.promo-bg {
	background:#000a24;
	color:#fff;
	font-size:15px;
	line-height:19px;
}

.promo-bg a {
	color:#fff;
}

.promo {
	min-height:100%;
	height:auto!important;
	height:100%;
	min-width:900px;
	background:url(../images/promo.jpg) no-repeat 50% 0;
}

.promo h1,
.promo h2,
.promo h3 {
	font:normal 25px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0 0 10px 0;
}

.promo h4 {
	font:normal 20px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 0 7px 0;
}

.promo .hr {
	background:#588fc0;
	margin:10px 0 15px 0;
}

.promo .promo-in {
	width:900px;
	margin:0 auto;
}

.promo .header {
	height:105px;
}

.promo .header .logo {
	position:absolute;
	top:33px;
	left:-10px;
}

.promo .header .name {
	font-size:15px;
	color:#fff;
	font-weight:normal;
	line-height:15px;
	position:absolute;
	top:53px;
	left:227px;
}

.promo .promo-block {
	min-height:545px;
	height:auto!important;
	height:545px;
	padding:23px 0 0 584px;
	position:relative;
}

.promo .promo-block h2 {
	margin:0 0 35px -180px;
	left:16px;
	zoom:1;
	position:relative;
}

.promo .promo-block p {
	margin:11px 0 26px 0;
}

.promo .promo-block .video-link {
	display:block;
	text-decoration:none;
	color:#fff;
	background:url(../images/video-link.png) no-repeat;
	width:247px;
	height:75px;
	margin:0px 0 0 -26px;
	left:14px;
	position:relative;
	padding:20px 0 0 93px;
	font-size:12px;
	line-height:1.2;
}

.promo .promo-block .video-link strong {
	display:block;
	font-size:25px;
	margin:0 0 3px -3px;
}

.promo .promo-block .text {
	position:relative;
	z-index:2;
}

.promo .promo-block .sliders {
	position:absolute;
	top:0;
	left:-17px;
	background:url(../images/i-devices.jpg) no-repeat;
	width:578px;
	height:567px;
	z-index:1;
}

.promo .promo-block .sliders .slider1 {
	width:294px;
	height:397px;
	position:absolute;
	top:63px;
	left:62px;
}

.promo .promo-block .sliders .slider1 .hold {
	position:relative;
	overflow:hidden;
	width:294px;
	height:397px;
}

.promo .promo-block .sliders .slider1 .hold ul.slideshow {
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	width:294px;
	height:397px;
	overflow:hidden;
}

.promo .promo-block .sliders .slider1 .hold ul.slideshow:after {
	background:url(../images/refl1.png) no-repeat;
	width:189px;
	height:313px;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	content:''
}

.promo .promo-block .sliders .slider1 .hold ul li {
	margin:0;
	padding:0;
	display:inline;
}

.promo .promo-block .sliders .refl {
	display:none;
}

.promo .promo-block .sliders .slider2 {
	width:168px;
	height:252px;
	position:absolute;
	top:208px;
	left:379px;
}

.promo .promo-block .sliders .slider2 .hold {
	position:relative;
	overflow:hidden;
	width:168px;
	height:252px;
}

.promo .promo-block .sliders .slider2 .hold ul.slideshow {
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	width:168px;
	height:252px;
}

.promo .promo-block .sliders .slider2 .hold ul.slideshow:after {
	background:url(../images/refl2.png) no-repeat;
	width:89px;
	height:201px;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	content:''
}

.promo .promo-block .sliders .slider2 .hold ul li {
	display:inline;
}

.promo .promo-block .sliders .slider2 .refl {
}

.promo .promo-block .sliders .navigation {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	bottom:10px;
	z-index:10;
	display:block;
}

.promo .promo-block .sliders .navigation li {
	margin:0 6px 0 0 !important;
	display:inline;
	float:left;
}

.promo .promo-block .sliders .navigation li a {
	display:block;
	background:url(../images/slider-nav.png) no-repeat;
	width:7px;
	height:7px;
	cursor:pointer;
	overflow:hidden;
}

.promo .promo-block .sliders .navigation li a.active {
	background-position:-17px 0;
}

.in-store {
	font-size:12px;
	line-height:13px;
	margin:20px 0 0 0;
}

.in-store .item {
	float:left;
	width:450px;
	height:77px;
}

.in-store .item .store {
	float:left;
	margin:0 15px 0 0;
}

.in-store .item .price {
	float:right;
	background:url(../images/price.png) no-repeat;
	width:108px;
	height:81px;
	text-align:center;
	font-size:20px;
	line-height:80px;
	position:relative;
	margin:-24px 0 0 -24px;
	top:12px;
	left:12px;
}

.promo-footer-place {
	height:49px;
	clear:both;
	float:none;
}

.promo-footer {
	height:48px;
	line-height:48px;
	width:900px;
	margin:-49px auto 0 auto;
	position:relative;
	border-top:1px solid #525a6f;
	font-size:12px;
}

.modal-video {
	background:url(../images/modal-video.png) no-repeat;
	width:640px;
	height:390px;
	position:absolute;
	z-index:3000;
	padding:20px;
	top:20%;
	left:20%;
}

.modal-video .close {
	position:absolute;
	display:block;
	background:url(../images/modal-close.png) no-repeat;
	width:31px;
	height:31px;
	position:absolute;
	cursor:pointer;
	top:-20px;
	right:20px;
	overflow:hidden;
}

.slideshow .slideshowContainer {
	position: absolute;
	width: 9999px;
}

.slideshow .animated {
	-webkit-transition:all 350ms ease-out;
	-moz-transition:all 350ms ease-out;
	-o-transition:all 350ms ease-out;
	transition:all 350ms ease-out;
}

.slideshow {
	cursor: move;
}

.checkboxArea {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/checkbox.png) no-repeat;
}

.checkboxAreaChecked {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/checkbox.png) no-repeat 0 -19px;
}

.outtaHere {
	position:absolute;
	top:-9999px;
	left:-9999px;
	display:none;
}

.subscr1 .box-list{display:none;}
.subscr1 label{display:inline;}
.ready .box-list{display:inline;}
.ready label{display:none;}

/***************************/

.yashare-auto-init a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

div.share-item {
    float: left;
    font-size: 18px;
    padding-right: 0.5em;
}

.widget-form {
    margin-right: 1em;
    background: #f5f5f5;
    padding: 1em;
}

.widget-form input[type=text] {
    padding: 0.2em;
    border: 1px solid #878787;
    width:200px;
}

.widget-form textarea {
    padding: 0;
    border: 1px solid #dedede;
    background: white;
    width:100%;
}

.widget-form .element {
    padding:0;
    font-weight: normal;
    display: inline-block;
    text-align: left;
}

ul.errors {
    color: red;
}

div.selected-template {
    padding:0.5em;
    background:#FCF9BF;
    overflow: hidden;
}

div.selected-template h3 {
    font-size: 150%;
    font-weight: normal;
}

div.selected-template a {
    color: red;
    float:right;
}

div.ok {
    padding:0 0 1em 20px;
    background:url(/public/images/tick.png) no-repeat left top;
    color:#22af32;
    font-style: italic;
}
div.error {
    padding:0 0 1em 20px;
    background:url(/public/images/slash.png) no-repeat left top;
    color:#af0f0f;
    font-style: italic;
}

.size div {
    margin: 0!important;
}

.size {
   color: #808080; 
}

.size a {
    text-decoration: none;
    color: #808080;
}

.size a.size-active {
    color: #d41e02;
}

.size a.size-normal {
    font-size: 115%;
}

.size a.size-big {
    font-size: 130%;
}


.podcast-block {
    font-size: 100%;
    line-height: 100%;
}

.podcast-block-podcast {
    float: left;
    margin-right: 15px;
}

.podcast-block a.podcast {
    color: #000000;
}

.podcast-block a.podcast-download {
    color: #b3100b;
}

hr {
    height:1px;
    overflow:hidden;
    float:none;
    background:url(../images/dot-grey.gif) repeat-x;
    border:none;
    margin:15px 0 13px 0;
}

.add-photos {
	zoom:1;
	overflow:hidden;
	margin:5px 0 0 0;
}

.add-photos .item {
	float:left;
	margin:0 17px 0 0;
	width:164px;
}

.add-photos .item .pic {
	float:none;
	margin:0 0 8px 0;
}

.add-photos .item .pic div {
	border-bottom:1px solid #b8d8e1;
	padding:5px 0 6px 0;
	text-align:center;
	overflow:hidden;
	position:relative;
}

.add-photos .item .pic img {
	margin:0 auto;
	padding:0;
	background:none;
	border:0;
}

.add-photos .item .name {
	background:#fed300 url(../images/photo-name.png) no-repeat;
	width:163px;
	height:25px;
	overflow:hidden;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	line-height:24px;
	display:block;
	color:#000;
	text-decoration:none;
}

.add-photos .item .name.del {
	background:#fed300 url(../images/photo-del.png) no-repeat;
        color: white;
}

.add-photos div.progress {
    display: none;
    width:163px;
    height:25px;
    overflow:hidden;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    line-height:24px;
    color:#000;  
}

.pic {
	float:left;
	border:1px solid #e7f2f5;
	border-top:0;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.pic img {
	padding:4px;
	background:#fff;
	border-bottom:1px solid #b8d8e1;
	display:block;
}

.pics {
	list-style:none;
	margin:0;
	padding:0;
	zoom:1;
	overflow:hidden;
}

.pics li {
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 -3px;
	position:relative;
	left:3px;
}

.pics li .pic {
	float:none;
}

.pics li .pic img {
	padding:6px;
}

div.selected-template a.a-book {
    color: green;
    margin-left: 1em;
}

div.selected-template div.book-status {
    display: inline-block;
    margin-left: 1em;
    text-align: right;
    float: right;
}

div.selected-template-right {
    float:right;
    text-align: right;
    overflow: hidden;
}

.table2 .book-my {
    background-image: url('../images/lock.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 25px !important;
    font-weight: bold;
}

.book-write input[type=submit] {
    background: url('../images/write.png');
    border:0;
    width:133px;
    height:21px;
    cursor: pointer;
}

.table-book tr > th.first, .table-book tr > td.first {
    padding-left: 10px;
}

.table-book tr > td.first {
    font-size: 13px;
}

.rate-item {
    display:none;
}
tr.rate-item td {
    background: #fef0f0;
}

.rate-article a {
    text-decoration: none;
    border-bottom: 1px dashed #006B8F;
}

.sponsor {
        zoom:1;
	overflow:hidden;
	background:url(../images/dot-grey.gif) repeat-x 0 100%;
	padding:10px 10px 12px 10px;
	margin:-12px 0 12px 0;
        background: url('/public/images/sponsor.gif');
}

.sponsor-link {
    float: right;
}
.sponsor-link a {
    color: #000;
}

.sponsor-content {
    background: url('/public/images/sponsor.png') no-repeat left center;
    padding-left: 20px;
    color: black;
}


.article7 {
	margin:15px 0;
	background:url(../images/dot-grey.gif) repeat-x;
	zoom:1;
	overflow:hidden;
}

.article7 .bg {
	zoom:1;
	overflow:hidden;
}

.article7 .head {
	zoom:1;
	overflow:hidden;
	padding:10px 0 12px 0;
	margin:0;
}

.article7 .head div {
	height:100%;
	overflow:hidden;
}

.article7 .head h2 {
	font-size:19px;
	margin:4px 0 9px 0;
}

.article7 .head .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	zoom:1;
	overflow:hidden;
}

.article7 .head .info .date {
	float:left;
	background:#eae9e4;
	color:#4b4b4b;
	margin:0 10px 0 0;
}

.article7 .head .info div {
	float:left;
	margin:0 18px 0 0;
	white-space:nowrap;
}

.article7 .head .info .author {
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
	margin:0 0 0 5px;
	font-weight:bold;
}

.article7 p {
	margin-top:0;
}


a.button {
    background: url('../images/b.png');
    display: inline-block;
    width: 204px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #101211;
    text-align: center;
}

.user-block .new_msg {
    background: url('../images/mailopen.gif') no-repeat right center;
}
.user-block .new_feed {
    background: url('../images/newfeed.gif') no-repeat right center;
}

.user .new_msg {
    position: absolute;
    left: -24px;
    top: 2px;
}

.user .new_msg_reader {
    position: absolute;
    left: 15px;
    top: 2px;
}

#form-comment-add-media-link {
    display: inline-block;
    color: black;
    margin-bottom: 1em;
    border-bottom: 1px dashed black;
    text-decoration: none;
}

.map {margin-top:-15px}

.useful {
	color:#2f2f2f;
        display: inline-block;
        font-weight: bold;
        line-height: 10px;
}

.useful div {
	float:left;
	margin:0 0 0 5px;
}

.useful div a {
	text-decoration:none;
	border-bottom:1px dashed #2f2f2f;
	color:#2f2f2f;
}

.useful div span {margin:0!important}

.premium-link {
    background: url('../images/premium_b.gif') no-repeat right top;
    height: 30px;
}

.premium-link a {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    height: 30px;
    background: url('../images/premium_b.gif') no-repeat left top;
}
.premium-add {
    float:right;
    color: #c1160c;
}

table.premium {
 width:100%;
}

table.premium tr td {
 width:80px;
 padding:0;
 text-align:left;
 vertical-align:top;
 height:110px;
}

table.premium tr td.sep {
 width:200px;
}

table.premium tr td img {
 display:block;
 margin:0 0 9px 0;
}

table.premium tr td span {
 display:block;
 text-decoration:underline;
 padding:0 10px 0 17px;
 zoom:1;
 background:url(../images/icon-user.png) no-repeat 0 2px;
}

table.premium tr td a:hover span {
 text-decoration:none;
}


.btn-signup-writer,
.btn-signup-writer span {
	background:url(../images/signup-writer.png) no-repeat;
	text-decoration:none;
	font:bold 16px/33px Tahoma, Geneva, sans-serif;
	color:#fff;
	height:33px;
	display:block;
	vertical-align:middle;
	padding:0 0 0 12px;
	cursor:pointer;
	text-align:center;
}

.btn-signup-writer span {
	background-position:right top;
	padding:0 25px 0 9px;
	vertical-align:top;
}

.btn-signup-reader,
.btn-signup-reader span {
	background:url(../images/signup-reader.png) no-repeat;
	text-decoration:none;
	font:bold 15px/33px Tahoma, Geneva, sans-serif;
	color:#fff;
	height:33px;
	display:block;
	vertical-align:middle;
	padding:0 0 0 12px;
	cursor:pointer;
	text-align:center;
}

.btn-signup-reader span {
	background-position:right top;
	padding:0 25px 0 9px;
	vertical-align:top;
}

.btn-signup-employer,
.btn-signup-employer span {
	background:url(../images/signup-employer.png) no-repeat;
	text-decoration:none;
	font:bold 16px/33px Tahoma, Geneva, sans-serif;
	color:#fff;
	height:33px;
	display:block;
	vertical-align:middle;
	padding:0 0 0 12px;
	cursor:pointer;
	text-align:center;
        text-transform: uppercase;
        color: #f8fff9;
}

.btn-signup-employer span {
	background-position:right top;
	padding:0 25px 0 9px;
	vertical-align:top;
}

.hold.need-fill {
    border: 1px solid red;
}

.warning-block {
	margin:0 0 15px 0;
	font:normal 11px/14px Tahoma, Geneva, sans-serif;
	color:#000;
}

.warning-block .bg-t {
	height:5px;
	overflow:hidden;
	background:#afe992 url(../images/warning-menu.gif) no-repeat;
}

.warning-block .bg-b {
	height:5px;
	overflow:hidden;
	background:#afe992 url(../images/warning-menu.gif) no-repeat 0 -5px;
}

.warning-block .bg-c {
	border-left:5px solid #afe992;
	border-right:5px solid #afe992;
	background:#e1fcd3 url(../images/error.png) no-repeat 10px 10px;
	padding:10px 15px 10px 60px;
	position:relative;
	zoom:1;
}


.wellcome-block {
	margin:0 0 15px 0;
	font:normal 11px/14px Tahoma, Geneva, sans-serif;
	color:#000;
        padding:5px;
        background: #afe992;
        border-radius: 5px;
}

.wellcome-block .bg {
	background:#e1fcd3;
	padding:10px 15px 15px 15px;
	position:relative;
	zoom:1;
}

.premium-block {
	margin:0 0 15px 0;
	font:normal 11px/14px Tahoma, Geneva, sans-serif;
	color:#000;
        padding:5px;
        background: #F7E4CA;
        border-radius: 5px;
}

.premium-block .bg {
	background:#FCF5EB;
	padding:10px 15px 10px 15px;
	position:relative;
	zoom:1;
}

.info-block {
	margin:0 0 15px 0;
	font:normal 12px/14px Tahoma, Geneva, sans-serif;
	color:#000;
        padding:5px;
        background: #fee1b5;
        border-radius: 5px;
}

.info-block .bg {
	background:#fffce1;
	padding:10px 15px 10px 15px;
	position:relative;
	zoom:1;
}

.service-block {
	margin:0 0 15px 0;
	font:normal 11px/14px Tahoma, Geneva, sans-serif;
	color:#000;
        padding:5px;
        background: #F7E4CA;
        border-radius: 5px;
}

.service-block .bg {
	background:#FCF5EB;
	padding:10px 15px 10px 15px;
	position:relative;
	zoom:1;
        overflow: hidden;
}

.service-block h3 {
    color:#c1160c;
}
.service-block img {
    float:left;
    margin: 0 0.5em 0.5em 0;
}

.service-block p {
    font-size: 13px;
}

.service-add {
    float:right;
    color: #c1160c;
}


.service-link {
    background: url('../images/service_b.png') no-repeat right top;
    height: 28px;
    margin-bottom: 0.5em;
}

.service-link a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    height: 28px;
    background: url('../images/service_b.png') no-repeat left top;
}

.guide-link {
    background: url('../images/guide_bg.png') no-repeat right top;
    height: 28px;
    margin-bottom: 0.5em;
}

.guide-link a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    height: 28px;
    background: url('../images/guide_bg.png') no-repeat left top;
}

.widget-link {
    background: url('../images/widget_bg.png') no-repeat right top;
    height: 28px;
    margin-bottom: 0.5em;
}

.widget-link a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    height: 28px;
    background: url('../images/widget_bg.png') no-repeat left top;
}

.qa-link {
    background: url('../images/qa_bg.png') no-repeat right top;
    height: 28px;
    margin-bottom: 0.5em;
}

.qa-link a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    height: 28px;
    background: url('../images/qa_bg.png') no-repeat left top;
}

.shop-link {
    background: url('../images/shop_b.png') no-repeat right top;
    height: 28px;
    margin-bottom: 0.5em;
}

.shop-link a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #070009;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    height: 28px;
    background: url('../images/shop_b.png') no-repeat left top;
}

.view-stat-link {
    background: url('../images/view-stat_b.png') no-repeat right top;
    height: 28px;
    margin-bottom: 0.5em;
}

.view-stat-link a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 28px;
    height: 28px;
    background: url('../images/view-stat_b.png') no-repeat left top;
}

.view-stat-agree {
    display: inline-block;
    width: 367px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    color: white;
    text-decoration:  none;
    font-size: 14px;
    background: url('../images/view-stat-agree.png') no-repeat left top;
}


.activation {
    display: block;
    width: 236px;
    height: 30px;
    float: right;
    background: url('../images/activation.png') no-repeat left top;
}

.activation-done {
    display: block;
    width: 234px;
    height: 28px;
    float: right;
    background: url('../images/activation-done.png') no-repeat left top;
}

.smiles img {
    cursor: pointer;
}


.shop-add .hold {
    width: 150px;
    float:left;
    margin-right: 1em;
}

.shop-add h4 {
    line-height: 2em;
    margin:0;
}

.shop-add .btn-red {
    float:right;
}

.article-types img {
    margin-bottom: -10px;
}
.form .bordered .bg-c.article-types {
    padding-bottom: 12px;
}

.job-allowed img {
    margin-bottom: -4px;
}
.form .bordered .bg-c.job-allowed {
    padding-bottom: 12px;
}

.order-author {
    overflow: hidden;
    margin: 1em 0;
}

.order-author img {
    float: left;
    margin-right: 0.5em;
}

.order-author span {
    font-weight: bold;
    float: left;
    margin-left: 0.5em;
    font-size: 11px;
    color: black;
}

.order-author .author {
	font-size:11px;
	line-height:normal;
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
	margin:0 0 6px 0;
	zoom:1;
        color: black;
        float: left;
}

.order-author .author span {
	margin:0 0 0 19px;
}

.order-info {
    background: #b5df9d;
    margin: 0.4em 0;
    padding: 0.2em 0.4em;
    font-size: 11px;
    color: #000c00;
}

.order-info div {
     background: url('/public/images/ok.png') no-repeat right center;
     display: inline-block;
     float: right;
     width: 15px;
     height: 14px;
}


.order-desc {
    background: #fdf1d9;
    padding: 0.5em;
    font-size: 12px;
    margin-bottom: 1em;
}

.article1.shop-article-pre .info {
    overflow: hidden;
}

.article1.shop-article-pre .info a {
    float: left;
}

.article1.shop-article-pre .info .type {
    float: left;
    margin-left: 10px;
}

.rework {
    display: inline-block;
    background: #ff505a;
    color:#f1ffff;
    text-decoration: none;
    padding: 0.2em 0.4em;
    height: 15px;
    line-height: 15px;
    margin-left: 20px;
}

.purchase .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	margin:0 0 7px 0;
        overflow: hidden;
}

.purchase .info .date {
	float:left;
	color:#000;
	margin:0 10px 0 0;
	background:#f5f0d9;
}

.purchase .info a {
    float: left;
}

.purchase .info .type {
    float: left;
    margin-left: 10px;
}

.feed_item {
	margin:0 0 15px 0;
	font:normal 12px/14px Tahoma, Geneva, sans-serif;
	color:#000;
        padding:5px;
        background: #ffe1ae;
        border-radius: 5px;
}

.feed_item-bg {
	background:#fffcdf;
	padding:10px 15px 10px 15px;
	position:relative;
	zoom:1;
        overflow: hidden;
}

.feed_item-date {
	font:normal 9px/15px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	float: right;
        background: #eae9e4;
        padding: 0.2em 1em;
        color: #3c3e29;
}

.feed_item-content {
    padding-top: 5px;
}

.feed_item-content_header {
    color: #f01627;
    font-weight: bold;
    padding-bottom: 5px;
}

.feed_item-ico {
    float: left;
    margin-right: 10px;
}

.feed_item-content_content, .feed_item-content_link {
    color: black;
    font:normal 15px/15px Tahoma, Geneva, sans-serif;
}

.userlink {
	font-size:11px;
	line-height:normal;
	padding:0 0 0 17px;
	background:url(../images/icon-user.png) no-repeat 0 2px;
	zoom:1;
}

.dot-line {
	height:1px;
	overflow:hidden;
	background:url(../images/dot-grey.gif) repeat-x;
        margin: 2px 0;
}

.adv {
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}

.adv img {
    float:left;
    margin-right: 1em;
}

.adv-content h2 {
    margin-top:0;
    font-size: 24px;
}


.article-view-stat-head {
    overflow: hidden;
}

.article-view-stat-remain {
    float:right;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    margin-left:0.5em;
    padding:11px 1em 12px;
    color: white;
    background: url('../images/stat_remain.gif') repeat-x top left;
}

.article-view-stat-income {
    float:right;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    margin-left:0.5em;
    padding:11px 1em 12px;
    color: white;
    background: url('../images/stat_income.gif') repeat-x top left;
}

.article-view-stat-unique {
    float:right;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    margin-left:0.5em;
    padding:11px 1em 12px;
    color: white;
    background: url('../images/stat_unique.gif') repeat-x top left;
}

.article-view-stat-status {
    float:left;
    width: 43px;
    height: 51px;
    display: inline-block;
    margin-right: 0.5em;
}

.article-view-stat-status-active {
    background: url('../images/stat_active.jpg');
}

.article-view-stat-status-stop {
    background: url('../images/stat_stop.jpg');
}

.article-view-stat-title h2 a {
    color: #000000;
}

.article-view-stat-title h2 {
    font-size: 19px;
}

.stat-num {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

.stat-desc {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}

/* Blog */

.post-preview {
    padding:15px;
    overflow: hidden;
}

.post-preview.post-video {
    background:#f3f3f3;
}

.post-preview.post-photo {
    background:#fff9e9;
}

.post-preview-preview {
    float:left;
    margin-right:15px;
    border:1px solid #b8b2b4;
    position:relative;
}

.post-preview-preview-icon {
    position: absolute;
    width: 180px;
    height: 116px;
    background-position: center center;
    background-repeat: no-repeat;
}

.post-preview.post-video .post-preview-preview-icon {
    background-image: url('/public/images/pvideo.png');
}

.post-preview.post-photo .post-preview-preview-icon {
    background-image: url('/public/images/pphoto.png');
}

.post-preview.post-video .post-preview-preview {
    border-color: #b8b2b4
}

.post-preview.post-photo .post-preview-preview {
    border-color: #e2d6c6
}

.post-preview-content {
    margin-left: 197px;
}

.post-preview-content h2 {
    font-size: 18px;
    line-height: 120%;
    margin: 0 0 13px;
}
.post-preview-content h2 a {
    color: #000;
}

.post-preview-info {
    font: 11px/15px Tahoma,Geneva,sans-serif;
    margin: 10px 0;
    overflow: hidden;
}

.post-preview-info .date {
    background:#e9e8e3;
    margin:0 15px 0 0;
    float:left;
}
.post-preview-info .ava {
    margin:0 8px 0 0;
    float:left;
}

.post-preview-info .user {
    float:left;
    margin:0 15px 0 0;
}

.post-preview-info .type {
    float:left;
}

.post-preview-info .comments {
	float:right;
	padding:0 0 0 19px;
	background:url(../images/icon-comment.png) no-repeat 0 4px;
}

.post-preview-info .comments a {
     font-weight: bold;
}

.post-preview-info .full {
	float:right;
        font-weight: bold;
        margin:0 0 0 12px;
        color: #000;
}

.photo-area {
    padding: 1.5em;
    background: #ffecb9
}

.video-area {
    background: black;
    text-align: center
}

.progress-bar {
    position: relative;
    height: 25px;

}

.progress-bar_progress {
    position:absolute;
    background: #006b8f;
    height: 25px;
    width: 163px;
    border-radius: 4px;  
}

.progress-bar_progress-wrapper {
    z-index:100;
    height: 25px;
    position:absolute;
    overflow: hidden;
}

.progress-bar_progress-text {
    height: 25px;
    position:absolute;
    text-align: center;
    color: #006b8f;
    width:100%;
    font-size:14px;
    font-weight:bold;
    line-height:24px;
    width: 163px;
}

.progress-bar_progress-text-inv {
    height: 25px;
    position:absolute;
    text-align: center;
    color: white;
    width:100%;
    font-size:14px;
    font-weight:bold;
    line-height:24px;
    width: 163px;
}

.clicks-block {
    padding: 5px 0;
        font-family: Arial, sans-serif;
	float:left;
	width:74px;
        height: 51px;
        background: url('/public/images/clicks-bg.png') no-repeat center center;
        text-align: center;
	overflow:hidden;
	margin:0 5px 0 0;
        color:#070606;
        font-size: 10px;
        font-weight: bold;
        line-height: 0.9;
}

.clicks-block_num {
    font-size: 15px;
	color: #ff0000;
        display: block;
}

.avatar-upload {
    display: block;
    text-align:center;
    font-size:80%;
    padding:0 0.4em;
    line-height: 18px;
    height: 18px;
    background:#fcd067; 
    text-decoration: none;
    color: black;   
}

.avatar-progress {
    font-size:70%;
    padding:0.4em;
    font-weight: bold;
    margin-top:0.4em;
    display: none;
    line-height: 16px;
}

.avatar-progress img {
    float: left;
    padding-right: 2px; 
}

table.awards {
 width:100%;
}

table.awards tr td {
 width:50px;
 padding:0;
 text-align:left;
 vertical-align:top;
}

table.awards tr td.sep {
 width:200px;
}

.block-header {
    background: #fff9e9;
    padding: 15px 15px 15px 1.5em;
}

.block-header a.all {
    float: right;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 4px 0 0;
}

.block-header h2 {
    font-size: 16px;
    margin: 0;
}