.ta-widget-best {
    font-family:Arial, Helvetica, sans-serif;
    color: #050505;
    font-size: 13px;
    position: relative;
    background: black;
    padding:10px 20px;
    margin-bottom: 0.5em;
}

.ta-widget-best a {
    color: white;
}

.ta-widget-best-header {
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
}

.ta-widget-best-header-item a {
    text-decoration: none;
}

.ta-widget-best-left {
    left:0;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 27px;
    height: 150px;
    z-index: 5;
    background: url('../images/arrow-l.png') no-repeat center left;
}

.ta-widget-best-left:hover {
    background-image: url('../images/arrow-l-h.png');
}

.ta-widget-best-right {
    right:0;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 27px;
    height: 150px;
    z-index: 5;
    background: url('../images/arrow-r.png') no-repeat center right;
}

.ta-widget-best-right:hover {
    background-image: url('../images/arrow-r-h.png');
}

.ta-widget-best-content {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.ta-widget-best-content-list {
    margin:0;
    padding:0;
    list-style:none;
    font:normal 11px/12px Tahoma, Geneva, sans-serif;
    overflow: hidden;
    width:4000px;
}

.ta-widget-best-content-list-item {
    float:left;
    width:110px;
    margin-right: 20px;
    display:inline;
    height:150px;
}

.ta-widget-best-content-list-item img {
    display: block;
}

.ta-widget-best-content-list-item span {
    display:block;
    padding:9px 0 0 0;
}

.ta-widget-best-content-list-item  a:hover span {
    text-decoration:none;
}

.ta-widget-best-content-list-item-preview,
.ta-widget-best-content-list-item-overlay {
    display: inline-block;
    width: 110px;
    height: 110px;
    background-position: center center;
    background-repeat: no-repeat;
}

.ta-widget-code-link {
    float: right;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px white dashed;
}

.ta-widget-code-link:hover {
    border-bottom: none;
}