div.ta-widget {
    font-family:Arial, Helvetica, sans-serif;
    color: #050505;
    font-size: 12px;
}

div.ta-widget img {border:none}
div.ta-widget div {
    border:none;
    background: none;
    margin:0;
    padding:0;
}

div.ta-widget a,
div.ta-widget a:visited {
    color:#2a81bf;
    text-decoration: none;
    font-size: 12px;
}

div.ta-widget div.ta-widget-conteiner {
    border: 1px solid #050505;
    border-top: none;
    padding-top: 8px;
}

div.ta-widget div.ta-widget-header {
    background: #050505;
    overflow: hidden;
}

div.ta-widget div.ta-widget-header-logo a {
    display: block;
}

div.ta-widget div.ta-widget-header-content {
    float: right;
    padding: 4px 8px 0 0;
}

div.ta-widget div.ta-widget-header-content a {
    color: white;
    text-decoration: none;
}

div.ta-widget div.ta-widget-content-item {
    overflow: hidden;
    margin-bottom: 8px;
}

div.ta-widget div.ta-widget-content-item img {
    float:left;
    padding: 0 8px 8px 0;
}

div.ta-widget div.ta-widget-footer a {
    text-decoration: none;
    color: #050505;
    font-size: 10px;
}

div.ta-widget div.ta-widget-content {
    margin: 0 10px 0 10px;
}

div.ta-widget div.ta-widget-footer {
    background: #f5f5f5;
    padding: 8px 10px 8px 10px;
}

div.ta-widget a.ta-widget-content-item-title {
    font-weight: bold;
    text-decoration: none;
    color: #050505;
}
