@charset "utf-8";

html,
body {
	width:100%;
	height:100%;
}

body {
	margin:0;
	padding:0;
	background:#fff url(../img/bg-top.png) repeat-x;
	font:normal 13px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#434343;
}

form,
fieldset {
	margin:0;
	padding:0;
	border:0;
}

input,
select,
textarea,
button {
	font-family:Tahoma, Geneva, sans-serif;
	color:#4b4b4b;
	font-size:11px;
	outline:none;
}

textarea {
	resize:vertical;
}

img {
	border:0;
}

a {
	color:#006b8f;
	text-decoration:underline;
	outline:none;
}

a:hover {
	text-decoration:none;
}

table {
	border-collapse:collapse;
}

p {
	margin:1em 0;
}

h1 {
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	color:#000;
	margin:0 0 10px 0;
}

h2 {
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	color:#000;
	margin:0 0 10px 0;
}

h3 {
	font-weight:normal;
	font-size:17px;
	line-height:19px;
	color:#000;
	margin:0 0 7px 0;
}

h4 {
	font:bold 12px/16px Tahoma, Geneva, sans-serif;
	margin:0 0 12px 0;
}

h5 {
	font-size:15px;
	font-weight:normal;
	color:#000;
	margin:0 0 10px 0;
}

h6 {
	font-size:11px;
	font-weight:bold;
	margin:0 0 2px 0;
}

.btn-red,
.btn-red span {
	background:url(../img/btn-red.png) no-repeat;
	text-decoration:none;
	font:bold 12px/20px Tahoma, Geneva, sans-serif;
	color:#fff;
	height:23px;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 12px;
	cursor:pointer;
	text-align:center;
}

.btn-red span {
	background-position:100% -27px;
	padding:0 25px 0 9px;
	vertical-align:top;
}

.input {
	border:1px solid #c4c4c4;
	border-top-color:#a3a3a3;
	border-bottom-color:#d5d5d5;
	background:#fff url(../img/input-shad.gif) repeat-x;
	padding:4px 6px;
	margin:0;
}

.input.grey {
	background:#dbdbdb;
}

.nowrap {
	white-space:nowrap;
}

.red {
	color:#e22010;
}

.big {
	font-size:15px;
	line-height:16px;
}

.small {
	font-size:11px;
	line-height:15px;
}

p.big,
p.small {
	margin:8px 0;
}

.template2 {
	background:#fff url(../img/temp2-head.png) repeat-x;
	color:#000;
}

#container {
	min-width:1000px;
	max-width:1400px;
	margin: 0 auto;
	text-align: left;
	position:relative;
	min-height:100%;
	height:auto!important;
	height:100%;
}

.main-indent {
	width:96%;
	margin:0 auto;
	position:relative;
}

.header {
	position:relative;
	height:95px;
	color:#4b4b4b;
}

.template2 .header {
	height:75px;
	background:#161616 url(../img/temp2-head.png) repeat-x;
	color:#fff;
}

.template2 .header a {
	color:#fff;
}

.header .logo {
	display:block;
	position:absolute;
	font:normal 9px Tahoma, Geneva, sans-serifa;
	color:#000;
	top:16px;
	left:-10px;
}

.header .logo span {
	display:block;
	margin:-7px 0 0 10px;
	position:relative;
	top:5px;
}

.template2 .header .logo {
	position:absolute;
	top:10px;
	left:-10px;
}

.header .name {
	font-size:19px;
	line-height:19px;
	color:#000;
	position:absolute;
	top:27px;
	left:217px;
}

.template2 .header .name {
	color:#fff;
	font-size:18px;
	font-weight:bold;
	position:absolute;
	top:26px;
	left:232px;
}

.header .info {
	font:normal 11px Tahoma, Geneva, sans-serif;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:53px;
	left:217px;
}

.header .info li {
	float:left;
	white-space:nowrap;
	margin:0 10px 0 0;
}

.header .info li img {
	vertical-align:top;
	position:relative;
	top:3px;
	margin:0 3px 0 0;
}

.header .info li strong {
	color:#e22010;
}

.header .auth {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:16px;
	right:0;
	font:normal 11px Tahoma, Geneva, sans-serif;
}

.header .auth input,
.header .auth label {
	vertical-align:middle;
}

.header .auth li {
	float:left;
	margin:0 0 0 10px;
	display:inline;
}

.header .auth li .input {
	display:block;
	margin:7px 0 2px 0;
	width:123px;
}

.header .auth li .btn-red {
	margin:20px 0 0 0;
	padding:0 0 0 12px;
}

.header .auth li .btn-red span {
	padding:0 14px 0 0;
}

.header .user {
	position:absolute;
	top:23px;
	right:0;
	width:209px;
	font:bold 10px/12px Arial, Helvetica, sans-serif;
	color:#6b6b6b;
	padding:0 0 0 111px;
}

.header .user .name1 {
	font-size:13px;
	line-height:13px;
	color:#000;
	margin:0 0 8px 0;
	padding:0 0 0 18px;
	font-weight:normal;
	background:url(../img/icon-user.png) no-repeat 0 3px;
	zoom:1;
}

.header .user .status {
	position:absolute;
	top:0;
	left:0;
}

.header .user .ava {
	position:absolute;
	top:-3px;
	left:42px;
	background:url(../img/ava-small.png) no-repeat;
	width:58px;
	height:59px;
	text-align:center;
	padding:3px 0 0 0;
}

.menu {
	margin:0 0 15px -4px;
	position:relative;
	left:2px;
	zoom:1;
	font:normal 14px/29px Tahoma, Geneva, sans-serif;
	color:#000;
	text-shadow:0 1px 0 #ddd;
	padding:0 0 0 2px;
	background:url(../img/menu.png) no-repeat -498px 0;
	height:31px;
}

.menu table {
	margin:0;
	width:100%;
}

.menu table tr td {
	height:31px;
	text-align:center;
	vertical-align:top;
	padding:0 2px 0 0;
	background:url(../img/menu.png) no-repeat 100% 0;
	white-space:nowrap;
}

.menu table tr td a {
	display:block;
	color:#000;
	text-decoration:none;
	height:31px;
	padding:0 10px 0 12px;
}

.menu table tr td span {
	padding:0 10px 0 12px;
}

.menu table tr td.active {
	background-position:100% -34px;
}

.menu table tr td a:hover {
	text-decoration:underline;
}

.content {
	position:relative;
	padding:0 300px 0 0;
	zoom:1;
	overflow:hidden;
}

.template2 .content {
	padding:20px 0;
}

.aside {
	float:left;
	width:274px;
	margin:0 0 0 -274px;
	position:relative;
	left:300px;
}

.mainContent {
	float:left;
	width:100%;
}

.footer-place {
	height:113px;
	clear:both;
	float:none;
}

.footer-bg {
	background:url(../img/line-bottom.png) repeat-x;
	position:relative;
	height:113px;
	margin:-113px auto 0 auto;
}

#footer {
	font:normal 11px/16px Tahoma, Geneva, sans-serif;
	color:#000;
	min-width:1000px;
	max-width:1400px;
	margin:0 auto;
}

#footer .b-menu {
	list-style:none;
	margin:0;
	padding:16px 0 31px 0;
	height:15px;
	overflow:hidden;
	line-height:12px;
}

#footer .b-menu li {
	float:left;
	height:15px;
	padding:0 20px 0 19px;
	border-left:1px solid #909090;
}

#footer .b-menu li.first {
	padding-left:0;
	border:0;
}

#footer .b-menu li a {
	color:#000;
}

#footer .studio {
	float:left;
	margin:0 25px 0 0;
}

#footer .studio img {
	float:left;
	margin:2px 11px 0 0;
}

#footer .counters {
	float:right;
	margin:0 0 0 31px;
	display:inline;
}

#footer .networks {
	float:right;
	margin:0 0 0 25px;
	display:inline;
}

#footer .networks span {
	float:left;
	margin:0 10px 0 0;
	text-align:right;
}

#footer .networks img {
	float:left;
	margin:0 0 0 8px;
}

.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: ' ';
	clear:both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.add-article {
	display:block;
	background:#f72b19 url(../img/btn-add.png) no-repeat;
	width:243px;
	height:41px;
	font-size:19px;
	line-height:36px;
	color:#fff;
	text-align:center;
	padding:0 0 0 31px;
	margin:0 0 15px 0;
}

.aside .block1 {
	margin:15px 0 12px 0;
	zoom:1;
}

.aside .block {
	background:#efefef url(../img/aside-block.png) repeat-y -554px 0;
	margin:0 0 15px 0;
	width:274px;
}

.aside .block .title {
	font:normal 17px/19px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	background:#dbf3f3 url(../img/aside-block.png) no-repeat;
	height:35px;
	margin:0;
	padding:9px 0 0 14px;
}

.aside .block .in {
	background:url(../img/aside-block.png) no-repeat -277px 100%;
	padding:3px 16px 20px 16px;
	zoom:1;
	overflow:hidden;
}

.subscr {
	zoom:1;
	position:relative;
	margin:-8px 0 0 -6px;
	top:8px;
	left:3px;
	padding:0 0 0 1px;
}

.subscr h3 {
	margin:0;
}

.subscr p {
	margin:8px 0 7px 0;
}

.subscr .input {
	margin:8px 0 5px 0;
	display:block;
	width:230px;
	float:left;
}

.subscr .btn-red {
	clear:both;
}

.person1 {
	font-size:12px;
	line-height:14px;
	padding:0 0 23px 93px;
	min-height:57px;
	height:auto!important;
	height:57px;
	position:relative;
}

.person1 .photo {
	position:absolute;
	top:0;
	left:0;
}

.person1 .name {
	font:normal 11px/1 Tahoma, Geneva, sans-serif;
	position:absolute;
	bottom:0;
	left:93px;
	padding:0 0 1px 17px;
	width:147px;
	background:url(../img/icon-user.png) no-repeat 0 2px;
}

.hr {
	height:1px;
	overflow:hidden;
	clear:both;
	float:none;
	background:url(../img/dot-grey.gif) repeat-x;
	margin:15px 0 13px 0;
}

.article1 {
	font-size:12px;
	line-height:14px;
	zoom:1;
	overflow:hidden;
}

.article1 .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	margin:0 0 7px 0;
}

.article1 .info .date {
	float:left;
	color:#000;
	margin:0 10px 0 0;
	background:#f5f0d9;
}

.article1 h4 a {
	color:#000;
}

.article1.draft h4 {
	margin:0;
}

.article1 .photo {
	float:left;
	width:94px;
}

.article1 .photo img {
	display:block;
}

.article1 .text {
	height:100%;
	overflow:hidden;
}

.comment {
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	zoom:1;
	overflow:hidden;
	margin:10px 0;
}

.comment .author {
	font-size:11px;
	line-height:normal;
	padding:0 0 0 17px;
	background:url(../img/icon-user.png) no-repeat 0 2px;
	margin:0 0 6px 0;
	zoom:1;
}

.comment .author span {
	margin:0 0 0 19px;
}

.comment .ava {
	float:left;
	margin:0 13px 0 0;
}

.comment .ava img {
	display:block;
}

.comment .text {
	height:100%;
	overflow:hidden;
}

.article2 {
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	zoom:1;
	overflow:hidden;
	font-weight:bold;
	color:#000;
}

.article2 a {
	color:#000;
}

.article2 .author {
	font-size:11px;
	line-height:normal;
	padding:0 0 0 17px;
	background:url(../img/icon-user.png) no-repeat 0 2px;
	margin:0 0 6px 0;
	zoom:1;
	font-weight:normal;
}

.article2 .author a {
	color:#006b8f;
}

.dot-title {
	background:url(../img/dot-grey.gif) repeat-x 0 100%;
	padding-bottom:14px;
	margin-bottom:0;
}

.dot-title .all {
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	font-weight:normal;
	margin:4px 0 0 0;
}

.top-block {
	background:url(../img/dot-grey.gif) repeat-x;
	zoom:1;
	margin:0 0 15px 0;
}

.top-block .bg {
	background:url(../img/dot-grey.gif) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
	padding:8px 0 10px 0;
}

.top-block .today {
	line-height:22px;
	font-size:18px;
	font-weight:bold;
	color:#adadad;
}

.top-block .today strong {
	color:#000;
}

.top-block h1,
.top-block h2 {
	line-height:22px;
	margin:0;
}

.top-block .user-name {
	float:left;
	font-size:18px;
	line-height:18px;
	color:#000;
	font-weight:bold;
	padding:0 0 0 47px;
	position:relative;
	zoom:1;
}

.top-block .user-name img {
	position:absolute;
	top:0;
	left:0;
}

.top-block .user-name .orig {
	font:normal 11px/11px Tahoma, Geneva, sans-serif;
	padding:0 0 0 18px;
	zoom:1;
	margin:3px 0 2px 0;
	background:url(../img/icon-user.png) no-repeat 1px 2px;
}

.search {
	float:right;
	zoom:1;
	position:relative;
}

.search .input {
	float:left;
	width:253px;
	padding-left:24px;
	margin:0 10px 0 0;
}

.search .btn {
	float:left;
	border:0;
	cursor:pointer;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	color:#000;
	background:#c3c3c3 url(../img/btn-search.png) no-repeat;
	width:62px;
	height:23px;
	margin:0;
	padding:0 1px 3px 0;
}

.search .icon {
	display:block;
	position:absolute;
	background:url(../img/icon-search.gif) no-repeat;
	width:11px;
	height:11px;
	top:6px;
	left:7px;
}

.row {
	width:100%;
	overflow:hidden;
	margin:15px 0;
}

.half {
	float:left;
	width:48%;
	clear:right;
	padding:0 2% 0 0;
}

.third {
	float:left;
	width:31.33%;
	clear:right;
	padding:0 2% 0 0;
}

.quarter {
	float:left;
	width:24%;
	clear:right;
	padding:0 1% 0 0;
}

.article3 {
	zoom:1;
	overflow:hidden;
	position:relative;
	margin:-14px 0 15px 0;
	top:14px;
}

.article3 .left {
	float:left;
	width:266px;
	margin:0 16px 14px 0;
	overflow:hidden;
}

.article3 .left .red-text {
	background:#e82010 url(../img/article-title-red.png) no-repeat;
	height:29px;
	font:normal 17px/27px Tahoma, Geneva, sans-serif;
	color:#fff;
	text-align:center;
	margin:0;
}

.article3 .left img {
	display:block;
}

.article3 .text {
	height:100%;
	overflow:hidden;
}

.article3 .head {
	zoom:1;
	overflow:hidden;
	margin:0 0 15px 0;
}

.article3 .head h2 {
	margin:-2px 0 0 0;
}

.article3 .info {
	margin:14px 0;
	zoom:1;
	overflow:hidden;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
}

.article3 .info .date {
	float:left;
	color:#4b4b4b;
	background:#eae9e4;
	margin:0 10px 0 0;
}

.article3 .info .author {
	padding:0 0 0 17px;
	font-weight:bold;
	float:right;
	background:url(../img/icon-user.png) no-repeat 0 4px;
}

.article3 .info .comments {
	padding:0 0 0 19px;
	color:#434343;
	background:url(../img/icon-comment.png) no-repeat 0 4px;
	float:left;
}

.article3 .info .comments a {
	font-weight:bold;
}

.article3 .info .full {
	color:#000;
	font-weight:bold;
	float:right;
}

.date {
	font-size:9px;
	text-align:center;
	width:68px;
	height:15px;
	line-height:15px;
}

.rating {
	float:left;
	width:45px;
	overflow:hidden;
	margin:0 15px 0 0;
}

.rating .num {
	text-align:center;
	font-size:19px;
	line-height:27px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background:#7e7e7e url(../img/rating.png) no-repeat;
	width:45px;
	height:29px!important;
	margin:0 0 3px 0;
}

.rating .plus {
	display:block;
	float:left;
	background:#39e810 url(../img/rating.png) no-repeat 0 -32px;
	width:21px;
	height:19px;
	text-indent:-9999px;
}

.rating .minus {
	display:block;
	float:right;
	background:#e82010 url(../img/rating.png) no-repeat -24px -32px;
	width:21px;
	height:19px;
	text-indent:-9999px;
}

.blue-block {
	zoom:1;
	position:relative;
	overflow:hidden;
	margin:0 0 19px 0;
	background:#e8f9f9;
	padding:11px 22px 15px 22px;
}

.blue-block .row {
	margin:0;
}

.corner {
	position:absolute;
	width:5px;
	height:5px;
	overflow:hidden;
	background:url(../img/corner5.png) no-repeat;
}

.corner.tl {
	top:0;
	left:0;
	background-position:0 0;
}

.corner.tr {
	top:0;
	right:0;
	background-position:-5px 0;
}

.corner.bl {
	bottom:0;
	left:0;
	background-position:0 -5px;
}

.corner.br {
	bottom:0;
	right:0;
	background-position:-5px -5px;
}

.list1 {
	list-style:none;
	font:bold 11px/14px Tahoma, Geneva, sans-serif;
	margin:0;
	padding:0;
}

.list1 li {
	margin:0 0 2px 0;
	padding:0;
	zoom:1;
}

.list1 li.active {
	margin-left:-6px;
	position:relative;
	left:3px;
}

.list1 li.active a,
.list1 li.active span {
	padding:1px 3px;
	color:#fff;
	text-decoration:none;
	background:#6ebd45;
}

.pagination {
	list-style:none;
	margin:15px 0;
	padding:6px 0 0 0;
	font:normal 16px Tahoma, Geneva, sans-serif;
	color:#767676;
	text-align:center;
	background:url(../img/dot-grey.gif) repeat-x;
}

.pagination li {
	display:inline-block;
	margin:0 5px;
}

.pagination li.prev {
	padding:0 0 0 22px;
	background:url(../img/prev.gif) no-repeat 0 9px;
	float:left;
	margin:0;
}

.pagination li.next {
	padding:0 22px 0 0;
	background:url(../img/next.gif) no-repeat 100% 9px;
	float:right;
	margin:0;
}

.block2 {
	margin:25px 0 27px 0;
}

.table1 {
	width:100%;
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#000;
	margin:0 0 13px 0;
}

.table1 tr th {
	height:24px;
	text-align:left;
	vertical-align:middle;
	font-weight:bold;
	padding:0 0 0 13px;
}

.table1 tr td {
	padding:0 0 0 13px;
	text-align:left;
	vertical-align:middle;
	height:40px;
	background:#f3f3f3 url(../img/td.png) no-repeat 0 -9999px;
	border-bottom:1px solid #fff;
}

.table1 tr td.photo {
	padding:0;
}

.table1 tr td.photo .photo-hold {
	position:relative;
	height:40px;
	z-index:50;
}

.table1 tr td.photo .photo-hold .photo-popup {
	top:-9999px;
	right:0;
	margin:0 -10px 0 0;
}

.table1 tr:hover td.photo .photo-hold,
.table1 tr.hover td.photo .photo-hold {
	z-index:100;
}

.table1 tr:hover td.photo .photo-hold .photo-popup,
.table1 tr.hover td.photo .photo-hold .photo-popup {
	top:20px;
}

.table1 tr.c1 td {
	background-color:#fafafa;
}

.table1 tr td.first {
	background-position:0 0;
}

.table1 tr td.last {
	background-position:100% -50px;
}

.table1 tr td .name {
	font-weight:bold;
	padding:0 0 0 17px;
	background:url(../img/icon-user.png) no-repeat 0 3px;
	display:inline-block;
}

.photo-popup {
	background:url(../img/photo-popup.png) no-repeat;
	padding:7px 9px 11px 9px;
	width:80px;
	height:80px;
	position:absolute;
	z-index:2000;
}

.article4 {
	zoom:1;
	overflow:hidden;
}

.article4 h2 {
	font-size:19px;
	margin:0 0 14px 0;
}

.article4 h2 a {
	color:#000;
}

.article4 .info {
	zoom:1;
	overflow:hidden;
	margin:15px 0 0 0;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
}

.article4 .info .comments {
	float:right;
	padding:0 0 0 19px;
	background:url(../img/icon-comment.png) no-repeat 0 4px;
}

.article4 .info .comments a {
	font-weight:bold;
}

.article4 .info .date {
	background:#eae9e4;
	float:left;
}

.add-block {
	position:relative;
	overflow:hidden;
	background:#f4f4f4;
	margin:15px 0;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	height:63px;
	padding:0 26px 0 0;
}

.add-block .btn-red {
	position:absolute;
	top:20px;
	left:20px;
}

.add-block .btn-red span {
	width:206px;
	padding:0 14px 0 0;
}

.add-block .info {
	padding:0 0 0 28px;
	background:url(../img/icon-info.gif) no-repeat 0 50%;
	float:right;
	margin:15px 6px 0 0;
}

.add-block .subscr1 {
	margin:13px 0 0 0;
}

.add-block .subscr1.ready {
	margin:5px 0 0 0;
}

.subscr1 {
	padding:2px 0 0 27px;
	float:right;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	position:relative;
	zoom:1;
}

.subscr1 label {
	border-bottom:1px dashed #000;
	position:relative;
	cursor:pointer;
}

.subscr1 label:hover {
	border:0;
}

.subscr1 input,
.subscr1 .checkboxArea,
.subscr1 .checkboxAreaChecked {
	position:absolute;
	top:3px;
	left:3px;
}
.subscr-ready {
	float:right;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	padding:2px 0 0 27px;
	background:url(../img/subscr-ready.png) no-repeat;
}

.qu {
	margin:-5px 0 20px 0;
	zoom:1;
	position:relative;
	padding:0 0 0 93px;
	background:url(../img/icon-qu.gif) no-repeat;
}

.qu h6 {
	font-weight:normal;
	font-size:13px;
	margin:0;
	position:absolute;
	text-transform:uppercase;
	top:0;
	left:24px;
}

.an {
	margin:-4px 0 15px 0;
	zoom:1;
	position:relative;
	padding:4px 4px 9px 93px;
	background:#f5f0d9;
}

.an h6 {
	font-weight:bold;
	font-size:13px;
	margin:0;
	position:absolute;
	text-transform:uppercase;
	top:4px;
	left:24px;
}

.article5 {
	zoom:1;
	overflow:hidden;
	margin:-18px 0 0 0;
	position:relative;
	top:15px;
}

.article5 .ava {
	float:left;
	margin:3px 15px 3px 0;
}

.article5 .ava img {
	display:block;
}

.article5 h2 {
	font-size:19px;
	margin:0 0 13px 0;
}

.article5 h2 a {
	color:#000;
}

.article5 .info {
	zoom:1;
	overflow:hidden;
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	margin:10px 0;
}

.article5 .info .date {
	background:#eae9e4;
	margin:0 15px 0 0;
	float:left;
}

.article5 .info .author {
	padding:0 0 0 17px;
	float:left;
	background:url(../img/icon-user.png) no-repeat 0 4px;
}

.article5 .info .comments {
	float:right;
	padding:0 0 0 19px;
	background:url(../img/icon-comment.png) no-repeat 0 4px;
}

.article5 .info .comments a {
	font-weight:bold;
}

.article5 .full {
	font-weight:bold;
	color:#000;
	float:left;
}

.article6 {
	margin:15px 0;
	background:url(../img/dot-grey.gif) repeat-x;
	zoom:1;
	overflow:hidden;
}

.article6 .bg {
	zoom:1;
	overflow:hidden;
	background:url(../img/dot-grey.gif) repeat-x 0 100%;
}

.article6 .head {
	zoom:1;
	overflow:hidden;
	background:url(../img/dot-grey.gif) repeat-x 0 100%;
	padding:10px 0 12px 0;
	margin:0 0 12px 0;
}

.article6 .head div {
	height:100%;
	overflow:hidden;
}

.article6 .head h2 {
	font-size:19px;
	margin:4px 0 9px 0;
}

.article6 .head .info {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	color:#000;
	zoom:1;
	overflow:hidden;
}

.article6 .head .info .date {
	float:left;
	background:#eae9e4;
	color:#4b4b4b;
	margin:0 10px 0 0;
}

.article6 .head .info div {
	float:left;
	margin:0 18px 0 0;
	white-space:nowrap;
}

.article6 .head .info .author {
	padding:0 0 0 17px;
	background:url(../img/icon-user.png) no-repeat 0 2px;
	margin:0 0 0 5px;
	font-weight:bold;
}

.article6 p {
	margin-top:0;
}

.article6 .info2 {
	background:url(../img/dot-grey.gif) repeat-x;
	zoom:1;
	padding:11px 0;
	font:normal 11px/16px Tahoma, Geneva, sans-serif;
	overflow:hidden;
}

.article6 .info2 .networks1 {
	float:right;
}

.article6 .info2 .networks1 li {
	margin:0 0 0 10px;
}

.article6 .info2 .read {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}

.lfloat {
	float:left;
	clear:left;
	margin:3px 15px 10px 0;
}

.networks1 {
	font:normal 11px/16px Tahoma, Geneva, sans-serif;
	zoom:1;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}

.networks1 li {
	float:left;
	margin:0 10px 0 0;
	display:inline;
	white-space:nowrap;
}

.networks1 li img {
	display:block;
}

.networks1 li a {
	color:#000;
}

.red-block {
	margin:15px 0;
	position:relative;
	zoom:1;
	font:normal 12px/14px Arial, Helvetica, sans-serif;
	color:#b05252;
	padding:15px 20px;
	overflow:hidden;
	background:#ffeaea;
}

.red-block a {
	color:#b05252;
}

.blue-block2 {
	margin:15px 0 23px 0;
	position:relative;
	zoom:1;
	font:normal 12px/14px Arial, Helvetica, sans-serif;
	color:#010101;
	padding:15px 20px;
	overflow:hidden;
	background:#e8f9f9;
}

.blue-block2 a {
	color:#010101;
}

.user-block {
	margin:0 0 15px 0;
	font:normal 11px/14px Tahoma, Geneva, sans-serif;
	color:#000;
}

.user-block .bg-t {
	height:5px;
	overflow:hidden;
	background:#f7e4ca url(../img/user-menu.png) no-repeat;
}

.user-block .bg-b {
	height:5px;
	overflow:hidden;
	background:#f7e4ca url(../img/user-menu.png) no-repeat 0 -5px;
}

.user-block .bg-c {
	border-left:5px solid #f7e4ca;
	border-right:5px solid #f7e4ca;
	background:#fcf5eb;
	padding:10px 15px 10px 15px;
	position:relative;
	zoom:1;
}

.user-block .exit {
	position:absolute;
	color:#000;
	font:bold 10px/10px Arial, Helvetica, sans-serif;
	padding:0 16px 0 0;
	top:11px;
	right:15px;
	background:url(../img/user-exit.png) no-repeat 100% 0;
	text-decoration:none;
}

.user-block .exit:hover {
	text-decoration:underline;
}

.user-block .name {
	font:bold 10px Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
}

.user-block .name .bg1 {
	background:#fefefe url(../img/user-name.png) no-repeat;
	width:238px;
	margin:7px 0 0 -6px;
	position:relative;
	left:4px;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
}

.user-block .name .bg1 .bg2 {
	background:url(../img/user-name.png) no-repeat -242px 100%;
	zoom:1;
	padding:6px 6px 8px 30px;
}

.user-block ul {
	list-style:none;
	margin:0 0 8px 0;
	padding:0;
	font-weight:bold;
}

.user-block ul li {
	margin:4px 0;
	zoom:1;
	overflow:hidden;
}

.user-block ul li a {
	float:left;
}

.user-block ul li span {
	float:right;
	width:76px;
}

.user-block .money {
	padding:2px 0 0 43px;
	margin:0 0 0 -2px;
	background:url(../img/user-money.png) no-repeat;
	min-height:30px;
	height:auto!important;
	height:30px;
}

.bordered {
	margin:10px 0;
	zoom:1;
	position:relative;
}

.bordered .bg-t {
	height:5px;
	overflow:hidden;
	padding:0 0 0 10px;
	background:url(../img/bordered.png) no-repeat 0 -20px;
}

.bordered .bg-t div {
	height:5px;
	overflow:hidden;
	background:url(../img/bordered.png) no-repeat 100% -20px;
}

.bordered .bg-b {
	height:5px;
	overflow:hidden;
	padding:0 0 0 10px;
	background:url(../img/bordered.png) no-repeat 0 -25px;
}

.bordered .bg-b div {
	height:5px;
	overflow:hidden;
	background:url(../img/bordered.png) no-repeat 100% -25px;
}

.bordered .bg-c {
	background:#f9f9f9;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	zoom:1;
	overflow:hidden;
	padding:8px 17px 0 17px;
}

.bordered.bordered2 .bg-t {
	background-position:0 0;
}

.bordered.bordered2 .bg-t div {
	background-position:100% 0;
}

.bordered.bordered2 .bg-b {
	background-position:0 -5px;
}

.bordered.bordered2 .bg-b div {
	background-position:100% -5px;
}

.bordered.bordered2 .bg-c {
	background-color:#fdfcf6;
	border-color:#f5f0d9;
}

.bordered.bordered3 .bg-t {
	background-position:0 -40px;
}

.bordered.bordered3 .bg-t div {
	background-position:100% -40px;
}

.bordered.bordered3 .bg-b {
	background-position:0 -45px;
}

.bordered.bordered3 .bg-b div {
	background-position:100% -45px;
}

.bordered.bordered3 .bg-c {
	background-color:#fff;
	border-color:#dcdcdc;
}

.bordered h2 {
	font-size:19px;
}

.stats {
	list-style:none;
	margin:0 0 23px 0;
	padding:0;
	font:bold 11px/15px Tahoma, Geneva, sans-serif;
}

.stats li {
	margin:1px 0;
	padding:4px 0 6px 8px;
	background:#e8f9f9;
	zoom:1;
	overflow:hidden;
	vertical-align:bottom;
}

.stats.bg2 li {
	background-color:#f0f0f0;
}

.stats.bg3 li {
	background-color:#f9f6e8;
}

.stats li h4 {
	margin:0 0 4px 0;
	zoom:1;
}

.stats li .author {
	padding:0 0 0 21px;
	background:url(../img/icon-user.png) no-repeat 4px 4px;
}

.stats li .line {
	float:left;
	background:url(../img/stat-line.png) no-repeat 100% 0;
	height:11px;
	overflow:hidden;
	position:relative;
}

.stats li .num {
	float:left;
	font-size:10px;
	text-align:center;
	background:url(../img/stat-num.png) no-repeat;
	width:46px;
	height:13px;
	line-height:11px;
	margin:0 0 0 -46px;
	left:55px;
	position:relative;
	overflow:hidden;
}

.vidget {
	margin:5px 0;
	font-size:11px;
}

.vidget h3 {
	font-size:13px;
	margin:0 0 6px 0;
	font-weight:bold;
}

.vidget p {
	margin:0 0 12px 0;
}

.vidget .bg-c {
	padding-bottom:16px;
	padding-top:0;
}

.vidget .btn-red {
	margin:0 0 0 -2px;
}

.profile-main {
	font:normal 11px/15px Tahoma, Geneva, sans-serif;
	padding:0 0 17px 0;
	background:url(../img/dot-grey.gif) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
}

.profile-main .ava {
	float:left;
	margin:0 15px 0 0;
}

.profile-main .ava img {
	display:block;
}

.profile-main .info {
	list-style:none;
	margin:-3px 18px 0 0;
	padding:0;
	float:left;
	width:29%;
}

.profile-main .info li {
	border-top:1px solid #ebebeb;
	padding:3px 0 2px 84px;
	zoom:1;
	position:relative;
}

.profile-main .info li.first {
	border:0;
}

.profile-main .info li span {
	position:absolute;
	top:3px;
	left:0;
}

.profile-main .descr {
	height:100%;
	overflow:hidden;
}

.profile-main .descr h6 {
	color:#000;
}

.profile-main .recommend {
	margin:10px 0 0 0;
	zoom:1;
	overflow:hidden;
	line-height:22px;
	color:#8c8c8c;
}

.profile-main .recommend a,
.profile-main .recommend a span {
	display:block;
	float:left;
	background:url(../img/recommend.png) no-repeat;
	height:23px;
	overflow:hidden;
	text-decoration:none;
	padding:0 0 0 34px;
	line-height:20px;
	margin:0 13px 0 0;
}

.profile-main .recommend a span {
	margin:0;
	background-position:100% 0;
	padding:0 16px 0 0;
}

.profile-main .recommend a strong {
	border-bottom:1px dashed #006b8f;
	position:relative;
}

.profile-main .recommend a:hover strong {
	border:0;
}

.user-info-main {
	list-style:none;
	margin:0 0 17px 0;
	padding:7px 0 13px 0;
	background:url(../img/dot-grey.gif) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
	font:normal 15px/15px Arial, Helvetica, sans-serif;
	color:#000;
}

.user-info-main li {
	float:left;
	margin:0 32px 0 0;
	white-space:nowrap;
	padding:2px 0 0 0;
}

.user-info-main li.recommended {
	padding-left:27px;
	background:url(../img/recomm.png) no-repeat;
}

.table2 {
	font:normal 11px/11px Tahoma, Geneva, sans-serif;
	width:100%;
	margin:0 0 22px 0;
	color:#000;
}

.table2 tr th {
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	padding:0 14px 0 0;
	height:27px;
}

.table2 tr td {
	padding:9px 14px 9px 0;
	background:#f3f3f3;
	border-bottom:1px solid #fff;
	text-align:left;
	vertical-align:middle;
}

.table2 tr.c1 td {
	background-color:#fafafa;
}

.table2 tr td .date {
	background:#eae9e4;
	color:#4b4b4b;
}

.table2 tr td.for-score {
	width:42px;
}

.table2 tr td .score {
	float:right;
	background:url(../img/score.png) no-repeat;
	width:28px;
	height:18px;
	font:bold 12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
}

.members {
	list-style:none;
	margin:10px 0 0 -16px;
	position:relative;
	left:16px;
	padding:0;
	zoom:1;
	font:normal 11px/12px Tahoma, Geneva, sans-serif;
	overflow:hidden;
}

.members li {
	float:left;
	width:14.2%;
	display:inline;
	height:130px;
}

.members li img {
	display:block;
	margin:0 0 9px 0;
}

.members li span {
	display:block;
	text-decoration:underline;
	padding:0 10px 0 17px;
	zoom:1;
	background:url(../img/icon-user.png) no-repeat 0 2px;
}

.members li a:hover span {
	text-decoration:none;
}

.form {
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#000;
	margin:0 0 20px 0;
	list-style:none;
	padding:0;
}

ul.form li {
	margin:10px 0;
}

.form .bordered {
	margin:5px 0;
}

.form .bordered .bg-c {
	padding-top:2px;
	padding-bottom:4px;
}

.form h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0 0 8px 0;
}

.form .hold {
	border:1px solid #c4c4c4;
	border-top-color:#a3a3a3;
	border-bottom-color:#d5d5d5;
	background:#fff url(../img/input-shad.gif) repeat-x;
	padding:0 0 0 8px;
	margin:3px 0 6px 0;
}

.form .hold.grey {
	background:#dbdbdb;
}

.form .hold input {
	border:0;
	background:none;
	margin:0;
	padding:4px 0;
	width:100%;
}

.form .hold textarea {
	border:0;
	background:none;
	margin:0;
	padding:4px 0;
	width:100%;
	height:73px;
}

.form .hold .big-textarea {
	height:300px;
}

.form .hold select {
	width:100%;
	margin:0;
	border:0;
	background:#fff;
	padding:3px 0;
}

.form .row {
	margin:0;
}

.form .third {
	width:32%;
	padding:0 1% 0 0;
}

.form .third.right {
	float:right;
	padding-right:0;
	padding-left:1%;
}

.form .half.right {
	float:right;
	padding-right:0;
	padding-left:2%;
}

.form .third.center {
	padding:0;
	margin:0 auto;
	float:none;
	clear:none;
}

.form .btn-red span {
	padding:0 46px 0 27px;
}

.form .add-image img {
	float:left;
	margin:0 14px 0 0;
}

.form .add-image input {
	display:block;
	margin:14px 0;
}

.form .info {
	font:normal 10px/13px Arial, Helvetica, sans-serif;
	color:#767676;
}

.form .info.right-info {
	float:right;
	margin:-5px 0 0 0;
}

.form .options {
	zoom:1;
	overflow:hidden;
	margin:15px 0 7px 0;
	padding:4px 0 0 0;
}

.form .options .subscr-link {
	margin:-4px 0 0 0;
}

.form .blue-block2 {
	font:normal 11px/12px Tahoma, Geneva, sans-serif;
	padding:5px 4px;
	text-align:center;
	margin:0;
}

.modal {
	position:absolute;
	top:0;
	left:-9999px;
	width:310px;
	z-index:3000;
}

.modal .bg-tl {
	height:16px;
	overflow:hidden;
	padding:0 0 0 35px;
	background:url(../img/modal.png) no-repeat;
}

.modal .bg-tr {
	height:16px;
	overflow:hidden;
	background:url(../img/modal.png) no-repeat 100% -40px;
}

.modal .bg-bl {
	height:16px;
	overflow:hidden;
	padding:0 0 0 35px;
	background:url(../img/modal.png) no-repeat 0 -19px;
}

.modal .bg-br {
	height:16px;
	overflow:hidden;
	background:url(../img/modal.png) no-repeat 100% -59px;
}

.modal .bg-cl {
	padding:0 0 0 10px;
	background:url(../img/modal-sides.png) repeat-y;
	zoom:1;
}

.modal .bg-cr {
	padding:0 10px 0 0;
	background:url(../img/modal-sides.png) repeat-y 100% 0;
	zoom:1;
}

.modal .modal-content {
	background:#fff url(../img/modal-grad.png) repeat-x 0 100%;
	zoom:1;
	overflow:hidden;
	padding:10px 20px;
}

.modal h2 {
	font-size:19px;
	margin:0 0 12px 0;
}

.modal .form {
	margin:0;
}

.modal .form .btn-red span {
	padding:0 12px 0 0;
	width:128px;
}

.modal .form .hold textarea {
	height:112px;
}

.template2 .bordered {
	margin:0 0 6px 0;
}

.template2 .bordered .bg-c {
	padding:15px 30px;
}

.template2 .bordered3 .bg-c {
	padding:3px 20px 15px 20px;
}

.template2 .bordered .form {
	margin:0;
}

.code {
	border:1px solid #c4c4c4;
	border-top-color:#a3a3a3;
	border-bottom-color:#d5d5d5;
	background:#fff4bb;
	padding:5px 9px;
	overflow:auto;
	height:56px;
	font:normal 11px/12px Tahoma, Geneva, sans-serif;
	color:#4b4b4b;
	margin:3px 0 6px 0;
}

.promo-bg {
	background:#000a24;
	color:#fff;
	font-size:15px;
	line-height:19px;
}

.promo-bg a {
	color:#fff;
}

.promo {
	min-height:100%;
	height:auto!important;
	height:100%;
	min-width:900px;
	background:url(../img/promo.jpg) no-repeat 50% 0;
}

.promo h1,
.promo h2,
.promo h3 {
	font:normal 25px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0 0 10px 0;
}

.promo h4 {
	font:normal 20px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 0 7px 0;
}

.promo .hr {
	background:#588fc0;
	margin:10px 0 15px 0;
}

.promo .promo-in {
	width:900px;
	margin:0 auto;
}

.promo .header {
	height:105px;
}

.promo .header .logo {
	position:absolute;
	top:33px;
	left:-10px;
}

.promo .header .name {
	font-size:15px;
	color:#fff;
	font-weight:normal;
	line-height:15px;
	position:absolute;
	top:53px;
	left:227px;
}

.promo .promo-block {
	min-height:545px;
	height:auto!important;
	height:545px;
	padding:23px 0 0 584px;
	position:relative;
}

.promo .promo-block h2 {
	margin:0 0 35px -180px;
	left:16px;
	zoom:1;
	position:relative;
}

.promo .promo-block p {
	margin:11px 0 26px 0;
}

.promo .promo-block .video-link {
	display:block;
	text-decoration:none;
	color:#fff;
	background:url(../img/video-link.png) no-repeat;
	width:247px;
	height:75px;
	margin:0px 0 0 -26px;
	left:14px;
	position:relative;
	padding:20px 0 0 93px;
	font-size:12px;
	line-height:1.2;
}

.promo .promo-block .video-link strong {
	display:block;
	font-size:25px;
	margin:0 0 3px -3px;
}

.promo .promo-block .text {
	position:relative;
	z-index:2;
}

.promo .promo-block .sliders {
	position:absolute;
	top:0;
	left:-17px;
	background:url(../img/i-devices.jpg) no-repeat;
	width:578px;
	height:567px;
	z-index:1;
}

.promo .promo-block .sliders .slider1 {
	width:294px;
	height:397px;
	position:absolute;
	top:63px;
	left:62px;
}

.promo .promo-block .sliders .slider1 .hold {
	position:relative;
	overflow:hidden;
	width:294px;
	height:397px;
}

.promo .promo-block .sliders .slider1 .hold ul.slideshow {
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	width:294px;
	height:397px;
	overflow:hidden;
}

.promo .promo-block .sliders .slider1 .hold ul.slideshow:after {
	background:url(../img/refl1.png) no-repeat;
	width:189px;
	height:313px;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	content:''
}

.promo .promo-block .sliders .slider1 .hold ul li {
	margin:0;
	padding:0;
	display:inline;
}

.promo .promo-block .sliders .refl {
	display:none;
}

.promo .promo-block .sliders .slider2 {
	width:168px;
	height:252px;
	position:absolute;
	top:208px;
	left:379px;
}

.promo .promo-block .sliders .slider2 .hold {
	position:relative;
	overflow:hidden;
	width:168px;
	height:252px;
}

.promo .promo-block .sliders .slider2 .hold ul.slideshow {
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	width:168px;
	height:252px;
}

.promo .promo-block .sliders .slider2 .hold ul.slideshow:after {
	background:url(../img/refl2.png) no-repeat;
	width:89px;
	height:201px;
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	content:''
}

.promo .promo-block .sliders .slider2 .hold ul li {
	display:inline;
}

.promo .promo-block .sliders .slider2 .refl {
}

.promo .promo-block .sliders .navigation {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	bottom:10px;
	z-index:10;
	display:block;
}

.promo .promo-block .sliders .navigation li {
	margin:0 6px 0 0 !important;
	display:inline;
	float:left;
}

.promo .promo-block .sliders .navigation li a {
	display:block;
	background:url(../img/slider-nav.png) no-repeat;
	width:7px;
	height:7px;
	cursor:pointer;
	overflow:hidden;
}

.promo .promo-block .sliders .navigation li a.active {
	background-position:-17px 0;
}

.in-store {
	font-size:12px;
	line-height:13px;
	margin:20px 0 0 0;
}

.in-store .item {
	float:left;
	width:450px;
	height:77px;
}

.in-store .item .store {
	float:left;
	margin:0 15px 0 0;
}

.in-store .item .price {
	float:right;
	background:url(../img/price.png) no-repeat;
	width:108px;
	height:81px;
	text-align:center;
	font-size:20px;
	line-height:80px;
	position:relative;
	margin:-24px 0 0 -24px;
	top:12px;
	left:12px;
}

.promo-footer-place {
	height:49px;
	clear:both;
	float:none;
}

.promo-footer {
	height:48px;
	line-height:48px;
	width:900px;
	margin:-49px auto 0 auto;
	position:relative;
	border-top:1px solid #525a6f;
	font-size:12px;
}

.modal-video {
	background:url(../img/modal-video.png) no-repeat;
	width:640px;
	height:390px;
	position:absolute;
	z-index:3000;
	padding:20px;
	top:20%;
	left:20%;
}

.modal-video .close {
	position:absolute;
	display:block;
	background:url(../img/modal-close.png) no-repeat;
	width:31px;
	height:31px;
	position:absolute;
	cursor:pointer;
	top:-20px;
	right:20px;
	overflow:hidden;
}

.slideshow .slideshowContainer {
	position: absolute;
	width: 9999px;
}

.slideshow .animated {
	-webkit-transition:all 350ms ease-out;
	-moz-transition:all 350ms ease-out;
	-o-transition:all 350ms ease-out;
	transition:all 350ms ease-out;
}

.slideshow {
	cursor: move;
}

.checkboxArea {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	cursor:pointer;
	background:url(../img/checkbox.png) no-repeat;
}

.checkboxAreaChecked {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	cursor:pointer;
	background:url(../img/checkbox.png) no-repeat 0 -19px;
}

.outtaHere {
	position:absolute;
	top:-9999px;
	left:-9999px;
	display:none;
}

.subscr1 .box-list{display:none;}
.subscr1 label{display:inline;}
.ready .box-list{display:inline;}
.ready label{display:none;}
