<div class="modal" id="popup">
    <div class="bg-tl">
        <div class="bg-tr"></div>
    </div>
    <div class="bg-cl">
        <div class="bg-cr">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="bg-bl">
        <div class="bg-br"></div>
    </div>
</div>