<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-star" viewBox="0 0 1087 1024">
            <title>icon-star</title>
            <path class="path1"
                  d="M534.756 0l162.133 332.8 369.778 54.044-267.378 261.689 62.578 366.933-327.111-173.511-329.956 173.511 62.578-366.933-267.378-261.689 369.778-54.044 164.978-332.8z"></path>
        </symbol>
        <symbol id="icon-cart" viewBox="0 0 1024 1024">
            <title>icon-cart</title>
            <path class="path1"
                  d="M1037.653 163.84c-13.653-13.653-27.307-20.48-40.96-20.48h-757.76l-6.827-61.44c-6.827-27.307-27.307-47.787-54.613-47.787h-122.88c-27.307 0-54.613 27.307-54.613 54.613s27.307 54.613 54.613 54.613h75.093l102.4 607.573c0 0 0 6.827 0 6.827s0 6.827 0 6.827 6.827 6.827 6.827 6.827c0 0 0 6.827 6.827 6.827 0 0 6.827 6.827 13.653 6.827 0 0 6.827 0 6.827 6.827 6.827 0 13.653 6.827 20.48 6.827h600.747c27.307 0 54.613-27.307 54.613-54.613s-27.307-54.613-54.613-54.613h-552.96l-13.653-54.613h621.227c27.307 0 47.787-20.48 54.613-47.787l54.613-382.293c0-13.653 0-27.307-13.653-40.96v0zM935.253 252.587l-13.653 109.227h-191.147v-109.227h204.8zM669.013 252.587v109.227h-163.84v-109.227h163.84zM669.013 416.427v109.227h-163.84v-109.227h163.84zM450.56 252.587v109.227h-163.84c0 0-6.827 0-6.827 0l-20.48-109.227h191.147zM286.72 416.427h163.84v109.227h-143.36l-20.48-109.227zM723.627 525.653v-109.227h184.32l-13.653 109.227h-170.667z"></path>
            <path class="path2"
                  d="M450.56 935.253c0 47.787-34.133 81.92-81.92 81.92s-81.92-34.133-81.92-81.92c0-47.787 34.133-81.92 81.92-81.92s81.92 34.133 81.92 81.92v0z"></path>
            <path class="path3"
                  d="M942.080 935.253c0 47.787-34.133 81.92-81.92 81.92s-81.92-34.133-81.92-81.92c0-47.787 34.133-81.92 81.92-81.92s81.92 34.133 81.92 81.92v0z"></path>
        </symbol>
<!--        <symbol id="icon-checked" viewBox="0 0 1024 1024">-->
<!--            <title>icon-checked</title>-->
<!--            <path class="path1"-->
<!--                  d="M512 0c-280 0-512 232-512 512s232 512 512 512c280 0 512-232 512-512s-232-512-512-512v0zM752 368l-248 376v8l-8 8h-56l-144-136c-24-16-24-48-8-64s48-16 64 0l104 96 216-336c16-24 40-24 64-16 24 16 24 48 16 64v0z"></path>-->
<!--        </symbol>-->
        <symbol id="icon-close" viewBox="0 0 1023 1024">
            <title>icon-close</title>
            <path class="path1"
                  d="M631.167 510.204l363.49-363.49c33.535-33.535 33.535-88.028 0-121.563s-88.028-33.535-121.563 0l-362.891 363.49-364.089-363.49c-33.535-33.535-88.028-33.535-120.964 0-33.535 33.535-33.535 88.028 0 121.563l363.49 363.49-363.49 363.49c-33.535 33.535-33.535 88.028 0 121.563s88.028 33.535 120.964 0l363.49-364.089 363.49 364.089c33.535 33.535 88.028 33.535 121.563 0s33.535-88.028 0-121.563l-363.49-363.49z"></path>
        </symbol>
        <symbol id="icon-heart" viewBox="0 0 1024 1024">
            <title>icon-heart</title>
            <path class="path1"
                  d="M512 983.040l-71.68-71.68c-266.24-235.52-440.32-394.24-440.32-588.8 0-158.72 122.88-281.6 281.6-281.6 87.040 0 174.080 40.96 230.4 107.52 56.32-66.56 143.36-107.52 230.4-107.52 158.72 0 281.6 122.88 281.6 281.6 0 194.56-174.080 353.28-440.32 588.8l-71.68 71.68z"></path>
        </symbol>
        <symbol id="icon-info" viewBox="0 0 1024 1024">
            <title>icon-info</title>
            <path class="path1"
                  d="M668.612 481.882v457.788c0 45.176-39.153 84.329-84.329 84.329h-138.541c-45.176 0-84.329-39.153-84.329-84.329v-457.788c0-45.176 39.153-84.329 84.329-84.329h138.541c45.176 0 84.329 39.153 84.329 84.329v0zM584.282 0h-138.541c-45.176 0-84.329 39.153-84.329 84.329v144.565c0 45.176 39.153 84.329 84.329 84.329h138.541c45.176 0 84.329-39.153 84.329-84.329v-144.565c0-45.176-39.153-84.329-84.329-84.329v0z"></path>
        </symbol>
        <symbol id="icon-pause" viewBox="0 0 1024 1024">
            <title>icon-pause</title>
            <path class="path1"
                  d="M46.545 1042.618h297.891v-1042.618h-297.891v1042.618zM642.327 0v1042.618h297.891v-1042.618h-297.891z"></path>
        </symbol>
        <symbol id="icon-play" viewBox="0 0 1024 1024">
            <title>icon-play</title>
            <path class="path1" d="M93.091 0v1042.618l819.2-521.309-819.2-521.309z"></path>
        </symbol>
        <symbol id="icon-podcast" viewBox="0 0 1024 1024">
            <title>icon-podcast</title>
            <path class="path1"
                  d="M579.924 582.754v85.676c115.264-30.617 200.683-135.847 200.683-260.631 0-148.712-120.925-269.636-269.636-269.636s-269.636 120.925-269.636 269.636c0 124.784 85.162 230.014 200.683 260.631v-85.676c-69.725-27.53-118.866-95.453-118.866-174.697 0-103.686 84.39-187.819 187.819-187.819 103.686 0 187.819 84.39 187.819 187.819 0 79.244-49.399 147.168-118.866 174.697v0z"></path>
            <path class="path2"
                  d="M919.027 408.056c0-224.868-182.931-408.056-408.056-408.056-224.868 0-408.056 183.188-408.056 408.056 0 201.455 146.911 369.206 339.104 402.139v-83.104c-146.911-31.646-257.544-162.605-257.544-319.035 0-180.101 146.396-326.496 326.496-326.496s326.496 146.396 326.496 326.496c0 156.43-110.633 287.389-257.544 319.035v83.104c192.193-32.933 339.104-200.683 339.104-402.139v0z"></path>
            <path class="path3"
                  d="M469.29 674.348v349.395h83.361v-489.102c4.631-1.544 9.262-3.345 13.636-5.403 4.631-2.058 9.262-4.631 13.636-7.204 38.593-23.413 64.322-65.608 64.322-113.978 0-73.327-59.69-133.274-133.274-133.274s-133.274 59.69-133.274 133.274c0 48.113 25.729 90.565 64.322 113.978 4.374 2.573 9.005 5.146 13.636 7.204 4.374 2.058 9.005 3.859 13.636 5.403v139.707zM461.315 394.42c1.286-4.888 3.345-9.52 5.918-13.636 9.005-14.665 25.214-24.442 43.739-24.442s34.476 9.777 43.739 24.442c2.573 4.117 4.631 8.748 5.918 13.636 1.286 4.374 1.801 9.005 1.801 13.636 0 11.321-3.602 21.612-9.777 30.103-9.262 12.864-24.442 21.355-41.68 21.355s-32.418-8.49-41.68-21.355c-6.175-8.49-9.777-18.782-9.777-30.103 0-4.631 0.515-9.262 1.801-13.636v0z"></path>
        </symbol>
        <symbol id="icon-question" viewBox="0 0 1024 1024">
            <title>icon-question</title>
            <path class="path1"
                  d="M740.978 69.689c-65.422-46.933-146.489-69.689-244.622-69.689-73.956 0-137.956 17.067-189.156 49.778-81.067 51.2-123.733 139.378-129.422 261.689h187.733c0-35.556 9.956-71.111 31.289-103.822s56.889-49.778 106.667-49.778c51.2 0 86.756 14.222 105.244 41.244 19.911 27.022 28.444 56.889 28.444 89.6 0 28.444-14.222 55.467-31.289 78.222-9.956 14.222-22.756 27.022-36.978 38.4 0 0-102.4 65.422-146.489 118.044-25.6 29.867-28.444 76.8-31.289 142.222 0 4.267 1.422 14.222 18.489 14.222h146.489c14.222 0 17.067-11.378 17.067-15.644 1.422-24.178 4.267-35.556 8.533-49.778 8.533-25.6 31.289-48.356 55.467-68.267l51.2-35.556c46.933-36.978 83.911-66.844 100.978-89.6 28.444-38.4 48.356-85.333 48.356-142.222 0-92.444-32.711-162.133-96.711-209.067v0zM493.511 792.178c-65.422-1.422-118.044 42.667-120.889 113.778-1.422 69.689 48.356 116.622 113.778 118.044 68.267 1.422 119.467-41.244 122.311-112.356 1.422-69.689-48.356-118.044-115.2-119.467v0z"></path>
        </symbol>
        <symbol id="icon-refresh" viewBox="0 0 1024 1024">
            <title>icon-refresh</title>
            <path class="path1"
                  d="M498.643 1006.191c-249.322 0-454.122-204.8-454.122-454.122 0-253.774 204.8-458.574 454.122-458.574 17.809 0 35.617 0 48.974 4.452v-75.687c0-8.904 4.452-17.809 13.357-22.261s17.809 0 26.713 4.452l160.278 160.278c8.904 8.904 8.904 22.261 0 31.165l-160.278 160.278c-8.904 8.904-17.809 8.904-26.713 4.452s-13.357-13.357-13.357-22.261v-71.235c-17.809-4.452-35.617-4.452-48.974-4.452-160.278 0-289.391 129.113-289.391 289.391s129.113 289.391 289.391 289.391c160.278 0 289.391-129.113 289.391-289.391 0-13.357 8.904-22.261 22.261-22.261h124.661c13.357 0 22.261 8.904 22.261 22.261 0 249.322-204.8 454.122-458.574 454.122v0z"></path>
        </symbol>
        <symbol id="icon-tile" viewBox="0 0 1024 1024">
            <title>icon-tile</title>
            <path class="path1" d="M0 0h438.331v438.331h-438.331v-438.331z"></path>
            <path class="path2" d="M585.669 0h438.331v438.331h-438.331v-438.331z"></path>
            <path class="path3" d="M585.669 585.669h438.331v438.331h-438.331v-438.331z"></path>
            <path class="path4" d="M0 585.669h438.331v438.331h-438.331v-438.331z"></path>
        </symbol>
        <symbol id="icon-users" viewBox="0 0 1024 1024">
            <title>icon-users</title>
            <path class="path1"
                  d="M789.641 688.825c-127.472-45.922-168.379-84.718-168.379-167.852 0-9.237 1.32-16.099 3.695-21.905 10.029-25.6 38.532-28.503 52.52-103.192 7.126-38.004 41.435-0.528 48.033-87.093 0-34.573-18.738-43.019-18.738-43.019s9.501-50.936 13.196-90.26c4.487-49.089-28.503-175.505-205.856-175.505-0.792 0-1.584 0-2.111 0-0.792 0-1.584 0-2.375 0-176.825 0-210.078 126.416-205.592 175.241 3.695 39.324 13.196 90.26 13.196 90.26s-18.738 8.709-18.738 43.019c6.598 86.565 40.907 49.353 48.033 87.093 13.988 74.689 42.491 77.328 52.52 103.192 2.375 5.806 3.695 12.668 3.695 21.905 0 83.134-40.643 121.93-168.379 167.852-128 46.449-185.534 93.427-185.534 125.625v210.342h926.351v-210.342c0-32.198-57.534-79.175-185.534-125.361v0z"></path>
        </symbol>
        <symbol id="icon-user" viewBox="0 0 409.165 409.164">
            <title>icon-user</title>
            <path d="M204.583,216.671c50.664,0,91.74-48.075,91.74-107.378c0-82.237-41.074-107.377-91.74-107.377
			c-50.668,0-91.74,25.14-91.74,107.377C112.844,168.596,153.916,216.671,204.583,216.671z"></path>
            <path d="M407.164,374.717L360.88,270.454c-2.117-4.771-5.836-8.728-10.465-11.138l-71.83-37.392
			c-1.584-0.823-3.502-0.663-4.926,0.415c-20.316,15.366-44.203,23.488-69.076,23.488c-24.877,0-48.762-8.122-69.078-23.488
			c-1.428-1.078-3.346-1.238-4.93-0.415L58.75,259.316c-4.631,2.41-8.346,6.365-10.465,11.138L2.001,374.717
			c-3.191,7.188-2.537,15.412,1.75,22.005c4.285,6.592,11.537,10.526,19.4,10.526h362.861c7.863,0,15.117-3.936,19.402-10.527
			C409.699,390.129,410.355,381.902,407.164,374.717z"></path>
        </symbol>
        <symbol id="icon-search" viewBox="0 0 250.313 250.313">
            <title>icon-search</title>
            <path d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
		c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
		c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
		c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
		c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
		C170.146,140.044,140.043,170.146,102.911,170.146z"></path>
        </symbol>
        <symbol id="icon-lock" viewBox="0 0 230.412 230.412">
            <title>icon-lock</title>
            <path d="M30.956,230.412h168.5V91.884H184.04v-23.05C184.04,30.879,153.161,0,115.206,0
	S46.372,30.879,46.372,68.834v23.05H30.956V230.412z M127.655,178.223v23.415h-24.898v-23.415c-4.46-3.623-7.314-9.146-7.314-15.34
	c0-10.915,8.85-19.764,19.764-19.764s19.764,8.849,19.764,19.764C134.97,169.077,132.115,174.6,127.655,178.223z M81.372,68.834
	C81.372,50.178,96.55,35,115.206,35c18.656,0,33.834,15.178,33.834,33.834v23.05H81.372V68.834z"></path>
        </symbol>
        <symbol id="icon-comment" viewBox="0 0 612 612">
            <title>icon-comment</title>
            <path d="M153,229.5h306V153H153V229.5z M535.5,0h-459C34.234,0,0,34.234,0,76.5v344.25c0,42.267,34.234,76.5,76.5,76.5h248.625
				L497.25,612V497.25h38.25c42.267,0,76.5-34.233,76.5-76.5V76.5C612,34.234,577.767,0,535.5,0z M535.5,382.5
				c0,21.114-17.136,38.25-38.25,38.25h-76.5v57.375l-95.625-57.375H114.75c-21.114,0-38.25-17.136-38.25-38.25V114.75
				c0-21.114,17.136-38.25,38.25-38.25h382.5c21.114,0,38.25,17.136,38.25,38.25V382.5z M153,344.25h306v-76.5H153V344.25z"></path>
        </symbol>
        <symbol id="icon-like" viewBox="0 0 456.814 456.814">
            <title>icon-like</title>
            <path d="M441.11,252.677c10.468-11.99,15.704-26.169,15.704-42.54c0-14.846-5.432-27.692-16.259-38.547
			c-10.849-10.854-23.695-16.278-38.541-16.278h-79.082c0.76-2.664,1.522-4.948,2.282-6.851c0.753-1.903,1.811-3.999,3.138-6.283
			c1.328-2.285,2.283-3.999,2.852-5.139c3.425-6.468,6.047-11.801,7.857-15.985c1.807-4.192,3.606-9.9,5.42-17.133
			c1.811-7.229,2.711-14.465,2.711-21.698c0-4.566-0.055-8.281-0.145-11.134c-0.089-2.855-0.574-7.139-1.423-12.85
			c-0.862-5.708-2.006-10.467-3.43-14.272c-1.43-3.806-3.716-8.092-6.851-12.847c-3.142-4.764-6.947-8.613-11.424-11.565
			c-4.476-2.95-10.184-5.424-17.131-7.421c-6.954-1.999-14.801-2.998-23.562-2.998c-4.948,0-9.227,1.809-12.847,5.426
			c-3.806,3.806-7.047,8.564-9.709,14.272c-2.666,5.711-4.523,10.66-5.571,14.849c-1.047,4.187-2.238,9.994-3.565,17.415
			c-1.719,7.998-2.998,13.752-3.86,17.273c-0.855,3.521-2.525,8.136-4.997,13.845c-2.477,5.713-5.424,10.278-8.851,13.706
			c-6.28,6.28-15.891,17.701-28.837,34.259c-9.329,12.18-18.94,23.695-28.837,34.545c-9.899,10.852-17.131,16.466-21.698,16.847
			c-4.755,0.38-8.848,2.331-12.275,5.854c-3.427,3.521-5.14,7.662-5.14,12.419v183.01c0,4.949,1.807,9.182,5.424,12.703
			c3.615,3.525,7.898,5.38,12.847,5.571c6.661,0.191,21.698,4.374,45.111,12.566c14.654,4.941,26.12,8.706,34.4,11.272
			c8.278,2.566,19.849,5.328,34.684,8.282c14.849,2.949,28.551,4.428,41.11,4.428h4.855h21.7h10.276
			c25.321-0.38,44.061-7.806,56.247-22.268c11.036-13.135,15.697-30.361,13.99-51.679c7.422-7.042,12.565-15.984,15.416-26.836
			c3.231-11.604,3.231-22.74,0-33.397c8.754-11.611,12.847-24.649,12.272-39.115C445.395,268.286,443.971,261.055,441.11,252.677z"
            ></path>
            <path d="M100.5,191.864H18.276c-4.952,0-9.235,1.809-12.851,5.426C1.809,200.905,0,205.188,0,210.137v182.732
			c0,4.942,1.809,9.227,5.426,12.847c3.619,3.611,7.902,5.421,12.851,5.421H100.5c4.948,0,9.229-1.81,12.847-5.421
			c3.616-3.62,5.424-7.904,5.424-12.847V210.137c0-4.949-1.809-9.231-5.424-12.847C109.73,193.672,105.449,191.864,100.5,191.864z
			 M67.665,369.308c-3.616,3.521-7.898,5.281-12.847,5.281c-5.14,0-9.471-1.76-12.99-5.281c-3.521-3.521-5.281-7.85-5.281-12.99
			c0-4.948,1.759-9.232,5.281-12.847c3.52-3.617,7.85-5.428,12.99-5.428c4.949,0,9.231,1.811,12.847,5.428
			c3.617,3.614,5.426,7.898,5.426,12.847C73.091,361.458,71.286,365.786,67.665,369.308z"></path>
        </symbol>
        <symbol id="icon-not-like" viewBox="0 0 456.814 456.814">
            <title>icon-not-like</title>
            <path d="M445.371,182.43c0.575-14.465-3.518-27.504-12.271-39.114c3.23-10.657,3.23-21.793,0-33.397
			c-2.852-10.852-7.994-19.794-15.416-26.836c1.707-21.317-2.954-38.544-13.99-51.679c-12.187-14.462-30.926-21.888-56.247-22.268
			H337.17H315.47h-4.855c-12.559,0-26.261,1.479-41.11,4.428c-14.835,2.954-26.405,5.716-34.684,8.282
			c-8.28,2.565-19.746,6.331-34.4,11.271c-23.413,8.192-38.449,12.375-45.11,12.566c-4.949,0.19-9.232,2.046-12.848,5.571
			c-3.616,3.521-5.424,7.754-5.424,12.702v183.011c0,4.757,1.713,8.897,5.141,12.419c3.427,3.522,7.52,5.474,12.274,5.854
			c4.567,0.382,11.799,5.995,21.698,16.847c9.896,10.851,19.508,22.365,28.837,34.545c12.946,16.559,22.557,27.979,28.837,34.26
			c3.427,3.428,6.374,7.992,8.852,13.706c2.472,5.709,4.142,10.323,4.996,13.845c0.862,3.521,2.142,9.275,3.86,17.273
			c1.327,7.421,2.519,13.228,3.565,17.414c1.048,4.189,2.904,9.139,5.57,14.85c2.662,5.708,5.903,10.466,9.709,14.271
			c3.62,3.617,7.899,5.427,12.848,5.427c8.761,0,16.607-0.999,23.562-2.998c6.947-1.997,12.655-4.472,17.131-7.421
			c4.478-2.952,8.282-6.801,11.424-11.565c3.136-4.755,5.422-9.041,6.852-12.847c1.424-3.805,2.568-8.564,3.43-14.272
			c0.85-5.711,1.334-9.995,1.423-12.85c0.091-2.853,0.146-6.568,0.146-11.134c0-7.233-0.9-14.469-2.711-21.698
			c-1.814-7.233-3.613-12.94-5.42-17.134c-1.811-4.184-4.433-9.516-7.857-15.984c-0.569-1.141-1.523-2.854-2.852-5.139
			c-1.327-2.284-2.386-4.381-3.139-6.283c-0.76-1.903-1.521-4.188-2.281-6.852h79.082c14.846,0,27.691-5.424,38.541-16.277
			c10.827-10.855,16.259-23.701,16.259-38.547c0-16.371-5.236-30.55-15.704-42.54C443.971,195.758,445.395,188.527,445.371,182.43z"
            ></path>
            <path d="M113.347,259.523c3.614-3.616,5.424-7.897,5.424-12.847V63.944c0-4.943-1.809-9.227-5.424-12.847
			c-3.618-3.611-7.899-5.421-12.848-5.421H18.277c-4.949,0-9.232,1.81-12.852,5.421C1.809,54.718,0,59.003,0,63.944v182.732
			c0,4.949,1.81,9.232,5.425,12.847c3.616,3.617,7.899,5.426,12.852,5.426H100.5C105.449,264.949,109.73,263.142,113.347,259.523z
			 M73.091,100.495c0,4.949-1.809,9.233-5.426,12.848c-3.616,3.617-7.897,5.428-12.847,5.428c-5.14,0-9.47-1.811-12.99-5.428
			c-3.521-3.615-5.281-7.899-5.281-12.848c0-5.14,1.761-9.469,5.281-12.989c3.52-3.521,7.851-5.281,12.99-5.281
			c4.949,0,9.23,1.76,12.847,5.281C71.286,91.027,73.091,95.355,73.091,100.495z"></path>
        </symbol>
        <symbol id="icon-plus" viewBox="0 0 401.994 401.994">
            <title>icon-plus</title>
            <path d="M394,154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414
		C242.488,2.666,236.02,0,228.398,0h-54.812c-7.612,0-14.084,2.663-19.414,7.993c-5.33,5.33-7.994,11.803-7.994,19.414v118.775
		H27.407c-7.611,0-14.084,2.664-19.414,7.994S0,165.973,0,173.589v54.819c0,7.618,2.662,14.086,7.992,19.411
		c5.33,5.332,11.803,7.994,19.414,7.994h118.771V374.59c0,7.611,2.664,14.089,7.994,19.417c5.33,5.325,11.802,7.987,19.414,7.987
		h54.816c7.617,0,14.086-2.662,19.417-7.987c5.332-5.331,7.994-11.806,7.994-19.417V255.813h118.77
		c7.618,0,14.089-2.662,19.417-7.994c5.329-5.325,7.994-11.793,7.994-19.411v-54.819C401.991,165.973,399.332,159.502,394,154.175z"
            ></path>
        </symbol>
        <symbol id="article-placeholder" viewBox="0 0 548.176 438.535">
            <title>article-placeholder</title>
            <path d="M534.75,68.238c-8.945-8.945-19.694-13.417-32.262-13.417H45.681c-12.562,0-23.312,4.471-32.264,13.417
			C4.471,77.185,0,87.936,0,100.499v347.173c0,12.566,4.471,23.318,13.417,32.264c8.951,8.946,19.702,13.42,32.264,13.42h456.814
			c12.561,0,23.312-4.474,32.259-13.42c8.944-8.944,13.422-19.696,13.422-32.264V100.499
			C548.176,87.936,543.698,77.185,534.75,68.238z M511.622,447.672c0,2.479-0.898,4.613-2.706,6.427
			c-1.811,1.801-3.952,2.703-6.428,2.703H45.681c-2.473,0-4.615-0.902-6.423-2.703c-1.807-1.812-2.712-3.948-2.712-6.427V100.495
			c0-2.474,0.901-4.611,2.712-6.423c1.809-1.803,3.951-2.708,6.423-2.708h456.814c2.472,0,4.613,0.905,6.421,2.708
			c1.801,1.812,2.707,3.949,2.707,6.423L511.622,447.672L511.622,447.672z"></path>
            <path d="M127.91,237.541c15.229,0,28.171-5.327,38.831-15.987c10.656-10.66,15.986-23.601,15.986-38.826
			c0-15.23-5.333-28.171-15.986-38.832c-10.66-10.656-23.604-15.986-38.831-15.986s-28.168,5.33-38.828,15.986
			c-10.656,10.66-15.986,23.601-15.986,38.832c0,15.225,5.327,28.169,15.986,38.826C99.742,232.211,112.683,237.541,127.91,237.541z
			"></path>
            <polygon points="210.134,319.765 164.452,274.088 73.092,365.447 73.092,420.267 475.085,420.267 475.085,292.359
			356.315,173.587"></polygon>
        </symbol>
        <symbol id="article-plus-notepad" viewBox="0 0 24 24">
            <title>article-plus-notepad</title>
            <path
                d="m23,10h-8.5c-0.3,0-0.5-0.2-0.5-0.5v-8.5c0-0.6-0.4-1-1-1h-2c-0.6,0-1,0.4-1,1v8.5c0,0.3-0.2,0.5-0.5,0.5h-8.5c-0.6,0-1,0.4-1,1v2c0,0.6 0.4,1 1,1h8.5c0.3,0 0.5,0.2 0.5,0.5v8.5c0,0.6 0.4,1 1,1h2c0.6,0 1-0.4 1-1v-8.5c0-0.3 0.2-0.5 0.5-0.5h8.5c0.6,0 1-0.4 1-1v-2c0-0.6-0.4-1-1-1z"></path>
        </symbol>
        <symbol id="article-star" viewBox="0 0 124.702 118.597">
            <title>article-star</title>
            <path d="M81.62,39.017L66.652,8.698l-4.163-8.433L62.357,0l-3.615,7.321L43.083,39.03L0,45.304l15.885,15.475l4.559,4.441
		l4.13,4.023l6.611,6.44l-7.364,42.914L53.044,71.11c-0.358-0.59-0.663-1.213-0.911-1.867c-0.475-1.252-0.746-2.604-0.746-4.023l0,0
		c0-1.576,0.321-3.077,0.9-4.441c1.209-2.849,3.551-5.091,6.455-6.191c1.17-0.443,2.429-0.7,3.747-0.732
		c0.093-0.002,0.184-0.014,0.277-0.014c1.367,0,2.672,0.253,3.886,0.695c2.968,1.08,5.365,3.349,6.593,6.242
		c0.579,1.365,0.9,2.865,0.9,4.441l0,0c0,1.419-0.271,2.771-0.745,4.023c-1.17,3.089-3.64,5.53-6.748,6.661
		c-1.214,0.442-2.519,0.695-3.886,0.695c-0.094,0-0.184-0.012-0.277-0.014c-0.916-0.021-1.802-0.154-2.652-0.38l-1.095,1.289
		l-34.921,41.104l34.921-18.372l3.615-1.902l0.131,0.069l4.163,2.19l34.242,18.015L93.53,75.67l6.595-6.427l4.129-4.023l4.557-4.441
		l15.892-15.488L81.62,39.017z"></path>
        </symbol>
        <symbol id="man-404" viewBox="0 0 180.301 282.802">
            <title>man-404</title>
            <path display="none" fill="#C4C4C4" d="M83.452,78.486c-0.06,1.416-0.062,2.781-0.029,4.109c2.894-3.282,11.798,4.179,28.163,5.623
	c15.867,1.4,25.269-5.535,27.04-0.475c0.323-2.051,0.449-4.118,0.35-6.147C114.232,95.781,83.452,78.486,83.452,78.486z"></path>
            <g>
                <g>
                    <g>
                        <polygon fill="#E88E47" points="17.775,77.831 20.462,62.645 26.473,63.511 24.091,82.48 26.719,96.738 23.503,108.319
				6.01,109.731 3.393,101.871 0,86.017 2.174,79.705 			"></polygon>
                        <polygon fill="#BA7239" points="26.719,96.738 25.307,89.08 24.597,90.076 12.945,92.54 11.904,100.522 22.759,108.241
				24.044,106.376 			"></polygon>
                        <polygon fill="#E88E47" points="22.759,109.772 32.626,95.463 33.34,84.563 32.773,78.832 28.685,79.088 28.428,86.242
				24.597,91.608 14.479,94.073 11.904,102.055 			"></polygon>
                    </g>
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1.311" y1="123.1323" x2="89.1641"
                                    y2="123.1323">
                        <stop offset="0.0769" style="stop-color:#BDBDBD"></stop>
                        <stop offset="0.1295" style="stop-color:#C2C2C2"></stop>
                        <stop offset="0.3696" style="stop-color:#D7D7D7"></stop>
                        <stop offset="0.5275" style="stop-color:#DFDFDF"></stop>
                        <stop offset="1" style="stop-color:#CDCDCD"></stop>
                    </linearGradient>
                    <path fill="url(#SVGID_1_)" d="M89.164,109.299c0,0-64.323,71.393-87.853-1.995c6.062-1.064,26.14-1.487,26.14-1.487
			c5.056,24.791,33.677,26.832,55.522,0.863L89.164,109.299z"></path>
                    <polygon fill="#BA7239"
                             points="17.775,77.831 2.174,79.705 0,86.017 0.394,87.859 6.317,96.807 20.842,91.79 		"></polygon>
                    <polygon fill="#E88E47"
                             points="19.052,89.839 17.855,77.379 17.775,77.831 2.174,79.705 0,86.017 7.043,94.95 		"></polygon>
                </g>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F39B5F" points="72.6,105.304 111.951,120.583 148.08,109.824
		151.534,68.696 151.534,54.281 148.326,46.531 145.514,44.343 116.826,49.156 105.201,41.156 97.939,37.998 90.514,35.468
		84.076,37.093 79.764,40.218 74.514,50.656 73.335,62.849 	"></polygon>
                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="69.5059" y1="149.5693" x2="148.1758"
                                y2="149.5693">
                    <stop offset="0.0769" style="stop-color:#BDBDBD"></stop>
                    <stop offset="0.1295" style="stop-color:#C2C2C2"></stop>
                    <stop offset="0.3696" style="stop-color:#D7D7D7"></stop>
                    <stop offset="0.5275" style="stop-color:#DFDFDF"></stop>
                    <stop offset="1" style="stop-color:#CDCDCD"></stop>
                </linearGradient>
                <path fill="url(#SVGID_2_)" d="M72.6,105.304c-1.205,13.415-3.431,77.905-3.051,78.533l69.31,9.997
		c-0.075-2.627,10.425-79.649,9.222-84.011l-36.142,10.07L72.6,105.304z"></path>
                <g>
                    <polygon opacity="0.12"
                             points="88.087,61.518 108.955,62.282 109.034,56.623 86.846,57.433 		"></polygon>
                    <polygon fill="#5F2900"
                             points="88.803,59.965 109.67,60.729 109.746,55.07 87.562,55.882 		"></polygon>
                    <polygon opacity="0.12"
                             points="137.293,68.17 118.557,62.244 120.188,57.201 139.621,64.942 		"></polygon>
                    <polygon fill="#5F2900"
                             points="136.376,66.619 117.641,60.693 119.271,55.65 138.702,63.391 		"></polygon>
                </g>
                <path fill="#424242" d="M69.549,183.837c0,0-0.222,17.32,5.615,22.212c5.842,4.893,39.15,17.771,58.438,4.214
		c4.108-3.533,5.874-12.375,5.402-17.741L69.549,183.837z"></path>
                <path opacity="0.2" d="M103.888,71.219c-0.324,2.947-2.076,5.173-3.914,4.972c-1.834-0.201-3.062-2.755-2.738-5.702
		c0.323-2.951,2.076-5.177,3.911-4.975C102.983,65.717,104.211,68.269,103.888,71.219z"></path>
                <path opacity="0.2" d="M125.9,73.19c-0.325,2.948-1.998,5.184-3.737,4.992c-1.74-0.191-2.889-2.735-2.563-5.684
		c0.321-2.946,1.995-5.184,3.735-4.991C125.073,67.697,126.224,70.244,125.9,73.19z"></path>
                <ellipse transform="matrix(0.9941 0.1089 -0.1089 0.9941 8.2191 -10.5451)" cx="100.656" cy="69.978"
                         rx="2.114" ry="4.488"></ellipse>
                <path d="M125.021,72.299c-0.271,2.466-1.431,4.359-2.591,4.232c-1.156-0.128-1.881-2.227-1.61-4.694
		c0.272-2.464,1.434-4.359,2.593-4.233C124.57,67.732,125.294,69.835,125.021,72.299z"></path>
                <polygon fill="#E88E47" points="126.874,187.513 131.237,199.904 133.759,204.69 159.035,195.579 165.047,190.149 157.74,176.567
		157.778,176.548 157.72,176.53 156.915,175.035 154.1,175.437 141.182,170.629 140.618,177.674 	"></polygon>
                <path opacity="0.35" d="M157.74,176.567l0.038-0.019l-0.059-0.019l-0.805-1.495l-2.815,0.402l-5.225-1.575
		c0.902,2.437,6.077,16.338,8.943,22.157l1.217-0.44l3.261-2.945c0.847-1.044,1.656-2.078,2.423-3.095L157.74,176.567z"></path>

                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="7842.9033" y1="874.981" x2="7883.9658"
                                y2="874.981"
                                gradientTransform="matrix(-0.9846 -0.1749 -0.1749 0.9846 8056.3379 671.7878)">
                    <stop offset="0.0769" style="stop-color:#BDBDBD"></stop>
                    <stop offset="0.1295" style="stop-color:#C2C2C2"></stop>
                    <stop offset="0.3696" style="stop-color:#D7D7D7"></stop>
                    <stop offset="0.5275" style="stop-color:#DFDFDF"></stop>
                    <stop offset="1" style="stop-color:#CDCDCD"></stop>
                </linearGradient>
                <path fill="url(#SVGID_3_)" d="M147.361,117.179c-0.05,1.562-0.218,3.85-0.477,6.667c24.984,18.388,17.322,33.414,3.768,48.705
		c0,0,6.775,18.433,9.686,23.701C207.244,161.355,158.222,124.551,147.361,117.179z"></path>
                <g>
                    <path opacity="0.1" d="M151.707,53.944c-0.035-6.628-0.438-11.877-1.314-15.188c-4.108-0.167-8.213-0.333-12.319-0.502
			c-0.695-0.027-1.387-0.057-2.083-0.083c-13.698-0.561-27.396-1.119-41.094-1.676c-1.314-0.054-2.628-0.107-3.938-0.161
			c-4.921-0.201-9.839-0.402-14.759-0.602c-0.684,3.056-1.252,7.799-1.721,13.768c-0.454,5.751-0.816,12.644-1.115,20.258
			c2.125-2.501,3.168-9.534,3.442-10.95c1.036-5.375,1.938-10.854,5.612-15.16c7.508-8.798,12.802-0.878,19.531,4.067
			c6.706,4.928,14.808,7.673,23.159,7.396c4.139-0.14,8.235-0.994,12.121-2.412c2.241-0.816,6.12-3.827,8.646-3.058
			c3.434,1.05,3.386,7.389,3.608,10.177c0.15,1.885-0.592,9.018,1.27,10.23c0.165,0.105,0.328,0.185,0.494,0.248
			C151.566,64.267,151.733,58.743,151.707,53.944z"></path>
                    <path fill="#5F2900" d="M157.635,47.807c0.062,3.898-0.532,7.83-1.564,11.583c-0.688,2.49-1.98,8.135-4.536,9.306
			c-1.372-2.452-0.331-5.708-0.54-8.374c-0.213-2.733-0.463-5.93-1.772-8.44c-2.716-5.217-7.967-8.992-5.74-15.331
			c1.632-4.642,6.688-3.707,9.842-0.869C156.615,38.636,157.565,43.581,157.635,47.807z"></path>
                    <path fill="#361700" d="M156.462,40.594c-0.665-1.874-1.666-3.591-3.139-4.913c-0.865-0.779-1.872-1.414-2.916-1.832
			c-3.179,1.906-5.616,5.656-6.629,9.375c1.297,2.942,3.822,5.541,5.443,8.656c1.31,2.511,1.56,5.707,1.772,8.44
			c0.205,2.613-0.782,5.788,0.465,8.22c2.793-4.121,2.213-12.524,1.263-16.232c-0.67-2.628-1.844-4.656-0.671-7.354
			C152.777,43.28,154.579,41.457,156.462,40.594z"></path>
                    <path fill="#5F2900" d="M87.081,20.257c-2.044,3.265-2.672,7.673-1.198,11.282c1.561,3.827,5.583,4.714,9.034,6.308
			c3.773,1.738,7.014,3.536,10.26,6.143c3.364,2.696,6.729,5.614,10.942,6.868c6.307,1.879,13.299,1.765,19.71,0.503
			c16.233-3.201,27.075-27.458,16.835-41.852c1.183,7.89-3.785,9.334-9.363,12.875c5.647-6.377,1.295-18.743-6.63-22.384
			c9.952,22.144-15.72,17.81-28.229,16.215C101.449,15.321,91.521,13.164,87.081,20.257z"></path>
                    <path fill="#5F2900" d="M78.283,24.764c2.144-0.219,4.4,0.295,6.267,1.237c2.288,1.155,4.709,2.225,6.683,3.897
			c1.291,1.097,4.24,4.601,3.737,6.5c-0.388,1.453-1.732,0.746-3.002,0.69c-2.334-0.104-5.026-0.004-7.081,0.995
			c-7.108,3.45-9.028,12.921-10.217,19.885c-0.269,1.562-0.193,3.7-1.335,4.88c-3.053-2.171-2.972-9.274-3.609-12.678
			c-1.325-7.087-1.626-16.97,3.41-22.818C74.516,25.752,76.353,24.963,78.283,24.764z"></path>
                    <path fill="#361700" d="M152.664,9.509c0.151,1.009,0.199,1.916,0.159,2.733c0.707,2.803,1.453,5.518,1.015,8.683
			c-0.55,3.963-1.706,7.848-3.619,11.45c-2.46,4.634-5.908,9.562-10.974,11.665c-5.791,2.403-10.757,3.574-16.987,2.109
			c-5.849-1.374-10.637-4.386-16.129-6.843c-5.348-2.394-10.55-6.802-16.705-6.339c-0.782,0.061-1.599,0.211-2.43,0.432
			c1.932,2.322,5.114,3.151,7.923,4.448c3.773,1.738,7.014,3.536,10.26,6.143c3.364,2.696,6.729,5.614,10.942,6.868
			c6.307,1.879,13.299,1.765,19.71,0.503C152.062,48.159,165.974,22.037,152.664,9.509z"></path>
                    <path fill="#361700" d="M89.424,32.967c-4.892,0.371-11.097,4.041-13.332,8.583c-3.134,6.368-1.976,13.327-2.044,20.097
			c0.412-1.146,0.431-2.559,0.622-3.678c1.188-6.964,3.108-16.436,10.217-19.885c2.055-0.999,4.747-1.098,7.081-0.995
			c1.27,0.056,2.614,0.763,3.002-0.69c0.207-0.78-0.175-1.835-0.781-2.878C92.653,33.078,91.072,32.842,89.424,32.967z"></path>
                    <path opacity="0.2" fill="#FFFFFF" d="M81.649,30.726c2.996-0.205,4.192-2.675,1.118-4.015c-3.359-1.464-7.039,0.558-8.801,3.428
			c-1.729,2.822-1.097,4.961-1.499,7.859C73.144,33.122,77.272,31.03,81.649,30.726z"></path>
                    <path opacity="0.2" fill="#FFFFFF" d="M128.41,33.631c-6.347,2.897-10.96,1.051-16.993-1.542
			c-2.602-1.118-5.156-1.966-7.785-3.139c-5.038-2.246-9.979-4.688-15.521-2.172c-0.166-3.104,1.654-6.078,4.078-7.896
			c1.967-1.475,4.672-2.259,7.1-2.142c4.031,0.19,8.531,3.485,12.336,1.523c-2.137,1.838-4.269,2.786-7.069,2.517
			c-2.194-0.216-5.754-1.447-7.149,1.017c4.975-2.553,13.159,4.504,17.44,6.29c6.466,2.698,13.732,5.088,19.732-0.113
			C132.462,30.396,131.414,32.26,128.41,33.631z"></path>
                </g>
                <path fill="#450800" d="M83.452,78.486c0,0,30.78,17.295,55.523,3.11c0.748,15.191-10.604,32.427-30.526,30.384
		C91.445,110.237,82.598,98.925,83.452,78.486z"></path>
                <path fill="#B20A00" d="M92.413,105.627c4.055,3.544,9.426,5.674,16.036,6.352c6.857,0.703,12.699-0.878,17.38-3.873
		c-4.585-5.303-6.062-7.134-15.674-7.177C97.487,100.872,95.73,103.906,92.413,105.627z"></path>
                <path fill="#FFFFFF" d="M83.452,78.486c-0.062,1.479-0.066,2.906-0.027,4.291c5.539,3.604,29.531,17.419,55.185,5.08
		c0.338-2.089,0.468-4.194,0.366-6.261C114.232,95.781,83.452,78.486,83.452,78.486z"></path>
                <path fill="#FFFFFF" d="M91.876,105.154c4.111,3.833,9.67,6.118,16.573,6.826c8.097,0.83,14.778-1.524,19.807-5.631
		C113.087,111.95,95.641,104.503,91.876,105.154z"></path>
                <g>
                    <polygon opacity="0.35"
                             points="106.802,170.917 111.47,178.797 124.696,164.489 117.875,130.039 117.104,120.583 		"></polygon>
                    <polygon fill="#5F2900"
                             points="103.492,124.706 95.206,160.757 108.271,176.51 122.104,162.532 115.984,125.021 		"></polygon>
                    <polygon fill="#5F2900"
                             points="102.579,116.756 102.024,124.818 117.188,126.739 117.697,117.141 		"></polygon>
                    <polygon opacity="0.36"
                             points="116.519,128.279 115.984,125.021 103.492,124.706 103.011,126.793 		"></polygon>
                    <polygon fill="#5F2900"
                             points="101.34,118.181 100.8,125.531 118.673,127.498 119.137,118.745 		"></polygon>
                    <path fill="#873A00" d="M119.146,144.404L102.25,130.11l-2.108,9.169l20.678,15.381L119.146,144.404z M98.394,146.891
			l-1.175,5.112l18.619,16.86l4.694-4.743L98.394,146.891z"></path>
                    <path fill="#FFA81F" d="M116.137,140.07c-0.064,1.215-0.976,2.153-2.036,2.095l-14.765-0.782c-1.06-0.057-1.867-1.085-1.802-2.301
			l0,0c0.064-1.213,0.975-2.153,2.034-2.097l14.767,0.784C115.396,137.824,116.201,138.856,116.137,140.07L116.137,140.07z"></path>
                    <path fill="#FFFFFF" d="M105.748,139.582c-0.04,0.759-0.335,1.361-0.66,1.342l-4.523-0.238c-0.323-0.018-0.556-0.647-0.515-1.404
			l0,0c0.04-0.762,0.337-1.359,0.66-1.343l4.523,0.238C105.559,138.194,105.788,138.824,105.748,139.582L105.748,139.582z"></path>
                </g>
                <path fill="#424242"
                      d="M96.309,211.983l-18.282-6.253c0,0,13.357,26.209,16.49,41.421l5.853,35.651h9.67L96.309,211.983z"></path>
                <path fill="#424242" d="M134.457,247.074c-1.392-15.47-0.017-38.249-0.017-38.249l-14.904,4.062l9.873,69.915h9.725
		L134.457,247.074z"></path>
            </g>
        </symbol>
        <symbol id="icon-danger" viewBox="0 0 401.999 401.998">
            <title>icon-danger</title>
            <path d="M237.543,301.499h-73.091c-4.95,0-9.233,1.811-12.851,5.425c-3.615,3.617-5.424,7.897-5.424,12.847v63.953
			c0,4.948,1.809,9.232,5.424,12.854c3.621,3.61,7.9,5.421,12.851,5.421h73.097c4.942,0,9.227-1.811,12.848-5.421
			c3.61-3.621,5.42-7.905,5.42-12.854v-63.953c0-4.949-1.813-9.229-5.427-12.847C246.773,303.307,242.488,301.499,237.543,301.499z"
            ></path>
            <path d="M259.383,5.424C255.862,1.812,251.628,0,246.676,0h-91.359c-4.948,0-9.18,1.812-12.703,5.424
			c-3.521,3.617-5.186,7.902-4.996,12.85l7.992,219.265c0.19,4.948,2.139,9.236,5.852,12.847c3.711,3.621,8.041,5.431,12.991,5.431
			h73.097c4.942,0,9.271-1.81,12.991-5.431c3.71-3.61,5.653-7.898,5.852-12.847l7.987-219.265
			C264.578,13.326,262.905,9.045,259.383,5.424z"></path>
        </symbol>
        <symbol id="icon-checked" viewBox="0 0 26 26">
            <title>icon-checked</title>
            <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
        </symbol>
        <symbol id="icon-article-edit" viewBox="0 0 516.375 516.375">
            <title>icon-article-edit</title>
            <path d="M344.25,133.875h95.625L325.125,0v114.75C325.125,126.225,334.688,133.875,344.25,133.875z"></path>
            <path d="M306,114.75V0H114.75C93.712,0,76.5,17.212,76.5,38.25v439.875c0,21.037,17.212,38.25,38.25,38.25h286.875
			c21.037,0,38.25-17.213,38.25-38.25V153H344.25C323.213,153,306,135.788,306,114.75z M133.875,76.5V57.375H229.5V76.5v19.125
			h-19.125V76.5H191.25V153h-19.125V76.5H153v19.125h-19.125V76.5z M382.5,439.875H133.875V420.75H382.5V439.875z M382.5,382.5
			H133.875v-19.125H382.5V382.5z M382.5,325.125H133.875V306H382.5V325.125z M382.5,267.75H133.875v-19.125H382.5V267.75z
			 M382.5,210.375H133.875V191.25H382.5V210.375z"></path>
        </symbol>
        <symbol id="icon-pen" viewBox="0 0 386.375 386.375">
            <title>icon-pen</title>
            <path d="M21.05,286.875l76.5,76.5l-1.9,3.8l-95.6,19.2l19.1-95.6L21.05,286.875z M34.65,272.775l77.1,77.1l216.4-216.399
		l-77.101-77.1L34.65,272.775z M374.85,34.375l-23-22.9c-15.3-15.3-38.199-15.3-53.5,0l-32.5,32.5l76.5,76.5l32.5-32.5
		C390.15,72.675,390.15,47.775,374.85,34.375z"></path>
        </symbol>
        <symbol id="icon-fb" viewBox="0 0 96.124 96.123">
            <title>icon-fb</title>
            <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
		c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
		c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
		c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
        </symbol>
        <symbol id="icon-vk" viewBox="0 0 34.416 48.672">
            <title>icon-vk</title>
            <path d="M16.272,48.672H0V0h15.912c5.087,0,9.144,1.272,12.168,3.816c3.024,2.545,4.536,5.832,4.536,9.864
		c0,4.369-2.041,7.513-6.12,9.432c5.279,1.92,7.92,5.497,7.92,10.728c0,4.176-1.705,7.693-5.112,10.548
		C25.895,47.244,21.552,48.672,16.272,48.672z M10.584,19.44h4.536c2.16,0,3.827-0.492,5.004-1.476
		c1.176-0.983,1.764-2.243,1.764-3.78c0-1.584-0.517-2.844-1.548-3.78C19.307,9.468,17.735,9,15.624,9h-5.04V19.44z M10.584,39.672
		H16.2c2.304,0,4.127-0.551,5.472-1.656c1.343-1.104,2.016-2.496,2.016-4.176c0-1.775-0.588-3.191-1.764-4.248
		c-1.177-1.055-2.892-1.584-5.148-1.584h-6.192V39.672z"></path>
        </symbol>
        <symbol id="icon-tw" viewBox="0 0 612 612">
            <title>icon-tw</title>
            <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
			c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
			c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
			c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
			c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
			c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
			c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
        </symbol>
        <symbol id="icon-google" viewBox="0 0 475.092 475.092">
            <title>icon-google</title>
            <path d="M273.372,302.498c-5.041-6.762-10.608-13.045-16.7-18.842c-6.091-5.804-12.183-11.088-18.271-15.845
			c-6.092-4.757-11.659-9.329-16.702-13.709c-5.042-4.374-9.135-8.945-12.275-13.702c-3.14-4.757-4.711-9.61-4.711-14.558
			c0-6.855,2.19-13.278,6.567-19.274c4.377-5.996,9.707-11.799,15.986-17.417c6.28-5.617,12.559-11.753,18.844-18.415
			c6.276-6.665,11.604-15.465,15.985-26.412c4.373-10.944,6.563-23.458,6.563-37.542c0-16.75-3.713-32.835-11.136-48.25
			c-7.423-15.418-17.89-27.412-31.405-35.976h38.54L303.2,0H178.441c-17.699,0-35.498,1.906-53.384,5.72
			c-26.453,5.9-48.723,19.368-66.806,40.397C40.171,67.15,31.129,90.99,31.129,117.637c0,28.171,10.138,51.583,30.406,70.233
			c20.269,18.649,44.585,27.978,72.945,27.978c5.71,0,12.371-0.478,19.985-1.427c-0.381,1.521-1.043,3.567-1.997,6.136
			s-1.715,4.62-2.286,6.14c-0.57,1.521-1.047,3.375-1.425,5.566c-0.382,2.19-0.571,4.428-0.571,6.71
			c0,12.563,6.086,26.744,18.271,42.541c-14.465,0.387-28.737,1.67-42.825,3.86c-14.084,2.19-28.833,5.616-44.252,10.28
			c-15.417,4.661-29.217,11.42-41.396,20.27c-12.182,8.854-21.317,19.366-27.408,31.549C3.533,361.559,0.01,374.405,0.01,386.017
			c0,12.751,2.857,24.314,8.565,34.69c5.708,10.369,13.035,18.842,21.982,25.406c8.945,6.57,19.273,12.083,30.978,16.562
			c11.704,4.47,23.315,7.659,34.829,9.562c11.516,1.903,22.888,2.854,34.119,2.854c51.007,0,90.981-12.464,119.909-37.397
			c26.648-23.223,39.971-50.062,39.971-80.517c0-10.855-1.57-20.984-4.712-30.409C282.51,317.337,278.42,309.254,273.372,302.498z
			 M163.311,198.722c-9.707,0-18.937-2.475-27.694-7.426c-8.757-4.95-16.18-11.374-22.27-19.273
			c-6.088-7.898-11.418-16.796-15.987-26.695c-4.567-9.896-7.944-19.792-10.135-29.692c-2.19-9.895-3.284-19.318-3.284-28.265
			c0-18.271,4.854-33.974,14.562-47.108c9.705-13.134,23.411-19.701,41.112-19.701c12.563,0,23.935,3.899,34.118,11.704
			c10.183,7.804,18.177,17.701,23.984,29.692c5.802,11.991,10.277,24.407,13.417,37.257c3.14,12.847,4.711,24.983,4.711,36.403
			c0,19.036-4.139,34.317-12.419,45.833C195.144,192.964,181.775,198.722,163.311,198.722z M242.251,413.123
			c-5.23,8.949-12.319,15.94-21.267,20.981c-8.946,5.048-18.509,8.758-28.693,11.14c-10.183,2.385-20.889,3.572-32.12,3.572
			c-12.182,0-24.27-1.431-36.258-4.284c-11.99-2.851-23.459-7.187-34.403-12.991c-10.944-5.8-19.795-13.798-26.551-23.982
			c-6.757-10.184-10.135-21.744-10.135-34.69c0-11.419,2.568-21.601,7.708-30.55c5.142-8.945,11.709-16.084,19.702-21.408
			c7.994-5.332,17.319-9.713,27.979-13.131c10.66-3.433,20.937-5.808,30.833-7.139c9.895-1.335,19.985-1.995,30.262-1.995
			c6.283,0,11.043,0.191,14.277,0.567c1.143,0.767,4.043,2.759,8.708,5.996s7.804,5.428,9.423,6.57
			c1.615,1.137,4.567,3.326,8.85,6.563c4.281,3.237,7.327,5.661,9.135,7.279c1.803,1.618,4.421,4.045,7.849,7.279
			c3.424,3.237,5.948,6.043,7.566,8.422c1.615,2.378,3.616,5.28,5.996,8.702c2.38,3.433,4.043,6.715,4.998,9.855
			c0.948,3.142,1.854,6.567,2.707,10.277c0.855,3.72,1.283,7.569,1.283,11.57C250.105,393.713,247.487,404.182,242.251,413.123z"></path>
            <polygon points="401.998,73.089 401.998,0 365.449,0 365.449,73.089 292.358,73.089 292.358,109.636 365.449,109.636
			365.449,182.725 401.998,182.725 401.998,109.636 475.081,109.636 475.081,73.089 		"></polygon>
        </symbol>
    </defs>
</svg>