<div class="content-top-buttons">
    <?php if (Zend_Auth::getInstance()->getIdentity()) : ?>
        <?php if (!($this->leftButtonTitle)): ?>
            <a href="#popup-write" class="btn-red js-popup-link">
                добавить публикацию
            </a>
        <?php endif; ?>
    <?php else: ?>
        <a href="#" class="btn-red side-registration-open" onclick="$('.side-menu-sign').click()">
            зарегистрироваться
        </a>
        <a href="#" class="btn-blue side-login-open" onclick="$('.side-menu-sign').click()">
            Войти
        </a>
    <?php endif; ?>
</div>