<?php if (preg_match('/^http:\/\/(www.)?(youtube)|(vimeo)\.com.*/i', $this->video)) : ?>
<?php
  if (strpos($this->video, 'youtube') !== false) {
      $v = str_replace('www.youtube.com/v/', 'www.youtube.com/embed/', $this->video);
      $params = array (
          'wmode' => 'opaque',
          'showinfo' => 0,
          'ps' => 'docs',
          'iv_load_policy' => 3,
          //'vq' => 'large',
          'modestbranding' => 1,
          'rel' => 0,
          'nologo' => 1
      );
      $url = parse_url($v);
      $q = array();
      parse_str(isset($url['query']) ? $url['query'] : '', $q);
      $q = $q + $params;
      $video = $url['scheme'] . '://' . $url['host'] . $url['path'] . '?' . http_build_query($q);
  } else {
     $video = $this->video; 
  }
?>
<div class="video-area">
    <iframe style="display:inline-block" width="659" height="400" frameborder="0" src="<?= $video ?>"></iframe>
</div>
<?php endif; ?>