<?php for ($i = 0; $i < $this->cycleNum; $i++): ?>
    <article class="placeholder-article-block">
        <div class="publication publication-placeholder">
            <a class="publication-image">
                <img src="/public/images/article-placeholder.png">
                <svg class="article-placeholder">
                    <use xlink:href="#article-placeholder"></use>
                </svg>
            </a>
            <div class="publication-content">
                <div class="author-holder">
                    <a class="author-image"></a>
                    <div class="author-content">
                    </div>
                </div>
                <h5></h5>
                <ul class="meta-list">
                </ul>
            </div>
        </div>
    </article>
<?php endfor; ?>

