<div class="third">
    <div class="article1">
    <div class="info">
        <div class="date"><?= $this->date($this->item->date) ?></div>
        <a href="<?= $this->url(array('controller'=>'articles', 'id'=>$this->item->cat_id), 'default', true) ?>"><?= $this->item->c_name ?></a>
    </div>
    <h4><a href="<?= $this->url(array($this->item->alias), 'article', true) ?>"><?= $this->item->name ?></a></h4>
    <div class="photo"><a href="<?= $this->url(array($this->item->alias), 'article', true) ?>"><img src="<?= $this->getFirst($this->item->preview, '/public/images/photo.jpg') ?>" width="80" height="80" alt="<?= $this->escape($this->item->name) ?>" title="<?= $this->escape($this->item->name) ?>" /></a></div>
    <div class="text"><?= $this->strip(strip_tags($this->item->content)) ?></div>
    </div>
</div>