<?php
$item = $this->item;
?>
<article <?= !empty($this->class) ? 'class="' . $this->class . ' real"' : 'class="real"' ?>>
    <div class="publication <?= $this->iif($this->item->at_id, '', ' spec') ?>">
        <a href="<?= $this->url(array($item->alias), 'article', true) ?>" class="publication-image">
            <img src="<?= $item->image ?: '/public/images/photo.jpg' ?>" alt="<?= $this->escape($item->name) ?>"/>
            <div class="caption">
                <div class="date"><?= $this->date($item->date) ?></div>
                <h4><?= $this->escape($item->c_name) ?></h4>
            </div>
        </a>
        <div class="publication-content">
            <div class="author-holder">
                <a href="<?= $this->url(array($item->u_login), 'user', true) ?>" class="author-image">
                    <img src="<?= $item->u_avatar ?: '/public/images/avatar.png' ?>"
                         alt="<?= $this->escape($item->u_name) ?>"/>
                </a>
                <div class="author-content"><a
                        href="<?= $this->url(array($item->u_login), 'user', true) ?>"><?= $this->escape($item->u_name_f) ?>
                        <br/><?= $this->escape($item->u_name_l) ?></a></div>
            </div>
            <h5>
                <a href="<?= $this->url(array($item->alias), 'article', true) ?>"><?= $this->truncateString($this->escape($item->name), 60) ?></a>
            </h5>
            <ul class="meta-list">
                <li class="users-icon">
                    <svg class="icon-users">
                        <use xlink:href="#icon-users"></use>
                    </svg><?= $item->clicks ?></li>
                <li class="comments-icon"><?= $this->commentsCount($item->article_id) ?></li>
                <li class="likes-icon">
                    <svg class="icon-heart">
                        <use xlink:href="#icon-heart"></use>
                    </svg><?= $item->rating ?></li>
            </ul>
        </div>
    </div>
</article>