<?php $item = $this->item; ?>
<article>
    <div class="mypublication <?= $this->iif($this->item->at_id, '', ' spec') ?>">
        <div class="mypublication-image">
            <a href="<?= $this->url(array($item->alias), 'article', true) ?>" class="mypublication-image-holder">
                <img src="<?= $item->image ?: '/public/images/photo.jpg' ?>" alt="<?= $this->escape($item->name) ?>"/>
            </a>
            <div class="author-holder">
                <a href="<?= $this->url(array($item->u_login), 'user', true) ?>" class="author-image">
                    <img src="<?= $item->u_avatar ?: '/public/images/avatar.png' ?>"
                         alt="<?= $this->escape($item->u_name) ?>"/>
                </a>
                <div class="author-content"><a
                        href="<?= $this->url(array($item->u_login), 'user', true) ?>"><?= $this->escape($item->u_name_f) ?>
                        <em><?= $this->escape($item->u_name_l) ?></em></a></div>
            </div>

            <div class="item-status-<?= $this->status($item->u_rating) ?>"><?= $this->status($item->u_rating) ?></div>
        </div>
        <div class="mypublication-content">
            <h2 class="h3"><a
                    href="<?= $this->url(array($item->alias), 'article', true) ?>"><?= $this->truncateString($item->name, 60) ?></a>
            </h2>
            <div class="letter"><?= $this->escape($item->name[0]) ?></div>
            <ul class="meta-list">
                <li class="users-icon">
                    <svg class="icon-users">
                        <use xlink:href="#icon-users"></use>
                    </svg><?= $item->clicks ?></li>
                <li class="comments-icon"><?= $this->commentsCount($item->article_id) ?></li>
                <li class="likes-icon">
                    <svg class="icon-heart">
                        <use xlink:href="#icon-heart"></use>
                    </svg><?= $item->rating ?></li>
            </ul>
        </div>
    </div>
</article>