<?php
$item = $this->item;

$smallClass = '';
if ($item->type != FeedTable::TYPE_POST
    && $item->type != FeedTable::TYPE_QNA
    && $item->type != FeedTable::TYPE_ARTICLE
) {
    $smallClass = 'small';
}

?>
<article class="news-item <?= $smallClass ?>">
    <div class="news-item-left">
        <?php if (FeedTable::TYPE_PAYOUT == $item->type): ?>
            <a class="news-item-image">
                <span class="logo">
                <svg class="article-star">
                    <use xlink:href="#article-star"></use>
                </svg>
                </span>
            </a>
        <?php else: ?>
            <a href="<?= $this->url(array($item->u_login), 'user', true) ?>" class="news-item-image">
                <img src="<?= $this->getFirst($item->u_avatar, '/public/images/avatar.png') ?>" alt="image" width="93"/>
            </a>
        <?php endif; ?>
    </div>
    <div class="news-item-right">
        <ul class="news-item-meta-list">
            <li>
                <a href="<?= $this->url(array($item->u_login), 'user', true) ?>"><?= $item->u_name ?></a>
            </li>
            <li>
                <?= $this->getFeedStatus($item->type) ?>
            </li>
        </ul>
        <h2>

            <? if ($item->url) : ?>
                <a href="<?= $this->escape($item->url) ?>" class="feed_item-content_link">
                    <?= $this->escape($item->content) ?>
                </a>
            <? else: ?>
                <span class="feed_item-content_content">
                <?= $this->escape($item->content) ?>
                </span>
            <? endif; ?>
        </h2>
    </div>
</article>