<li>
    <? if ($this->element->getType() == 'Zend_Form_Element_Checkbox') : ?>
        <?php echo $this->{$this->element->helper}(
          $this->element->getName(),
          $this->element->getValue(),
          $this->element->getAttribs()
      ) ?>
      <?= $this->element->getLabel() ?>
    <? else : ?>
      <?php echo $this->formLabel($this->element->getName(),
                           $this->element->getLabel()) ?>
      <div class="hold">
      <?php echo $this->{$this->element->helper}(
          $this->element->getName(),
          $this->element->getValue(),
          $this->element->getAttribs()
      ) ?>
      </div>
    <? endif; ?>
  </li>
 