<? $_SERVER['REQUEST_METHOD'] = 'GET' ?>
<? $this->containerClass = 'conteiner-wide'; ?>
<?= $this->render('header.phtml') ?>
</div> 
<!-- end .main-indent -->
</div>
<div class="map">
        <?= $this->layout()->content ?>
    <!-- end .mainContent-->
    <div class="footer-place"></div>
</div>
<!-- end .content-->
<div class="container-wide">
<div class="main-indent">
<?= $this->render('footer.phtml') ?>