<article>
    <div class="mypublication">
        <div class="mypublication-image">
            <a href="<?= $this->url(array($this->item->alias), 'article', true) ?>" class="mypublication-image-holder">
                <img src="<?= $this->getFirst($this->item->image, '/public/images/photo.jpg') ?>" alt="image"/>
            </a>
            <div class="author-holder">
                <a href="<?= $this->url(array($this->item->u_login), 'user', true) ?>" class="author-image">
                    <img src="<?= $this->getFirst($this->item->u_avatar, '/public/images/avatar.png') ?>" alt="image"/>
                </a>
                <div class="author-content">
                    <a
                        href="<?= $this->url(array($this->item->u_login), 'user', true) ?>"><?= $this->item->u_name_f ?>
                        <em><?= $this->item->u_name_l ?></em></a>
                </div>
            </div>
            <a data-href="<?= $this->url(array('controller' => 'notepad', 'action' => 'remove', 'id' => $this->item->article_id)) ?>"
               class="delete-link notepad-minus js-like-change">
                <svg class="icon-close">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </a>
            <div
                class="item-status-<?= $this->status($this->item->u_rating) ?>"><?= $this->status($this->item->u_rating) ?></div>
        </div>
        <div class="mypublication-content">
            <h2 class="h3"><a
                    href="<?= $this->url(array($this->item->alias), 'article', true) ?>"><?= $this->truncateString($this->escape($this->item->name), 50) ?></a>
            </h2>
            <div class="letter"><?= $this->firstLetter($this->item->name) ?></div>
            <ul class="meta-list">
                <li class="users-icon">
                    <svg class="icon-users">
                        <use xlink:href="#icon-users"></use>
                    </svg>
                    <?= $this->item->clicks ?>
                </li>
                <li class="comments-icon">7</li>
                <li class="likes-icon">
                    <svg class="icon-heart">
                        <use xlink:href="#icon-heart"></use>
                    </svg>
                    <?= $this->item->rating ?>
                </li>
            </ul>
        </div>
    </div>
</article>