<article>
    <div class="podcast">
        <h3>
            <a href="<?= $this->url(array($this->item->alias), 'article', true) ?>"><?= $this->escape($this->item->name) ?></a>
        </h3>
        <div class="author-holder">
            <a href="<?= $this->url(array($this->item->u_login), 'user', true) ?>" class="author-image">
                <img src="<?= $this->item->u_avatar ?: '/public/images/avatar.png' ?>"
                     alt="<?= $this->escape($this->item->u_name) ?>"/>
            </a>
            <div class="author-content"><a
                    href="<?= $this->url(array($this->item->u_login), 'user', true) ?>"><?= $this->escape($this->item->u_name_f) ?>
                    <span><?= $this->escape($this->item->u_name_l) ?></span></a></div>
        </div>
        <a href="#" class="item-state-play" data-url="<?=$this->item->podcast?>">
            <svg class="icon-play">
                <use xlink:href="#icon-play"></use>
            </svg>
            <svg class="icon-pause">
                <use xlink:href="#icon-pause"></use>
            </svg>
        </a>
        <div class="podcast-video-line">
            <div class="podcast-video-line-current"></div>
            <div class="podcast-video-line-uploaded"></div>
        </div>
        <div class="letter"><?= $this->escape($this->item->name[0]) ?></div>
    </div>
</article>