<?php
$item = $this->item;
?>
<article class="question">
    <h3>
        <a href="<?= $this->url(array('c_alias' => $item->c_alias, 'alias' => $item->alias), 'qna', true) ?>">
            <?= $this->truncateString($item->name, 70) ?>
        </a>
    </h3>
    <div class="author-holder">
        <a href="<?= $this->url(array($item->u_login), 'user', true) ?>" class="author-image">
            <img src="<?= $item->u_avatar ?: '/public/images/avatar.png'; ?>"
                 alt="<?= $this->escape($item->u_name) ?>"/>
        </a>
        <div class="author-content"><a
                href="<?= $this->url(array($item->u_login), 'user', true) ?>"><?= $item->u_name_f ?>
                <span><?= $item->u_name_l ?></span></a></div>
    </div>
    <ul class="meta-list">
        <li class="users-icon">
            <svg class="icon-users">
                <use xlink:href="#icon-users"></use>
            </svg>
            <?= $item->clicks ?>
        </li>
        <li class="comments-icon"><?= $this->commentsCount($item->qna_id, CommentsTable::TYPOLOGY_QNA) ?></li>
        <li class="likes-icon">
            <svg class="icon-heart">
                <use xlink:href="#icon-heart"></use>
            </svg>
            <?= $this->commentsRateCount($item->qna_id) ?>
        </li>
    </ul>
    <div class="letter"><?= $this->firstLetter($item->name) ?></div>
</article>