<article class="news-item">
        <div class="news-item-left">
                <a href="<?= $this->url(array($this->item->u_login), 'user', true) ?>" class="news-item-image">
                        <img src="<?= $this->item->u_avatar ?: '/public/images/avatar.png'; ?>" alt="<?= $this->escape($this->item->u_name) ?>" width="93" height="93" />
                </a>
        </div>
        <div class="news-item-right">
                <ul class="news-item-meta-list">
                        <li><a href="<?= $this->url(array($this->item->u_login), 'user', true) ?>"><?= $this->item->u_name ?></a></li>
                        <li><a href="<?= $this->url(array('alias' => $this->item->c_alias), 'cat-qna', true) ?>"><?= $this->escape($this->item->c_name) ?></a></li>
                </ul>
                <h2><a href="<?= $this->url(array('c_alias' => $this->item->c_alias, 'alias' => $this->item->alias), 'qna', true) ?>"><?= $this->escape($this->item->name) ?></a></h2>
        </div>
</article>