<div class="top-block">
    <div class="bg">
        <? if ($this->custom) : ?>
            <?= $this->title ?>
        <? else : ?>
            <h1><?= $this->title ?></h1>
        <? endif; ?>
    </div>
</div>
<!-- end .top-block-->
<?= $this->renderAdv() ?>