<article>
    <div class="mypublication">
        <div class="mypublication-image">
            <a href="<?= $this->url(array($this->item->alias), 'article', true) ?>" class="mypublication-image-holder">
                <img src="<?= $this->item->image ?: '/public/images/photo.jpg' ?>" alt="<?= $this->item->name ?>"/>
            </a>
            <div class="author-holder">
                <a href="<?= $this->url(array($this->item->u_login), 'user', true) ?>" class="author-image">
                    <img src="<?= $this->item->u_avatar ?: '/public/images/avatar.png' ?>"
                         alt="<?= $this->item->u_name ?>"/>
                </a>
                <div class="author-content"><a href="#"><?= $this->item->u_name_f ?>
                        <em><?= $this->item->u_name_l ?></em></a></div>
            </div>
            <?php if ($this->item->is_rework): ?>
                <a href="<?= $this->url(array('controller' => 'articles', 'action' => 'add', 'id' => $this->item->article_id)) ?>" class="info-link">
                    <svg class="icon-info">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </a>
            <?php else: ?>
                <?php if (!$this->item->is_approved): ?>
                <a href="<?= $this->url(array('controller' => 'articles', 'action' => 'add', 'id' => $this->item->article_id)) ?>"
                   class="edit-link">
                    <svg class="icon-pen">
                        <use xlink:href="#icon-pen"></use>
                    </svg>
                </a>
                <?php endif; ?>
            <?php endif; ?>
        </div>
        <div class="mypublication-content">
            <h2 class="h3"><a
                    href="<?= $this->url(array($this->item->alias), 'article', true) ?>"><?= $this->truncateString($this->item->name, 50) ?></a>
            </h2>
            <div class="letter"><?= $this->firstLetter($this->item->name) ?></div>
            <ul class="meta-list">
                <li class="users-icon">
                    <svg class="icon-users">
                        <use xlink:href="#icon-users"></use>
                    </svg>
                    <?= $this->item->clicks ?>
                </li>
                <li class="comments-icon">7</li>
                <li class="likes-icon">
                    <svg class="icon-heart">
                        <use xlink:href="#icon-heart"></use>
                    </svg>
                    <?= $this->item->rating ?>
                </li>
            </ul>
        </div>
    </div>
</article>