<table class="list">
    <? foreach ($this->paginator as $page) : ?>
        <tr class="<?= $this->cycle(array('even', 'odd'))->next(); ?>">
            <td width="1%"><img src="/public/images/admin/file.png"></td>
            <td><?= $this->escape($page->dattm) ?></td>
            <td><?= $this->escape($page->ip) ?></td>
            <td><strong><?= $this->escape($page->u_login) ?></strong> (<a href="/admin/users/edit?id=<?= $page->user_id ?>"><?= $this->escape($page->u_name_f . ' ' . $page->u_name_l ) ?></a>)<br />
  <?= $this->escape($page->u_email) ?></td>
            <td><?= $this->escape($page->u_country) ?> <?= $this->escape($page->u_city) ?></td>
        </tr>
    <? endforeach; ?>	
</table>

<?=
$this->paginationControl($this->paginator, 'Sliding', 'paginationControl.phtml');
?>