<? $num=0; ?>
    <? foreach($this->paginator as $item) : ?>
        <? if ($num==0) : ?>
            <ul class="members">
        <? endif; ?>
        <? $num++ ?>
            <li><a href="<?= $this->url(array($item->login), 'user', true) ?>"><img src="<?= $this->getFirst($item->avatar, '/public/images/avatar.png') ?>" width="80" height="80" alt="<?= $item->login ?>" /> <span><?= $item->name_f ?> <?= $item->name_l ?></span></a></li>
        <? if ($num == 7) : ?>
        <? $num=0; ?>
            </ul>
        <? endif; ?>
    <? endforeach; ?> 
<? if ($num) : ?> 
</ul>
<? endif; ?>
<?= $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'paginationControlDots.phtml'); ?>